src/flows/Account_Program_Member_Registration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>apexSendEmail</name>
        <label>apexSendEmail</label>
        <locationX>182</locationX>
        <locationY>5294</locationY>
        <actionName>OneDSCanadaSendEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>showEmailSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateDeveloperName</name>
            <value>
                <elementReference>emailTemplateDeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>createdProgramMemberId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>sendEmailSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>apexSendEmail_0</name>
        <label>apexSendEmail</label>
        <locationX>1502</locationX>
        <locationY>5486</locationY>
        <actionName>OneDSCanadaSendEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>showEmailSent_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateDeveloperName</name>
            <value>
                <elementReference>emailTemplateDeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>createdProgramMemberId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>sendEmailSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>checkIfProgramHasLevels</name>
        <label>checkIfProgramHasLevels</label>
        <locationX>3042</locationX>
        <locationY>3122</locationY>
        <actionName>Flow_getDependentPicklistValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assignDefaultProgramHasLevels</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>fieldDepencencyInput</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>navigateToCreatedRecord</name>
        <label>navigateToCreatedRecord</label>
        <locationX>1997</locationX>
        <locationY>6170</locationY>
        <actionName>c:Flow_NavigateToSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>createdProgramMemberId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignAccountPlanId</name>
        <label>assignAccountPlanId</label>
        <locationX>314</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>createdAccountPlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountPlan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOneDSProgramMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAccountPlanId_0</name>
        <label>assignAccountPlanId</label>
        <locationX>1634</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>createdAccountPlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountPlan_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOneDSProgramMember_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAdvancedProfilingId</name>
        <label>assignAdvancedProfilingId</label>
        <locationX>314</locationX>
        <locationY>4070</locationY>
        <assignmentItems>
            <assignToReference>createdAdvancedProfilingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAdvancedProfiling.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccountPlan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAdvancedProfilingId_0</name>
        <label>assignAdvancedProfilingId</label>
        <locationX>1634</locationX>
        <locationY>4070</locationY>
        <assignmentItems>
            <assignToReference>createdAdvancedProfilingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAdvancedProfiling_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccountPlan_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreatedLPPExternalId</name>
        <label>assignCreatedLPPExternalId</label>
        <locationX>182</locationX>
        <locationY>4886</locationY>
        <assignmentItems>
            <assignToReference>loyaltyProgramparticipantExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOneDSProgramMember.ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionContactPreferredLanguage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreatedLPPExternalId_0</name>
        <label>assignCreatedLPPExternalId</label>
        <locationX>1502</locationX>
        <locationY>4886</locationY>
        <assignmentItems>
            <assignToReference>loyaltyProgramparticipantExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOneDSProgramMember_0.ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionEmailSubtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCurrentRecord</name>
        <label>assignCurrentRecord</label>
        <locationX>1997</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccountPrograms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDefaultProgramHasLevels</name>
        <label>assignDefaultProgramHasLevels</label>
        <locationX>3042</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>programHasLevels</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSubTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDSProENTemplate</name>
        <label>assignDSProENTemplate</label>
        <locationX>2162</locationX>
        <locationY>5210</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One_DS_Pro_Canada_T_C_EN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexSendEmail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDSProFRTemplate</name>
        <label>assignDSProFRTemplate</label>
        <locationX>1898</locationX>
        <locationY>5210</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One_DS_PRO_Canada_T_C_FR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexSendEmail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEnglishEmailTemplate</name>
        <label>assignEnglishEmailTemplate</label>
        <locationX>314</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One_DS_Canada_T_C_EN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexSendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignExistingOneDSMemberId</name>
        <label>assignExistingOneDSMemberId</label>
        <locationX>578</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>createdProgramMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExistingOneDSParticipant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loyaltyProgramparticipantExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExistingOneDSParticipant.ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionIsSalesLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignExistingOneDSMemberId_0</name>
        <label>assignExistingOneDSMemberId</label>
        <locationX>2426</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>createdProgramMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExistingOneDSParticipant_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loyaltyProgramparticipantExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExistingOneDSParticipant_0.ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionIsSalesLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFieldDependencyActionInput</name>
        <label>assignFieldDependencyActionInput</label>
        <locationX>3042</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>fieldDepencencyInput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LoyaltyProgramParticipant__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fieldDepencencyInput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Level__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkIfProgramHasLevels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFrenchEmailTemplate</name>
        <label>assignFrenchEmailTemplate</label>
        <locationX>50</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One_DS_Canada_T_C_FR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexSendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLabAllianceENTemplate</name>
        <label>assignLabAllianceENTemplate</label>
        <locationX>1106</locationX>
        <locationY>5210</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One_DS_Canada_Lab_Alliance_T_C_EN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexSendEmail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLabAllianceFRTemplate</name>
        <label>assignLabAllianceFRTemplate</label>
        <locationX>842</locationX>
        <locationY>5210</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One_DS_Canada_Lab_Alliance_T_C_FR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexSendEmail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOneDSOENTemplate</name>
        <label>assignOneDSOENTemplate</label>
        <locationX>1634</locationX>
        <locationY>5210</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>apexSendEmail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOneDSOFRTemplate</name>
        <label>assignOneDSOFRTemplate</label>
        <locationX>1370</locationX>
        <locationY>5210</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateDeveloperName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>apexSendEmail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPaymentPreferrence_DSO</name>
        <label>assignPaymentPreferrence_DSO</label>
        <locationX>1238</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>selectedPaymentPreferrence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputPaymentPreference_DSO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showSelectedContact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPaymentPreferrence_DSPRO</name>
        <label>assignPaymentPreferrence_DSPRO</label>
        <locationX>1502</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>selectedPaymentPreferrence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputPaymentPreference_DSPRO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showSelectedContact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignProgramHasLevels</name>
        <label>assignProgramHasLevels</label>
        <locationX>3130</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>programHasLevels</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSubTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSelectedAccount</name>
        <label>assignSelectedAccount</label>
        <locationX>2921</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>selectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOriginAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSelectedAccountSalesLead_0</name>
        <label>assignSelectedAccount</label>
        <locationX>2261</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>selectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOriginSalesLead.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccountProgram</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSelectedContactId</name>
        <label>assignSelectedContactId</label>
        <locationX>1073</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>selectedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOriginContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSureSmileMemberId</name>
        <label>assignSureSmileMemberId</label>
        <locationX>3350</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>createdProgramMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExistingMember.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loyaltyProgramparticipantExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExistingOneDSParticipant.ExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionIsSalesLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAccountProgramCountAccount</name>
        <label>setAccountProgramCount</label>
        <locationX>2921</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>programMemberCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filterAccountProgramsAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionHasProgramAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAccountProgramCountContact</name>
        <label>setAccountProgramCount</label>
        <locationX>1073</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>programMemberCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filterAccountProgramsContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionHasProgramContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAccountProgramCountSalesLead</name>
        <label>setAccountProgramCount</label>
        <locationX>2112</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>programMemberCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filterAccountProgramsSalesLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionHasProgramSalesLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSalesLeadHasContact</name>
        <label>setSalesLeadHasContact</label>
        <locationX>1997</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>salesLeadHasContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOriginSalesLead.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccountProgram</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSalesLeadId</name>
        <label>setSalesLeadId</label>
        <locationX>2112</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>salesLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOriginSalesLead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAnnualCashPayout</name>
        <choiceText>Annual Cash Payout</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual Cash Payout</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAnnualProductCreditVoucher</name>
        <choiceText>Annual Product Credit Voucher</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual Product Credit Voucher</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAnnualRebateVoucher</name>
        <choiceText>Annual Rebate Voucher</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annual Rebate Voucher</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNone</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceQuarterlyPayouts</name>
        <choiceText>Quarterly Payouts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarterly Payouts</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>filterAccountProgramsAccount</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Account Programs</label>
        <locationX>2921</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_Account_Programs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getAccountPrograms</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Account_Programs.Country__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>getOriginAccount.Country__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setAccountProgramCountAccount</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filterAccountProgramsContact</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Account Programs</label>
        <locationX>1073</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_Account_Programs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getAccountPrograms</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Account_Programs.Country__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>getOriginParentAccount.Country__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setAccountProgramCountContact</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filterAccountProgramsSalesLead</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Account Programs</label>
        <locationX>2112</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_Account_Programs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getAccountPrograms</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Account_Programs.Country__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>getOriginAccountSalesLead.Country__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setAccountProgramCountSalesLead</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decisionContactPreferredLanguage</name>
        <label>decisionContactPreferredLanguage</label>
        <locationX>182</locationX>
        <locationY>4994</locationY>
        <defaultConnector>
            <targetReference>assignEnglishEmailTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>prefLangEnglish</defaultConnectorLabel>
        <rules>
            <name>prefLangFrench</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContact_0.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFrenchEmailTemplate</targetReference>
            </connector>
            <label>prefLangFrench</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionDSProLanguage</name>
        <label>decisionDSProLanguage</label>
        <locationX>2030</locationX>
        <locationY>5102</locationY>
        <defaultConnector>
            <targetReference>assignDSProENTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DSPro_EN</defaultConnectorLabel>
        <rules>
            <name>DSPro_FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContact_0_0.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDSProFRTemplate</targetReference>
            </connector>
            <label>DSPro_FR</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionEmailSubtype</name>
        <label>decisionEmailSubtype</label>
        <locationX>1502</locationX>
        <locationY>4994</locationY>
        <defaultConnector>
            <targetReference>decisionDSProLanguage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DS Pro</defaultConnectorLabel>
        <rules>
            <name>Lab_Alliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountProgram.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lab Alliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionLabAllianceLanguage</targetReference>
            </connector>
            <label>Lab Alliance</label>
        </rules>
        <rules>
            <name>One_DSO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountProgram.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One DSO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionOneDSOLanguage</targetReference>
            </connector>
            <label>One DSO</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasAccountProgramMember</name>
        <label>decisionHasAccountProgramMember</label>
        <locationX>1931</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>decisionSalesLeadHasContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>hasNotMember</defaultConnectorLabel>
        <rules>
            <name>hasMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOriginSalesLead.AccountProgramMember__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSalesLeadRegisteredToProgram</targetReference>
            </connector>
            <label>hasMember</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasProgramAccount</name>
        <label>decisionHasProgram</label>
        <locationX>2921</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>showNoProgramsAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No programs available</defaultConnectorLabel>
        <rules>
            <name>outcomeProgramsAreAvailableAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programMemberCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showStart</targetReference>
            </connector>
            <label>Programs are available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasProgramContact</name>
        <label>decisionHasProgram</label>
        <locationX>1073</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>showNoProgramsAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No programs available</defaultConnectorLabel>
        <rules>
            <name>outcomeProgramsAreAvailableContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programMemberCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showStart_0</targetReference>
            </connector>
            <label>Programs are available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasProgramLevels</name>
        <label>decisionHasProgramLevels</label>
        <locationX>3262</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>loopSubTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>levelMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopSubTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getAccountProgram.Subtype__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignProgramHasLevels</targetReference>
            </connector>
            <label>levelMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasProgramSalesLead</name>
        <label>decisionHasProgram</label>
        <locationX>2112</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>showNoProgramsAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No programs available</defaultConnectorLabel>
        <rules>
            <name>outcomeProgramsAreAvailableSalesLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programMemberCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionSalesLeadStatus</targetReference>
            </connector>
            <label>Programs are available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionIsSalesLead</name>
        <label>decisionIsSalesLead</label>
        <locationX>1997</locationX>
        <locationY>5870</locationY>
        <defaultConnector>
            <targetReference>navigateToCreatedRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isAccountOrContact</defaultConnectorLabel>
        <rules>
            <name>isSalesLead_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateSalesLead</targetReference>
            </connector>
            <label>isSalesLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionLabAllianceLanguage</name>
        <label>decisionLabAllianceLanguage</label>
        <locationX>974</locationX>
        <locationY>5102</locationY>
        <defaultConnector>
            <targetReference>assignLabAllianceENTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>labAlliance_EN</defaultConnectorLabel>
        <rules>
            <name>labAlliance_FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContact_0_0.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignLabAllianceFRTemplate</targetReference>
            </connector>
            <label>labAlliance_FR</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionOneDSOLanguage</name>
        <label>decisionOneDSOLanguage</label>
        <locationX>1502</locationX>
        <locationY>5102</locationY>
        <defaultConnector>
            <targetReference>assignOneDSOENTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OneDSO_EN</defaultConnectorLabel>
        <rules>
            <name>OneDSO_FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContact_0_0.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOneDSOFRTemplate</targetReference>
            </connector>
            <label>OneDSO_FR</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionProgramType</name>
        <label>decisionProgramType</label>
        <locationX>1997</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>showAccountProgramNotSupported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Supported</defaultConnectorLabel>
        <rules>
            <name>OneDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountProgram.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One DS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountProgram.Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>getAccount.Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getExistingOneDSParticipant</targetReference>
            </connector>
            <label>OneDS</label>
        </rules>
        <rules>
            <name>One_DSO_OR_One_DS_Pro_OR_Lab_Alliance</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>getAccountProgram.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One DSO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountProgram.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One DS Pro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountProgram.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lab Alliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountProgram.Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>getAccount.Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getExistingOneDSParticipant_0</targetReference>
            </connector>
            <label>One DSO OR One DS Pro OR Lab Alliance</label>
        </rules>
        <rules>
            <name>Supported_Country</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getAccountProgram.Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>getAccount.Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getExistingMember</targetReference>
            </connector>
            <label>Supported Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionSalesLeadHasContact</name>
        <label>decisionSalesLeadHasContact</label>
        <locationX>2129</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>showStartSalesLeadAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>hasNotContact</defaultConnectorLabel>
        <rules>
            <name>hasContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOriginSalesLead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showStartSalesLeadContact</targetReference>
            </connector>
            <label>hasContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionSalesLeadStatus</name>
        <label>decisionSalesLeadStatus</label>
        <locationX>1700</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>decisionHasAccountProgramMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isOpen</defaultConnectorLabel>
        <rules>
            <name>isCompletedCancelledExpired</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getOriginSalesLead.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOriginSalesLead.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOriginSalesLead.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showPickOpenSalesLead</targetReference>
            </connector>
            <label>isCompletedCancelledExpired</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionSObjectType</name>
        <label>decisionSObjectType</label>
        <locationX>1997</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>assignSelectedAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isAccount</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSelectedContactId</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
        <rules>
            <name>isSalesLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSalesLeadId</targetReference>
            </connector>
            <label>isSalesLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionSObjectType_0</name>
        <label>decisionSObjectType</label>
        <locationX>1997</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>showSelectContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isAccount</defaultConnectorLabel>
        <rules>
            <name>isContact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectAccount</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
        <rules>
            <name>isSalesLead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>salesLeadHasContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>isSalesLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesAccountPlanExist</name>
        <label>doesAccountPlanExist</label>
        <locationX>182</locationX>
        <locationY>4370</locationY>
        <defaultConnector>
            <targetReference>assignAccountPlanId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccountPlanTrue</defaultConnectorLabel>
        <rules>
            <name>AccountPlanFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountPlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAccountPlan</targetReference>
            </connector>
            <label>AccountPlanFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesAccountPlanExist_0</name>
        <label>doesAccountPlanExist</label>
        <locationX>1502</locationX>
        <locationY>4370</locationY>
        <defaultConnector>
            <targetReference>assignAccountPlanId_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccountPlanTrue</defaultConnectorLabel>
        <rules>
            <name>AccountPlanFalse_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountPlan_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAccountPlan_0</targetReference>
            </connector>
            <label>AccountPlanFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesAdvancedProfilingExist</name>
        <label>doesAdvancedProfilingExist</label>
        <locationX>182</locationX>
        <locationY>3962</locationY>
        <defaultConnector>
            <targetReference>assignAdvancedProfilingId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AdvancedProfilingTrue</defaultConnectorLabel>
        <rules>
            <name>AdvancedProfilingFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAdvancedProfiling</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAdvancedProfiling</targetReference>
            </connector>
            <label>AdvancedProfilingFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesAdvancedProfilingExist_0</name>
        <label>doesAdvancedProfilingExist</label>
        <locationX>1502</locationX>
        <locationY>3962</locationY>
        <defaultConnector>
            <targetReference>assignAdvancedProfilingId_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AdvancedProfilingTrue</defaultConnectorLabel>
        <rules>
            <name>AdvancedProfilingFalse_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAdvancedProfiling_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAdvancedProfiling_0</targetReference>
            </connector>
            <label>AdvancedProfilingFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesMemberExist</name>
        <label>doesMemberExist</label>
        <locationX>3196</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>showAlreadyEnrolledSureSmile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ExistTrue</defaultConnectorLabel>
        <rules>
            <name>ExistFalse_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getExistingMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountProgram.AllowMultipleMembersPerContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFieldDependencyActionInput</targetReference>
            </connector>
            <label>ExistFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesOneDSMemberExist</name>
        <label>doesOneDSMemberExist</label>
        <locationX>380</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>showAlreadyEnrolledOneDS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ExistTrue</defaultConnectorLabel>
        <rules>
            <name>ExistFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingOneDSParticipant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showPracticeDetails</targetReference>
            </connector>
            <label>ExistFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesOneDSMemberExist_0</name>
        <label>doesOneDSMemberExist</label>
        <locationX>1964</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>showAlreadyEnrolledOneDS_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ExistTrue</defaultConnectorLabel>
        <rules>
            <name>ExistFalse_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingOneDSParticipant_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showPracticeDetails_0</targetReference>
            </connector>
            <label>ExistFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasProgramTypeLevels</name>
        <label>hasProgramTypeLevels</label>
        <locationX>3042</locationX>
        <locationY>3830</locationY>
        <defaultConnector>
            <targetReference>getProgramMemberRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>programTypeHasNotLevels</defaultConnectorLabel>
        <rules>
            <name>programTypeHasLevels</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programHasLevels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSelectLevel</targetReference>
            </connector>
            <label>programTypeHasLevels</label>
        </rules>
    </decisions>
    <decisions>
        <name>isDealerSelected</name>
        <label>isDealerSelected</label>
        <locationX>182</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>showSelectedContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>dealerSelectedFalse</defaultConnectorLabel>
        <rules>
            <name>dealerSelectedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputDealerLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showSelectDistRep</targetReference>
            </connector>
            <label>dealerSelectedTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>isDSO_DSPRO</name>
        <label>isDSO_DSPRO</label>
        <locationX>1502</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>showSelectedContact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DSO_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountProgram.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One DSO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPaymentPreferrence_DSO</targetReference>
            </connector>
            <label>DSO_TRUE</label>
        </rules>
        <rules>
            <name>DSPRO_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountProgram.Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One DS Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPaymentPreferrence_DSPRO</targetReference>
            </connector>
            <label>DSPRO_TRUE</label>
        </rules>
    </decisions>
    <description>211117: TFUS-000003761
220315: TFUS-000004132
230509: TFUS-000005648
230530: TFUS-000005649</description>
    <dynamicChoiceSets>
        <name>paymentPreferrenceChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentPreference__c</picklistField>
        <picklistObject>LoyaltyProgramParticipant__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>formulaRemitAddress</name>
        <dataType>String</dataType>
        <expression>{!inputRemitAddress.street}&amp;BR()
&amp;{!inputRemitAddress.city}&amp;&quot; &quot;&amp;{!inputRemitAddress.province}&amp;&quot; &quot;&amp;{!inputRemitAddress.postalCode}&amp;BR()
&amp;{!inputRemitAddress.country}</expression>
    </formulas>
    <formulas>
        <name>formulaRemitAddress_0</name>
        <dataType>String</dataType>
        <expression>{!inputRemitAddress_0.street}&amp;BR()
&amp;{!inputRemitAddress_0.city}&amp;&quot; &quot;&amp;{!inputRemitAddress_0.province}&amp;&quot; &quot;&amp;{!inputRemitAddress_0.postalCode}&amp;BR()
&amp;{!inputRemitAddress_0.country}</expression>
    </formulas>
    <formulas>
        <name>formulaRemitBillingAddress</name>
        <dataType>String</dataType>
        <expression>{!getAccount.BillingStreet}&amp;BR()
&amp;{!getAccount.BillingCity}&amp;&quot; &quot;&amp;{!getAccount.BillingState}&amp;&quot; &quot;&amp;{!getAccount.BillingPostalCode}&amp;BR()
&amp;{!getAccount.BillingCountry}</expression>
    </formulas>
    <formulas>
        <name>recordIdPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},3)</expression>
    </formulas>
    <interviewLabel>Account Program Member: Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Program Member: Registration</label>
    <loops>
        <name>loopSubTypes</name>
        <label>loopSubTypes</label>
        <locationX>3042</locationX>
        <locationY>3338</locationY>
        <collectionReference>checkIfProgramHasLevels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decisionHasProgramLevels</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>hasProgramTypeLevels</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAccountPlan</name>
        <label>createAccountPlan</label>
        <locationX>50</locationX>
        <locationY>4478</locationY>
        <assignRecordIdToReference>createdAccountPlanId</assignRecordIdToReference>
        <connector>
            <targetReference>createOneDSProgramMember</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountPlanOwner__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Plan_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Plan__c</object>
    </recordCreates>
    <recordCreates>
        <name>createAccountPlan_0</name>
        <label>createAccountPlan</label>
        <locationX>1370</locationX>
        <locationY>4478</locationY>
        <assignRecordIdToReference>createdAccountPlanId</assignRecordIdToReference>
        <connector>
            <targetReference>createOneDSProgramMember_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountPlanOwner__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Plan_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Plan__c</object>
    </recordCreates>
    <recordCreates>
        <name>createAdvancedProfiling</name>
        <label>createAdvancedProfiling</label>
        <locationX>50</locationX>
        <locationY>4070</locationY>
        <assignRecordIdToReference>createdAdvancedProfilingId</assignRecordIdToReference>
        <connector>
            <targetReference>getAccountPlan</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>AdvancedProfiling__c</object>
    </recordCreates>
    <recordCreates>
        <name>createAdvancedProfiling_0</name>
        <label>createAdvancedProfiling</label>
        <locationX>1370</locationX>
        <locationY>4070</locationY>
        <assignRecordIdToReference>createdAdvancedProfilingId</assignRecordIdToReference>
        <connector>
            <targetReference>getAccountPlan_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>AdvancedProfiling__c</object>
    </recordCreates>
    <recordCreates>
        <name>createOneDSProgramMember</name>
        <label>createOneDSProgramMember</label>
        <locationX>182</locationX>
        <locationY>4670</locationY>
        <assignRecordIdToReference>createdProgramMemberId</assignRecordIdToReference>
        <connector>
            <targetReference>getOneDSProgramMember</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountPlan__c</field>
            <value>
                <elementReference>createdAccountPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdvancedProfiling__c</field>
            <value>
                <elementReference>createdAdvancedProfilingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer__c</field>
            <value>
                <elementReference>inputDealerLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistributorRep__c</field>
            <value>
                <elementReference>selectedDistributorRepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgram__c</field>
            <value>
                <elementReference>getAccountProgram.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentPreference__c</field>
            <value>
                <elementReference>inputPaymentPreference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getOneDSProgramMemberRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemitAddress__c</field>
            <value>
                <elementReference>formulaRemitAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLeadSource__c</field>
            <value>
                <elementReference>salesLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesRep__c</field>
            <value>
                <elementReference>formulaCurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>getAccountProgram.Subtype__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramParticipant__c</object>
    </recordCreates>
    <recordCreates>
        <name>createOneDSProgramMember_0</name>
        <label>createOneDSProgramMember</label>
        <locationX>1502</locationX>
        <locationY>4670</locationY>
        <assignRecordIdToReference>createdProgramMemberId</assignRecordIdToReference>
        <connector>
            <targetReference>getOneDSProgramMember_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountPlan__c</field>
            <value>
                <elementReference>createdAccountPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdvancedProfiling__c</field>
            <value>
                <elementReference>createdAdvancedProfilingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgram__c</field>
            <value>
                <elementReference>getAccountProgram.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentPreference__c</field>
            <value>
                <elementReference>selectedPaymentPreferrence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getOneDSProgramMemberRT_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemitAddress__c</field>
            <value>
                <elementReference>formulaRemitAddress_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLeadSource__c</field>
            <value>
                <elementReference>salesLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesRep__c</field>
            <value>
                <elementReference>formulaCurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>getAccountProgram.Subtype__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramParticipant__c</object>
    </recordCreates>
    <recordCreates>
        <name>createSureSmileProgramMember</name>
        <label>createSureSmileProgramMember</label>
        <locationX>3042</locationX>
        <locationY>4238</locationY>
        <assignRecordIdToReference>createdProgramMemberId</assignRecordIdToReference>
        <connector>
            <targetReference>decisionIsSalesLead</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>inputSureSmileLevelPicklist.depresId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgram__c</field>
            <value>
                <elementReference>getAccountProgram.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getProgramMemberRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemitAddress__c</field>
            <value>
                <elementReference>formulaRemitBillingAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLeadSource__c</field>
            <value>
                <elementReference>salesLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesRep__c</field>
            <value>
                <elementReference>formulaCurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>getAccountProgram.Subtype__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramParticipant__c</object>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>1997</locationX>
        <locationY>2582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionProgramType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountPlan</name>
        <label>getAccountPlan</label>
        <locationX>182</locationX>
        <locationY>4262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesAccountPlanExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountPlan_0</name>
        <label>getAccountPlan</label>
        <locationX>1502</locationX>
        <locationY>4262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesAccountPlanExist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountProgram</name>
        <label>getAccountProgram</label>
        <locationX>1997</locationX>
        <locationY>2066</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionSObjectType_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgram__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountPrograms</name>
        <label>getAccountPrograms</label>
        <locationX>1997</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionSObjectType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AllowProgramMembers__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyProgram__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>AllowProgramMembers__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAdvancedProfiling</name>
        <label>getAdvancedProfiling</label>
        <locationX>182</locationX>
        <locationY>3854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesAdvancedProfilingExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AdvancedProfiling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAdvancedProfiling_0</name>
        <label>getAdvancedProfiling</label>
        <locationX>1502</locationX>
        <locationY>3854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesAdvancedProfilingExist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AdvancedProfiling__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>1997</locationX>
        <locationY>2474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get selected contact data</description>
        <name>getContact_0</name>
        <label>getContact</label>
        <locationX>182</locationX>
        <locationY>3530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenSendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get selected contact data</description>
        <name>getContact_0_0</name>
        <label>getContact</label>
        <locationX>1502</locationX>
        <locationY>3530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenSendEmail_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExistingMember</name>
        <label>getExistingMember</label>
        <locationX>3196</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesMemberExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgram__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountProgram.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramParticipant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExistingOneDSParticipant</name>
        <label>getExistingOneDSParticipant</label>
        <locationX>380</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesOneDSMemberExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgram__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountProgram.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramParticipant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExistingOneDSParticipant_0</name>
        <label>getExistingOneDSParticipant</label>
        <locationX>1964</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesOneDSMemberExist_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One DS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One DSO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One DS Pro</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lab Alliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramParticipant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOneDSProgramMember</name>
        <label>getOneDSProgramMember</label>
        <locationX>182</locationX>
        <locationY>4778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCreatedLPPExternalId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdProgramMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramParticipant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOneDSProgramMember_0</name>
        <label>getOneDSProgramMember</label>
        <locationX>1502</locationX>
        <locationY>4778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCreatedLPPExternalId_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdProgramMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramParticipant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record type id for the Loyalty_Program record type for the LoyaltyProgramParticipant__c record that will be created.</description>
        <name>getOneDSProgramMemberRT</name>
        <label>getOneDSProgramMemberRT</label>
        <locationX>182</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAdvancedProfiling</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loyalty_Program</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LoyaltyProgramParticipant__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record type id for the Loyalty_Program record type for the LoyaltyProgramParticipant__c record that will be created.</description>
        <name>getOneDSProgramMemberRT_0</name>
        <label>getOneDSProgramMemberRT</label>
        <locationX>1502</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAdvancedProfiling_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loyalty_Program</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LoyaltyProgramParticipant__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>TFUS-000002932</description>
        <name>getOriginAccount</name>
        <label>getOriginAccount</label>
        <locationX>2921</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filterAccountProgramsAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOriginAccountSalesLead</name>
        <label>getOriginAccount</label>
        <locationX>2112</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filterAccountProgramsSalesLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOriginSalesLead.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>TFUS-000002932</description>
        <name>getOriginContact</name>
        <label>getOriginContact</label>
        <locationX>1073</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOriginParentAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>TFUS-000002932</description>
        <name>getOriginParentAccount</name>
        <label>getOriginParentAccount</label>
        <locationX>1073</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filterAccountProgramsContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOriginContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOriginSalesLead</name>
        <label>getOriginSalesLead</label>
        <locationX>2112</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOriginAccountSalesLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Field_Sales_Project_Members__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record type id for the Loyalty_Program record type for the LoyaltyProgramParticipant__c record that will be created.</description>
        <name>getProgramMemberRT</name>
        <label>getProgramMemberRT</label>
        <locationX>3042</locationX>
        <locationY>4130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createSureSmileProgramMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountProgram.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LoyaltyProgramParticipant__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateSalesLead</name>
        <label>updateSalesLead</label>
        <locationX>1865</locationX>
        <locationY>5978</locationY>
        <connector>
            <targetReference>navigateToCreatedRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountProgramMember__c</field>
            <value>
                <elementReference>createdProgramMemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Field_Sales_Project_Members__c</object>
    </recordUpdates>
    <screens>
        <name>screenSelectLevel</name>
        <label>screenSelectLevel</label>
        <locationX>2910</locationX>
        <locationY>3938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getProgramMemberRT</targetReference>
        </connector>
        <fields>
            <name>msgSureSmileTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(62, 62, 60);&quot;&gt;Select Level&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgSureSmile</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You are about to enroll the customer in the following program: {!getAccountProgram.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputSureSmileLevelPicklist</name>
            <extensionName>c:Flow_DependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultVal</name>
                <value>
                    <elementReference>getAccountProgram.Subtype__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>depField</name>
                <value>
                    <stringValue>Level__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field2req</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>depresId</name>
                <value>
                    <elementReference>selectedSureSmileLevel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>LoyaltyProgramParticipant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>0126M000000cpGTQAY</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSendEmail</name>
        <label>screenSendEmail</label>
        <locationX>182</locationX>
        <locationY>3638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOneDSProgramMemberRT</targetReference>
        </connector>
        <fields>
            <name>msgSendEmailTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Send Terms and Conditions&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgSendEmailBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 72px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Click next to send an email with a confirmation link for the terms and conditions document. The email will be sent to &lt;b&gt;&lt;u&gt;{!getContact_0.Email}&lt;/u&gt;&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSendEmail_0</name>
        <label>screenSendEmail</label>
        <locationX>1502</locationX>
        <locationY>3638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOneDSProgramMemberRT_0</targetReference>
        </connector>
        <fields>
            <name>msgSendEmailTitle_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Send Terms and Conditions&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgSendEmailBody_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 72px; color: rgb(62, 62, 60);&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Click next to send an email with a confirmation link for the terms and conditions document. The email will be sent to &lt;b&gt;&lt;u&gt;{!getContact_0_0.Email}&lt;/u&gt;&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showAccountProgramNotSupported</name>
        <label>showAccountProgramNotSupported</label>
        <locationX>3614</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgNotSupportedTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(62, 62, 60);&quot;&gt;Account Program not Supported&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgNotSupportedBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The account program you selected is not supported in this flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showAlreadyEnrolledOneDS</name>
        <label>showAlreadyEnrolledOneDS</label>
        <locationX>578</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignExistingOneDSMemberId</targetReference>
        </connector>
        <fields>
            <name>msgExistingTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;This Customer is Already Being Enrolled&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgAlreadyEnrolledOneDS</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Click Next to navigate to the consultation interview.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showAlreadyEnrolledOneDS_0</name>
        <label>showAlreadyEnrolledOneDS</label>
        <locationX>2426</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignExistingOneDSMemberId_0</targetReference>
        </connector>
        <fields>
            <name>msgExistingTitle_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;This Customer is Already Enrolled in a Program&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgAlreadyEnrolledOneDS_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click Next to navigate to the member record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showAlreadyEnrolledSureSmile</name>
        <label>showAlreadyEnrolledSureSmile</label>
        <locationX>3350</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignSureSmileMemberId</targetReference>
        </connector>
        <fields>
            <name>msgExistingTitle_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;This Customer is Already Enrolled&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgAlreadyEnrolledOneDS_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click Next to navigate to the existing program member record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showEmailSent</name>
        <label>showEmailSent</label>
        <locationX>182</locationX>
        <locationY>5402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionIsSalesLead</targetReference>
        </connector>
        <fields>
            <name>msgEmailSentTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;An Email Has Been Sent&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendEmailSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgEmailSent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 72px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!getContact_0.Full_Name__c} will have to accept the terms and conditions. You will get a notification once that happens. You will be navigated to the consultation form in the next step.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendEmailSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgEmailNotSentTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;Something Went Wrong &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendEmailSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgEmailNotSent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 72px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The email couldn&apos;t be sent.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You will be navigated to the consultation form in the next step. From there, you will have to manually send an email with the terms &amp;amp; conditions to {!getContact_0.Full_Name__c}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendEmailSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showEmailSent_0</name>
        <label>showEmailSent</label>
        <locationX>1502</locationX>
        <locationY>5594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionIsSalesLead</targetReference>
        </connector>
        <fields>
            <name>msgEmailSentTitle_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;An Email Has Been Sent&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendEmailSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgEmailSent_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 72px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!getContact_0_0.Full_Name__c} will have to accept the terms and conditions. You will get a notification once that happens. You will be navigated to the consultation form in the next step.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendEmailSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgEmailNotSentTitle_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;Something Went Wrong &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendEmailSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgEmailNotSent_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 72px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The email couldn&apos;t be sent.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You will be navigated to the consultation form in the next step. From there, you will have to manually send an email with the terms &amp;amp; conditions to {!getContact_0.Full_Name__c}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sendEmailSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoProgramsAvailable</name>
        <label>showNoProgramsAvailable</label>
        <locationX>1205</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>headerNoProgramsAvailable</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;No Account Programs are currently available&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bodyNoProgramsAvailable</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;In order to register a new Account Program Member, at least one Account Program needs to be active and allow for program member registrations.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showPickOpenSalesLead</name>
        <label>showPickOpenSalesLead</label>
        <locationX>1469</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>headerSelectOpenSalesLead</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px;&quot;&gt;Please pick an open Sales lead&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bodySelectOpenSalesLead</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please select an open Sales lead in order to register a new Account Program Member.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showPracticeDetails</name>
        <label>showPracticeDetails</label>
        <locationX>182</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isDealerSelected</targetReference>
        </connector>
        <fields>
            <name>msgVerifyContactTitle_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Customer Preferences&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgSelectedContactBody_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Let&apos;s start with some initial details. Selecting a dealer is optional.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputPaymentPreference</name>
            <choiceReferences>choiceQuarterlyPayouts</choiceReferences>
            <choiceReferences>choiceAnnualRebateVoucher</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Preferrence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputRemitAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Remit-To Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getAccount.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>getAccount.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>getAccount.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>getAccount.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>getAccount.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputDealerLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Dealer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dealer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LoyaltyProgramParticipant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showPracticeDetails_0</name>
        <label>showPracticeDetails</label>
        <locationX>1502</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isDSO_DSPRO</targetReference>
        </connector>
        <fields>
            <name>msgVerifyContactTitle_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Customer Preferences&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgSelectedContactBody_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Let&apos;s start with some initial details. Selecting a dealer is optional.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputPaymentPreference_DSPRO</name>
            <choiceReferences>choiceAnnualCashPayout</choiceReferences>
            <choiceReferences>choiceAnnualProductCreditVoucher</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Preferrence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountProgram.Subtype__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>One DS Pro</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputPaymentPreference_DSO</name>
            <choiceReferences>choiceQuarterlyPayouts</choiceReferences>
            <choiceReferences>choiceAnnualRebateVoucher</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Preferrence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountProgram.Subtype__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>One DSO</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputRemitAddress_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Remit-To Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getAccount.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>getAccount.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>getAccount.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>getAccount.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>getAccount.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSalesLeadRegisteredToProgram</name>
        <label>showSalesLeadRegisteredToProgram</label>
        <locationX>1733</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>headerSalesLeadRegisteredToProgram</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Already registered&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bodySalesLeadRegisteredToProgram</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;This Sales Lead is already registered to a program.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectAccount</name>
        <label>showSelectAccount</label>
        <locationX>1777</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <fields>
            <name>msgSelectContactTitle_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Select an Account&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgSelectContactBody_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Select from the accounts below. These are the available accounts that this contact relates to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flow_pickContact_0</name>
            <extensionName>c:flow_recordVisualPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <stringValue>SELECT Id, Name, OneSF_Id__c, Account_Type_Specialty__c FROM Account WHERE Id IN (SELECT AccountId FROM AccountContactRelation WHERE ContactId = :recordId) ORDER BY Name ASC NULLS LAST</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldOne</name>
                <value>
                    <stringValue>OneSF_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldTwo</name>
                <value>
                    <stringValue>Account_Type_Specialty__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedAccountId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectContact</name>
        <label>showSelectContact</label>
        <locationX>2217</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <fields>
            <name>msgSelectContactTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Select a Contact&lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgSelectContactBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Select from the names below. These are the available contacts related to this account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flow_pickContact</name>
            <extensionName>c:flow_recordVisualPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>getAccountProgram.ContactRequired__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <stringValue>SELECT Id, Full_Name__c, FirstName, LastName, Email, Title, Contact_Type__c, Sub_Contact_Type__c FROM Contact WHERE AccountId =: recordId AND Primary_Contact__c = false ORDER BY Full_Name__c ASC NULLS LAST</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>JSONInput</name>
                <value>
                    <stringValue>Title,Salutation,FirstName,LastName,Preferred_Language__c,Email,MobilePhone,PrimaryMethodOfContact__c,Profession__c,Specialty__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldOne</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldTwo</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <stringValue>Full_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedContactId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectDistRep</name>
        <label>showSelectDistRep</label>
        <locationX>50</locationX>
        <locationY>3230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showSelectedContact</targetReference>
        </connector>
        <fields>
            <name>msgSelectContactTitle_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Select a Distributor Rep&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgSelectContactBody_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Select from the names below. These are the available distributor reps related to the selected dealer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flow_pickDistributorRep</name>
            <extensionName>c:flow_recordVisualPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inputDealerLookup.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <stringValue>SELECT Id, Full_Name__c, FirstName, LastName, Email, Title, Contact_Type__c, Sub_Contact_Type__c FROM Contact WHERE AccountId =: recordId AND Primary_Contact__c = false ORDER BY Full_Name__c ASC NULLS LAST</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>JSONInput</name>
                <value>
                    <stringValue>Title,FirstName,LastName,Preferred_Language__c,Email,MobilePhone,PrimaryMethodOfContact__c,Profession__c,Specialty__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldOne</name>
                <value>
                    <stringValue>Full_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldTwo</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDistributorRepId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedContact</name>
        <label>showSelectedContact</label>
        <locationX>182</locationX>
        <locationY>3422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getContact_0</targetReference>
        </connector>
        <fields>
            <name>msgVerifyContactAndDistTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(62, 62, 60);&quot;&gt;Verify the Contact and Distributor Rep&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dealerSelectedTrue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>verifyContactandDistBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Make sure that the contact and distributor rep information is correct. You can update any information that is outdated or navigate back to make another selection.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; The contact&apos;s &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Preferred Language&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; will determine what language the terms and conditions are sent in (English/French).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dealerSelectedTrue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgVerifyContactTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Verify the Contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dealerSelectedTrue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgSelectedContactBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Make sure that the contact information is correct. You can update any information that is outdated or navigate back to make another selection.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; The contact&apos;s &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Preferred Language&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; will determine what language the terms and conditions are sent in (English/French).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dealerSelectedTrue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>recordFormSelectedContact</name>
            <extensionName>c:flow_recordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[ &quot;FirstName&quot;,&quot;LastName&quot;,&quot;Title&quot;,&quot;Preferred_Language__c&quot;,&quot;PrimaryMethodOfContact__c&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;MobilePhone&quot;,&quot;Profession__c&quot;,&quot;Specialty__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>view</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredFields</name>
                <value>
                    <stringValue>[&quot;Email&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>recordFormSelectedDistRep</name>
            <extensionName>c:flow_recordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[ &quot;FirstName&quot;,&quot;LastName&quot;,&quot;Title&quot;,&quot;Preferred_Language__c&quot;,&quot;PrimaryMethodOfContact__c&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;MobilePhone&quot;,&quot;Profession__c&quot;,&quot;Specialty__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>view</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedDistributorRepId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Distributor Rep</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectedDistributorRepId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedContact_0</name>
        <label>showSelectedContact</label>
        <locationX>1502</locationX>
        <locationY>3422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getContact_0_0</targetReference>
        </connector>
        <fields>
            <name>msgVerifyContactTitle_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Verify the Contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgSelectedContactBody_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Make sure that the contact information is correct. You can update any information that is outdated or navigate back to make another selection.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; The contact&apos;s &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Preferred Language&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; will determine what language the terms and conditions are sent in (English/French).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>recordFormSelectedContact_0</name>
            <extensionName>c:flow_recordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[ &quot;FirstName&quot;,&quot;LastName&quot;,&quot;Title&quot;,&quot;Preferred_Language__c&quot;,&quot;PrimaryMethodOfContact__c&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;MobilePhone&quot;,&quot;Profession__c&quot;,&quot;Specialty__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>view</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredFields</name>
                <value>
                    <stringValue>[&quot;Email&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showStart</name>
        <label>showStart</label>
        <locationX>2789</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAccountProgram</targetReference>
        </connector>
        <fields>
            <name>msgStartTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Choose an Account Program&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgStart</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You are starting an interview for the following account. This flow will guide you through the program registration. Choose the Account Program to enroll the customer in.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flow_recordFormAccount</name>
            <extensionName>c:flow_recordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[ &quot;Name&quot;,&quot;Phone&quot;,&quot;ShippingStreet&quot;,&quot;ShippingCity&quot;,&quot;ShippingPostalCode&quot;,&quot;ShippingCountry&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>readonly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Account Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>narrow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accountProgramVisualPicker</name>
            <extensionName>c:flow_recordVisualPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LoyaltyProgram__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <stringValue>SELECT Id, Name, Type__c, Subtype__c FROM LoyaltyProgram__c WHERE Status__c = &apos;Active&apos; AND AllowProgramMembers__c = true AND Country__c INCLUDES (&apos;{!getOriginAccount.Country__c}&apos;) ORDER BY Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldOne</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldTwo</name>
                <value>
                    <stringValue>Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>custom:custom48</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProgramId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showStart_0</name>
        <label>showStart</label>
        <locationX>941</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAccountProgram</targetReference>
        </connector>
        <fields>
            <name>msgStartTitle_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Choose an Account Program&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgStart_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You are starting an interview for the following contact. This flow will guide you through the program registration. Choose the Account Program to enroll the customer in.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flow_recordFormAccount_0</name>
            <extensionName>c:flow_recordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[ &quot;Name&quot;,&quot;MobilePhone&quot;,&quot;MailingStreet&quot;,&quot;MailingCity&quot;,&quot;MailingPostalCode&quot;,&quot;MailingCountry&quot;,&quot;AccountId&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>readonly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Contact Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>narrow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accountProgramVisualPicker_0</name>
            <extensionName>c:flow_recordVisualPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LoyaltyProgram__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <stringValue>SELECT Id, Name, Type__c, Subtype__c FROM LoyaltyProgram__c WHERE Status__c = &apos;Active&apos; AND AllowProgramMembers__c = true AND Country__c INCLUDES (&apos;{!getOriginParentAccount.Country__c}&apos;) ORDER BY Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldOne</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldTwo</name>
                <value>
                    <stringValue>Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>custom:custom48</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProgramId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showStartSalesLeadAccount</name>
        <label>showStart</label>
        <locationX>2261</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignSelectedAccountSalesLead_0</targetReference>
        </connector>
        <fields>
            <name>msgStartTitle_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Choose an Account Program&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgStart_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You are starting an interview for the following account. This flow will guide you through the program registration. Choose the Account Program to enroll the customer in.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flow_recordFormAccount_0_0_0</name>
            <extensionName>c:flow_recordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[ &quot;Name&quot;,&quot;Phone&quot;,&quot;ShippingStreet&quot;,&quot;ShippingCity&quot;,&quot;ShippingPostalCode&quot;,&quot;ShippingCountry&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>readonly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getOriginSalesLead.Account__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>narrow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accountProgramVisualPicker_0_0_0</name>
            <extensionName>c:flow_recordVisualPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LoyaltyProgram__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <stringValue>SELECT Id, Name, Type__c, Subtype__c FROM LoyaltyProgram__c WHERE Status__c = &apos;Active&apos; AND AllowProgramMembers__c = true AND Country__c INCLUDES (&apos;{!getOriginAccountSalesLead.Country__c}&apos;) ORDER BY Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldOne</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldTwo</name>
                <value>
                    <stringValue>Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>custom:custom48</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProgramId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showStartSalesLeadContact</name>
        <label>showStart</label>
        <locationX>1997</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setSalesLeadHasContact</targetReference>
        </connector>
        <fields>
            <name>msgStartTitle_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Choose an Account Program&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgStart_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You are starting an interview for the following contact. This flow will guide you through the program registration. Choose the Account Program to enroll the customer in.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flow_recordFormAccount_0_0</name>
            <extensionName>c:flow_recordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[ &quot;Name&quot;,&quot;MobilePhone&quot;,&quot;MailingStreet&quot;,&quot;MailingCity&quot;,&quot;MailingPostalCode&quot;,&quot;MailingCountry&quot;,&quot;AccountId&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>readonly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getOriginSalesLead.Contact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Contact Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>narrow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accountProgramVisualPicker_0_0</name>
            <extensionName>c:flow_recordVisualPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>LoyaltyProgram__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <stringValue>SELECT Id, Name, Type__c, Subtype__c FROM LoyaltyProgram__c WHERE Status__c = &apos;Active&apos; AND AllowProgramMembers__c = true AND Country__c INCLUDES (&apos;{!getOriginAccountSalesLead.Country__c}&apos;) ORDER BY Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Flow.CurrentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldOne</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldTwo</name>
                <value>
                    <stringValue>Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>custom:custom48</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProgramId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1871</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignCurrentRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountCountryContact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdAccountPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdAdvancedProfilingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdProgramMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Copy_1_of_Filter_Account_Programs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgram__c</objectType>
    </variables>
    <variables>
        <name>emailTemplateDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fieldDepencencyInput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loyaltyProgramparticipantExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programHasLevels</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>programMemberCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>salesLeadHasContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>salesLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDealerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDistributorRepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedPaymentPreferrence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSureSmileLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendEmailSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
