src/flows/AssetCreateUpdateAfterSave.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>dec_AssetWarranty</name>
        <label>Has Asset Warranty?</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>dec_InstalledAsset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_AssetWarranty_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TF_ApplicableWarranty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignedStandardWarranty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cr_StandardAssetWarranty</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_InstalledAsset</name>
        <label>Installed Asset?</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_InstalledAsset_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InstallDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignedStandardWarranty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_AssetWarranties</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Adjusted Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>for_AssetWarrantyEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status} , &apos;Installed&apos;), IF(AND(MONTH({!$Record.InstallDate}) = 2,
DAY({!$Record.InstallDate}) = 29),
DATE(YEAR({!$Record.InstallDate})+ 2, 3,1),
DATE(YEAR({!$Record.InstallDate}) + 2, MONTH({!$Record.InstallDate}), DAY({!$Record.InstallDate}))), IF(AND(MONTH(DATEVALUE({!$Record.CreatedDate})) = 2,
DAY(DATEVALUE({!$Record.CreatedDate})) = 29),
DATE(YEAR(DATEVALUE({!$Record.CreatedDate}))+ 2, 3,1),
DATE(YEAR(DATEVALUE({!$Record.CreatedDate})) + 2, MONTH(DATEVALUE({!$Record.CreatedDate})), DAY(DATEVALUE({!$Record.CreatedDate}))))
)</expression>
    </formulas>
    <formulas>
        <name>for_AssetWarrantyStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status}, &apos;Installed&apos;), {!$Record.InstallDate}, DATEVALUE({!$Record.CreatedDate}))</expression>
    </formulas>
    <formulas>
        <name>for_WarrantyStatus</name>
        <dataType>String</dataType>
        <expression>IF({!for_AssetWarrantyEndDate} - {!for_AssetWarrantyStartDate} &gt;=0, &apos;Active&apos;, &apos;Expired&apos;)</expression>
    </formulas>
    <interviewLabel>Asset: Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset: Created &amp; Updated (After Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>cr_StandardAssetWarranty</name>
        <label>Create Standard Asset Warranty</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>ur_AssetWarrantyAssigned</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarrantyType</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>gr_AssetWarranties</name>
        <label>get Asset Warranties</label>
        <locationX>242</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_ProductWarrantyTerm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WarrantyType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_ProductWarrantyTerm</name>
        <label>Get Product Warranty Term</label>
        <locationX>242</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_StandardWarrantyTerms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CoveredProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductWarrantyTerm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_StandardWarrantyTerms</name>
        <label>Get Standard Warranty Terms</label>
        <locationX>242</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateAssetWarranty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_ProductWarrantyTerm.WarrantyTermId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WarrantyType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WarrantyTerm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssetWarranty</name>
        <label>Update Asset Warranty</label>
        <locationX>242</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>ur_AssetsRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_AssetWarranties.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>for_AssetWarrantyEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>for_AssetWarrantyStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarrantyTermId</field>
            <value>
                <elementReference>gr_StandardWarrantyTerms.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssetWarranty</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_AssetsRecord</name>
        <label>Update Assets Record</label>
        <locationX>242</locationX>
        <locationY>1224</locationY>
        <inputAssignments>
            <field>StandardWarrantyStatus__c</field>
            <value>
                <elementReference>for_WarrantyStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ur_AssetWarrantyAssigned</name>
        <label>Set Asset Warranty Assigned</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>dec_InstalledAsset</targetReference>
        </connector>
        <inputAssignments>
            <field>AssignedStandardWarranty__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>dec_AssetWarranty</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
