src/flows/AssignedResourceCreatedUpdatedAfterSave.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>dec_ShouldSetAssignedResource</name>
        <label>Should Set Assigned Resource</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_ShouldSetAssignedResource_SetAssignedResource</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__Assign_Resource_On_Service_Appointment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetServiceResource</targetReference>
            </connector>
            <label>Set Assigned Resource</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assigned Resource: Created &amp; Updated (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigned Resource: Created &amp; Updated (After Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_ShouldSetAssignedResource</targetReference>
        </connector>
        <object>AssignedResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SetServiceResource</name>
        <label>Set Service Resource</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>SFSPopulateCustomAssignedServiceResourceLookup</flowName>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
