src/flows/CampaignNewOverrideAction.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>getCampaignInfoNeeded1</name>
        <label>Get Campaign Info Needed?</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>NavigateToCreateCampaignRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>getCampaignInfoNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIdFromAura</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordIdFromAura</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getCampaignDetails</targetReference>
            </connector>
            <label>getCampaignInfoNeeded?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaDefaultFields</name>
        <dataType>String</dataType>
        <expression>&quot;{&quot;&amp;
If(CONTAINS( {!recordTypeIdFromAura},&quot;01220000000ANcm&quot;),{!FormulaSessionrecTypeDefaultField}, /*SessionRecordType*/
{!varTextAllTypesExceptSessionCampaigns} &amp; &quot;,&quot; &amp; {!FormulaParseDatesAllRecordTypesExceptSessionCampaigns} &amp; &quot;,&quot; &amp;/*for all recordtypes except Sessions It will be concatenated before the conditions below*/
If(CONTAINS( {!recordTypeIdFromAura},&quot;0126M000000jouA&quot;),  {!varInPersonRecordType} ,    /*inpersonRecordTypes*/
If( CONTAINS( {!recordTypeIdFromAura},&quot;01220000000Ax7r&quot;) || CONTAINS( {!recordTypeIdFromAura},&quot;01220000000ANcl&quot;), {!varMailingAndCourseEventExhibitionRecordTypes} , /*this is for Mailing or Course/Event/Exhibition record types*/
 If(  CONTAINS( {!recordTypeIdFromAura},&quot;01220000000Ax3B&quot;) || CONTAINS( {!recordTypeIdFromAura},&quot;01220000000B2A7&quot;) || CONTAINS( {!recordTypeIdFromAura},&quot;01220000000B29s&quot;) , /*this is for trade Sporsonship and program record types*/
 {!FormulaTradeOrSponshorshipOrProgramRecordTypes} , {!varNull}))) 
) 
&amp;&quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>FormulaParseDatesAllRecordTypesExceptSessionCampaigns</name>
        <dataType>String</dataType>
        <expression>&quot;\&quot;StartDate\&quot;:\&quot;&quot; &amp; TEXT(TODAY()) &amp; &quot;\&quot;,\&quot;EndDate\&quot;:\&quot;&quot; &amp; TEXT(TODAY()) &amp; &quot;\&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>FormulaSessionrecTypeDefaultField</name>
        <dataType>String</dataType>
        <expression>{!varSessionText}&amp;If( ISBLANK({!getCampaignDetails.Venue__c} ),  &quot;&quot;  , &quot;,\&quot;Venue__c\&quot;:\&quot;&quot;  &amp;  {!getCampaignDetails.Venue__c}  &amp;&quot;\&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FormulaTradeOrSponshorshipOrProgramRecordTypes</name>
        <dataType>String</dataType>
        <expression>&quot; \&quot;Campaign_Region_DE__c\&quot;:\&quot; &quot; &amp; {!getUserDetails.User_Region__c} &amp; &quot;\&quot;&quot; &amp; If( ISBLANK({!getUserDetails.NA_Regional_Marketing_Coordinator__c} ),  &quot;&quot;  , &quot;,\&quot;Campaign_Coordinator__c\&quot;:\&quot;&quot;  &amp;  {!getUserDetails.NA_Regional_Marketing_Coordinator__c}  &amp; &quot;\&quot;&quot;) &amp; If( ISBLANK({!getUserDetails.ManagerId} ),  &quot;&quot;  , &quot;,\&quot;Campaign_Approver__c\&quot;:\&quot;&quot;  &amp;  {!getUserDetails.ManagerId}  &amp; &quot;\&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Campaign: New Override Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign: New Override Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCampaignDetails</name>
        <label>Get Campaign Details</label>
        <locationX>644</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NavigateToCreateCampaignRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordIdFromAura</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserDetails</name>
        <label>Get User Details</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaignInfoNeeded1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NavigateToCreateCampaignRecord</name>
        <label>NavigateToCreateCampaignRecord</label>
        <locationX>1226</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavigateToCreateCampaign</name>
            <extensionName>c:NavigateToCreateRecordComp_FLOW</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordIdFromAura</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>recordTypeIdFromAura</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hasNavigated</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectToCreate</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultFieldValues</name>
                <value>
                    <elementReference>FormulaDefaultFields</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getUserDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordIdFromAura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordTypeIdFromAura</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInPersonRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;CampaignMemberRecordTypeId&quot;:&quot;0126M000000jouBQAQ&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varMailingAndCourseEventExhibitionRecordTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Campaign_Coordinator__c&quot;:&quot;{!getUserDetails.Id}&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNull</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Name&quot;:&quot;&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSessionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Parent_Event__c&quot;:&quot;{!getCampaignDetails.Id}&quot;,&quot;Session_Start_Date_Time__c&quot;:&quot;{!getCampaignDetails.StartDate}&quot;,&quot;Session_End_Date_Time__c&quot;:&quot;{!getCampaignDetails.EndDate}&quot;,&quot;SBU_Focus__c&quot;:&quot;{!getCampaignDetails.SBU_Focus__c}&quot;,&quot;Profession__c&quot;:&quot;{!getCampaignDetails.Profession__c}&quot;,&quot;Target_Country__c&quot;:&quot;{!getCampaignDetails.Target_Country__c}&quot;,&quot;Target_Group__c&quot;:&quot;{!getCampaignDetails.Target_Group__c}&quot;,&quot;Target_Type__c&quot;:&quot;{!getCampaignDetails.Target_Type__c}&quot;,&quot;Strategy__c&quot;:&quot;{!getCampaignDetails.Strategy__c}&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTextAllTypesExceptSessionCampaigns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Campaign_Country__c&quot;:&quot;{!getUserDetails.User_Country__c}&quot;,&quot;Country__c&quot;:&quot;{!getUserDetails.User_Country__c}&quot;,&quot;Target_Country__c&quot;:&quot;{!getUserDetails.User_Country__c}&quot;,&quot;OwnerId&quot;:&quot;{!getUserDetails.Id}&quot;,&quot;SBU_Focus__c&quot;:&quot;{!getUserDetails.Default_CFE_SBUs__c}&quot;</stringValue>
        </value>
    </variables>
</Flow>
