src/flows/Case_Add_articles.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_article_to_collection</name>
        <label>Add article to collection</label>
        <locationX>939</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Articles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Article_single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_article_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_article</name>
        <label>Assign single article</label>
        <locationX>1249</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>Article_single.Original_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Order_Number_single</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Original_Order_Discount_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Original_Order_Discount_Single</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Article_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article_Number_single</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Lot_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOT_Number_single</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Purchase_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Purchase_date_single</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_sing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Amount_Paid_each__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_each</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Related_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120J000000cmqRQAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Rep_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Rep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Manager_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Sales_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Area_Sales_Director__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Return_Exception_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Exception_Requested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.Article_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Article_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Article_single.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_single_article</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_step</name>
        <label>Assign step</label>
        <locationX>938</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step_Add_article</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_article_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Step4</name>
        <label>Step4</label>
        <locationX>1252</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fast_update_case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_more_articles</name>
        <choiceText>Add more articles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add_more_articles</stringValue>
        </value>
    </choices>
    <choices>
        <name>All_articles_are_added_save_case</name>
        <choiceText>All articles are added - save case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All_articles_are_added_save_case</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_more_articles_choice</name>
        <label>Add more articles?</label>
        <locationX>1241</locationX>
        <locationY>632</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_articles_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_articles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_more_articles</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_single_article_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Add_articles_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_articles</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Add_more_articles</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step4</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Fixing Flow Layout + Cleaning unused resources</description>
    <dynamicChoiceSets>
        <name>ReturnExceptionPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Return_Exception_Requested__c</picklistField>
        <picklistObject>Article__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Article_number</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_article_number}) = true, &quot;&quot;, BR() &amp; &quot;Article number: &quot; &amp; {!var_article_number})</expression>
    </formulas>
    <interviewLabel>Case: Add articles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Add articles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_single_article</name>
        <label>Create single article</label>
        <locationX>946</locationX>
        <locationY>967</locationY>
        <connector>
            <targetReference>Add_article_to_collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Something_went_wrong_please_go_back_to_the_previous_screen_and_populate_the_fiel</targetReference>
        </faultConnector>
        <inputReference>Article_single</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_case</name>
        <label>Lookup case</label>
        <locationX>702</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_step</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Something_went_wrong_please_go_back_to_the_previous_screen_and_populate_the_fiel</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>ClosedDate</queriedFields>
        <queriedFields>Comments</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>IsEscalated</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Reason</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CaseType__c</queriedFields>
        <queriedFields>Article_Number__c</queriedFields>
        <queriedFields>Assign_To__c</queriedFields>
        <queriedFields>Case_Definition__c</queriedFields>
        <queriedFields>Case_Subtype__c</queriedFields>
        <queriedFields>Complaint_Category__c</queriedFields>
        <queriedFields>Complaint_Reason2__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Digital_Product__c</queriedFields>
        <queriedFields>First_call_resolution__c</queriedFields>
        <queriedFields>Invoice_Number__c</queriedFields>
        <queriedFields>Lot_Number__c</queriedFields>
        <queriedFields>Order_Number__c</queriedFields>
        <queriedFields>PO_Number__c</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>SBU__c</queriedFields>
        <queriedFields>Tracking_number__c</queriedFields>
        <queriedFields>Rep__c</queriedFields>
        <queriedFields>Manager__c</queriedFields>
        <queriedFields>Area_Sales_Director__c</queriedFields>
        <queriedFields>Returned_Product_Received_Date__c</queriedFields>
        <queriedFields>Return_Tracking_Number__c</queriedFields>
        <queriedFields>Credit_Order_Amount__c</queriedFields>
        <queriedFields>Credit_Order_Number__c</queriedFields>
        <queriedFields>Credit_Order_Total__c</queriedFields>
        <queriedFields>Exchange_Order_Value__c</queriedFields>
        <queriedFields>Exchange_Order_Ship_Date__c</queriedFields>
        <queriedFields>Denial_Ship_Date__c</queriedFields>
        <queriedFields>Case_Stage__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fast_update_case</name>
        <label>Update case</label>
        <locationX>1467</locationX>
        <locationY>442</locationY>
        <faultConnector>
            <targetReference>Something_went_wrong_please_go_back_to_the_previous_screen_and_populate_the_fiel</targetReference>
        </faultConnector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_article_screen</name>
        <label>Add article screen</label>
        <locationX>939</locationX>
        <locationY>629</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_more_articles_choice</targetReference>
        </connector>
        <fields>
            <name>Stage_AddArticle</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Stage_output</assignToReference>
                <name>currentStage</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Script_AddArticle</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Which articles where in the package?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Script_output</assignToReference>
                <name>scriptText</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Articles_comp</name>
            <extensionName>c:Flow_RelatedList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>articles</name>
                <value>
                    <elementReference>Articles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_articles</name>
            <choiceReferences>Add_more_articles</choiceReferences>
            <choiceReferences>All_articles_are_added_save_case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add more articles?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_single_article_screen</name>
        <label>Add single article screen</label>
        <locationX>1250</locationX>
        <locationY>803</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_single_article</targetReference>
        </connector>
        <fields>
            <name>Stage_AddArticle_1</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Stage_output</assignToReference>
                <name>currentStage</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Script_AddArticle_1</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Which articles where in the package?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Script_output</assignToReference>
                <name>scriptText</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Return_Exception_Requested</name>
            <choiceReferences>ReturnExceptionPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Return Exception Requested</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Article_Number_single</name>
            <dataType>String</dataType>
            <fieldText>Article Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Article_Description</name>
            <dataType>String</dataType>
            <fieldText>Article Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LOT_Number_single</name>
            <dataType>String</dataType>
            <fieldText>LOT Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity_sing</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Amount_each</name>
            <dataType>Currency</dataType>
            <fieldText>Amount (each)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Purchase_date_single</name>
            <dataType>Date</dataType>
            <fieldText>Purchase date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Original_Order_Number_single</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Order_Number__c</elementReference>
            </defaultValue>
            <fieldText>Original Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Original_Order_Discount_Single</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Original Order Discount (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Something_went_wrong_please_go_back_to_the_previous_screen_and_populate_the_fiel</name>
        <label>Errorscreen</label>
        <locationX>1101</locationX>
        <locationY>102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error1</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Something went wrong! This might be due to lack of permission, a required field is not populated, or invalid value. Please click on Previous button (if available) and see if you can fix it, meanwhile the error was sent to the admin. </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Error_message</name>
            <defaultValue>
                <stringValue>{!$Flow.FaultMessage}</stringValue>
            </defaultValue>
            <fieldText>This error message is technical, but it might give you a hint what went wrong</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Step_Add_article</name>
        <isActive>true</isActive>
        <label>Add articles</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>207</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Lookup_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Article_single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Article__c</objectType>
    </variables>
    <variables>
        <name>Articles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Article__c</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Script_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stage_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_article_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
