src/flows/CaseClone.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_RecordRedirect</name>
        <label>RecordRedirect</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>var_ClonedCaseId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_ClonedCaseId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>dec_CheckIfRelatedContact</name>
        <label>CheckIfRelatedContact</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>scr_RecordNotCreated_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>gr_RelatedContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>gr_CreateClonedCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only Cases with Record Type = Service Complaints OR  CaseType != Credit &amp; Rebill, Return, can be cloned</description>
        <name>dec_CloneableCase</name>
        <label>CloneableCase?</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>scr_NoCloneScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Cloneable</defaultConnectorLabel>
        <rules>
            <name>Cloneable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_CaseDetails.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01220000000AvOOAA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gr_CaseDetails.CaseType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credit/rebill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gr_CaseDetails.CaseType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gr_CaseDetails.CaseType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General support/question</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>gr_CaseDetails.CaseType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_CloneScreen</targetReference>
            </connector>
            <label>Cloneable</label>
        </rules>
    </decisions>
    <description>(TFUS-000003998) Custom Case cloning functionality in Lightning. + Making the Contact not Mandatory + Screen headers + API version + Input variables + Check Related Contact Conditions (TFUS-000004250)+ Adjusting criteria based on new Case Classification + Prevent Case Cloning for Cases Classified as Customer Interaction</description>
    <interviewLabel>Case: Clone a Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Clone a Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>gr_CreateClonedCase</name>
        <label>CreateClonedCase</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>var_ClonedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>act_RecordRedirect</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scr_RecordNotCreated_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseType__c</field>
            <value>
                <elementReference>gr_CaseDetails.CaseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Category__c</field>
            <value>
                <elementReference>gr_CaseDetails.Complaint_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Reason2__c</field>
            <value>
                <elementReference>gr_CaseDetails.Complaint_Reason2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>gr_CaseDetails.Complaint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>gr_CaseDetails.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Digital_Product__c</field>
            <value>
                <elementReference>gr_CaseDetails.Digital_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>gr_CaseDetails.EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowCase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>gr_CaseDetails.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>gr_CaseDetails.Product_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000AvOOAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResponsibleFunction__c</field>
            <value>
                <elementReference>gr_CaseDetails.ResponsibleFunction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU__c</field>
            <value>
                <elementReference>gr_CaseDetails.SBU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>gr_CaseDetails.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Keyword__c</field>
            <value>
                <elementReference>gr_CaseDetails.Support_Keyword__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Country__c</field>
            <value>
                <elementReference>$User.User_Country__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>gr_CaseDetails</name>
        <label>gr_CaseDetails</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CloneableCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_RelatedContacts</name>
        <label>RelatedContacts</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_CheckIfRelatedContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scr_CloneScreen</name>
        <label>CloneScreen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>gr_RelatedContacts</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>gr_CaseDetails.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>gr_CaseDetails.Contact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_NoCloneScreen</name>
        <label>NoCloneScreen</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoClone</name>
            <fieldText>&lt;p&gt;Sorry, this case can&apos;t be cloned&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_RecordNotCreated_1</name>
        <label>RecordNotCreated</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordNotCreatedScreen_0_0</name>
            <fieldText>&lt;p&gt;Record not created! Please Try again&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_RecordNotCreated_2</name>
        <label>RecordNotCreated</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotRelatedContact</name>
            <fieldText>&lt;p&gt;The selected contact is not related to the  account. Please click on previous and select a related contact or change the account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>gr_CaseDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ClonedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CurrenctCOntactAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
