src/flows/case_updated.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_NavigateToCaseTab</name>
        <label>Navigate to Case Tab</label>
        <locationX>1568</locationX>
        <locationY>1370</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>asg_ErrorMsg</name>
        <label>Error Msg</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>var_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scr_NewContact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_SelectContact_None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>dec_AddContact</name>
        <label>Add Contact?</label>
        <locationX>1194</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>dec_AddContact_NotRequired</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>gr_CaseInfo.InternalEmail2Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_ContactNotRequired</targetReference>
            </connector>
            <label>Not Required</label>
        </rules>
        <rules>
            <name>dec_AddContact_duplicates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_SelectContact</targetReference>
            </connector>
            <label>Duplicates</label>
        </rules>
        <rules>
            <name>dec_AddContact_NewContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>gr_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_NewContact</targetReference>
            </connector>
            <label>New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CreateContact</name>
        <label>CreateContact?</label>
        <locationX>1568</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>ur_SetNewContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_CreateContact_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scr_NewContact_LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_RequiredFields</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_RequiredFields</name>
        <label>Required Fields</label>
        <locationX>1238</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>cr_NewContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_RequiredFields_NotFilled</name>
            <conditionLogic>((4 OR 5 OR 6) AND (1 OR 2 OR 3)) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>scr_NewContact_PreferredLanguage.resId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr_NewContact_Role.resId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scr_NewContact_Salutation.resId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.User_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.User_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.User_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Luxembourg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asg_ErrorMsg</targetReference>
            </connector>
            <label>Not Filled</label>
        </rules>
    </decisions>
    <description>TFUS-000004052 + Naming Convention + Duplicate Fix</description>
    <dynamicChoiceSets>
        <name>rcs_MatchedContacts</name>
        <dataType>String</dataType>
        <displayField>Dup_flow_info__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_CaseInfo.SuppliedEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_SelectedContact_AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>for_RunningUserCountry</name>
        <dataType>String</dataType>
        <expression>Text({!$User.User_Country__c})</expression>
    </formulas>
    <interviewLabel>case updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Assign contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>cr_NewContact</name>
        <label>Create new contact</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>ur_SetNewContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scr_ErrorMsg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>scr_NewContact_SelectAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>scr_NewContact_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>scr_NewContact_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsertEmailMarketingConsentCollected__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>scr_NewContact_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>scr_NewContact_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>scr_NewContact_PreferredLanguage.resId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profession__c</field>
            <value>
                <elementReference>scr_NewContact_Role.resId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000CyRUAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>scr_NewContact_Salutation.resId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>gr_CaseInfo</name>
        <label>Get Case Info</label>
        <locationX>1194</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scr_ErrorMsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get contacts with the same email address</description>
        <name>gr_Contacts</name>
        <label>Get Contacts</label>
        <locationX>1194</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_AddContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scr_ErrorMsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_CaseInfo.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ur_SetNewContact</name>
        <label>Update Case with New Contact</label>
        <locationX>1568</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>act_NavigateToCaseTab</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scr_ErrorMsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>scr_NewContact_SelectAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>cr_NewContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Country__c</field>
            <value>
                <elementReference>$User.User_Country__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_UpdateAccount</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>act_NavigateToCaseTab</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scr_ErrorMsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>scr_ContactNotRequired_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Country__c</field>
            <value>
                <elementReference>$User.User_Country__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_UpdateContact</name>
        <label>Update Contact</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>act_NavigateToCaseTab</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scr_ErrorMsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_SelectedContact_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_SelectedContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Country__c</field>
            <value>
                <elementReference>$User.User_Country__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>scr_ContactNotRequired</name>
        <label>Contact Not Required</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ur_UpdateAccount</targetReference>
        </connector>
        <fields>
            <name>scr_ContactNotRequired_Info</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please assign an Account. Contact is not required for this sender</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scr_ContactNotRequired_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_ErrorMsg</name>
        <label>Error Screen</label>
        <locationX>2074</locationX>
        <locationY>1370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scr_ErrorMsg_Info</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Something went wrong! This might be due to, duplicate contact, required field wasn&apos;t populated, or invalid value. Please click on Previous button (if available) and see if you can fix it, meanwhile the error was sent to the admin. </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scr_ErrorMsg_Details</name>
            <defaultValue>
                <stringValue>{!$Flow.FaultMessage}</stringValue>
            </defaultValue>
            <fieldText>This error message is technical, but it might give you a hint what went wrong</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_NewContact</name>
        <label>New Contact</label>
        <locationX>1568</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dec_CreateContact</targetReference>
        </connector>
        <fields>
            <name>scr_NewContact_Info</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Oops! We could not match the sender&apos;s email with an existing contact.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scr_NewContact_SelectAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>scr_NewContact_SelectAccount.recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scr_NewContact_Instruction</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(89, 89, 89);&quot;&gt;Creating new contact is optional. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(89, 89, 89);&quot;&gt;To create new contact, start typing the first name...&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(163, 9, 9);&quot;&gt;{!var_Error}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scr_NewContact_Salutation</name>
            <extensionName>c:Flow_DependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Salutation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>01220000000CyRUAA0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1req</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultVal</name>
                <value>
                    <elementReference>scr_NewContact_Salutation.resId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>for_RunningUserCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Belgium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>for_RunningUserCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Holland</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>for_RunningUserCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Luxembourg</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>scr_NewContact_FirstName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_NewContact_FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>scr_NewContact_FirstName</elementReference>
            </defaultValue>
            <fieldText>Contact First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scr_NewContact_LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>scr_NewContact_LastName</elementReference>
            </defaultValue>
            <fieldText>Contact Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>scr_NewContact_FirstName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_NewContact_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>gr_CaseInfo.SuppliedEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>scr_NewContact_FirstName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_NewContact_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>scr_NewContact_Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>scr_NewContact_FirstName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_NewContact_Role</name>
            <extensionName>c:Flow_DependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Profession__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>01220000000CyRUAA0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1req</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field2req</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field3req</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultVal</name>
                <value>
                    <elementReference>scr_NewContact_Role.resId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>scr_NewContact_FirstName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_NewContact_PreferredLanguage</name>
            <extensionName>c:Flow_DependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field1req</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Preferred_Language__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>01220000000CyRUAA0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultVal</name>
                <value>
                    <elementReference>scr_NewContact_PreferredLanguage.resId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
                <conditions>
                    <leftValueReference>scr_NewContact_FirstName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>for_RunningUserCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Luxembourg</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>for_RunningUserCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Holland</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>for_RunningUserCountry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Belgium</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_SelectContact</name>
        <label>Select Contact</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ur_UpdateContact</targetReference>
        </connector>
        <fields>
            <name>scr_SelectContact_Info</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Oops! We found at least one contact in our matching process. Could you please select the right one?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scr_SelectContact_MatchedContacts</name>
            <choiceReferences>ch_SelectContact_None</choiceReferences>
            <choiceReferences>rcs_MatchedContacts</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ch_SelectContact_None</defaultSelectedChoiceReference>
            <fieldText>Please select a matched contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scr_SelectContact_SearchContacts</name>
            <extensionName>c:ServiceCloud_FlowLookupComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field_API_search</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field_API_text</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field_API_val</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lookupIcon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelField</name>
                <value>
                    <stringValue>...or search for a contact manually</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectedContact</assignToReference>
                <name>selItemId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1068</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>gr_CaseInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_Error</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(153, 4, 4);&quot;&gt;Please make sure the required fields are populated.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedContact_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
