src/flows/Case_Update_Return_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavToCase</name>
        <label>NavToCase</label>
        <locationX>3186</locationX>
        <locationY>709</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>error3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Case.Id</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubmitCaseForAPproval</name>
        <label>SubmitCaseForAPproval</label>
        <locationX>3186</locationX>
        <locationY>1094</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>NavToCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Request_Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_additional_step</name>
        <label>Assign additional step</label>
        <locationX>2347</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step2_Assign_category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_case_id</name>
        <label>Assign case id</label>
        <locationX>754</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transcript.CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_description</name>
        <label>Assign description</label>
        <locationX>1723</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step2_Assign_category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Exchange_Order_Ship_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exchange_Order_Ship_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Exchange_Order_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exchange_Order_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Denial_Ship_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Denial_Ship_Date_Exchange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Denial_Order_Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Denial_Order_Tracking_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_return_information</name>
        <label>Assign return information</label>
        <locationX>1719</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>Case.Credit_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Credit_Order_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Order_Total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Denial_Ship_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Denial_Ship_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Denial_Order_Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Denial_Order_Tracking_Number2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step2_Assign_category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFirstCallRes</name>
        <label>AssignFirstCallRes</label>
        <locationX>2608</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>Case.First_call_resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Call_resolution_Return</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Step2</name>
        <label>Step2</label>
        <locationX>962</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Step4</name>
        <label>Step4</label>
        <locationX>1515</locationX>
        <locationY>882</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Returned_Product_Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Returmed_Product_Received_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Return_Tracking_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Tracking_Number_text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Credit_Order_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Order_Total2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Step4_0</name>
        <label>Step4</label>
        <locationX>1426</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_step</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assign_case_sel</name>
        <choiceText>Assign case to another agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign_case_sel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Close_case_sel</name>
        <choiceText>Close case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close_case_sel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_case_sel</name>
        <choiceText>Update case and continue later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create_case_sel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_articles_for_approval</name>
        <choiceText>Submit articles for approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit_articles</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approval_Process</name>
        <label>Approval Process</label>
        <locationX>2343</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>UpdateRelatedArticles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AutoApprovalProcess</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Config_attribute.ManualApprovalSelection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmitCaseForAPproval</targetReference>
            </connector>
            <label>AutomaticApprovalProcess</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_stage</name>
        <label>Case stage</label>
        <locationX>1224</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>Next_step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Authorized</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Authorized</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Categorize</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
        <rules>
            <name>Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_articles_flow_0</targetReference>
            </connector>
            <label>Received</label>
        </rules>
        <rules>
            <name>In_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_return_type</targetReference>
            </connector>
            <label>In Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_object_type</name>
        <label>Check object type</label>
        <locationX>534</locationX>
        <locationY>713</locationY>
        <defaultConnector>
            <targetReference>Lookup_transcript</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_object_formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_return_type</name>
        <label>Check return type</label>
        <locationX>1228</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Case_description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Complaint_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exchange_screen</targetReference>
            </connector>
            <label>Exchange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Rep_Manager_Populated</name>
        <label>Is the Rep/Manager Populated?</label>
        <locationX>1920</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>Fast_update_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Are_they_missing</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Case.Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Submit_articles_for_approval</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flow_Config_attribute.ManualApprovalSelection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Approvers</targetReference>
            </connector>
            <label>Are they missing?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_step_action</name>
        <label>Next step action</label>
        <locationX>2341</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>NavToCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Close_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Close_case_sel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_additional_step</targetReference>
            </connector>
            <label>Close case</label>
        </rules>
        <rules>
            <name>Assign_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_case_sel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_case_screen</targetReference>
            </connector>
            <label>Assign case</label>
        </rules>
        <rules>
            <name>Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Submit_articles_for_approval</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Process</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
    </decisions>
    <description>Flow config attributes ++</description>
    <dynamicChoiceSets>
        <name>FirstCallResolutionReturn</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>First_call_resolution__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Article_number</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_article_number}) = true, &quot;&quot;, BR() &amp; &quot;Article number: &quot; &amp; {!var_article_number})</expression>
    </formulas>
    <formulas>
        <name>Assign_to_script</name>
        <dataType>String</dataType>
        <expression>{!$Label.Assign_to_script}</expression>
    </formulas>
    <formulas>
        <name>Check_object_formula</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId},3)=&apos;500&apos;, &apos;Case&apos;,&apos;Transcript&apos;)</expression>
    </formulas>
    <formulas>
        <name>Formula_user_country</name>
        <dataType>String</dataType>
        <expression>text({!$user.User_Country__c})</expression>
    </formulas>
    <formulas>
        <name>Send_survey_label</name>
        <dataType>String</dataType>
        <expression>{!$Label.Send_survey_label}</expression>
    </formulas>
    <formulas>
        <name>Survey_script</name>
        <dataType>String</dataType>
        <expression>{!$Label.Send_survey_script}</expression>
    </formulas>
    <interviewLabel>Case: Update Return Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Update Return Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Flow_Config_attribute</name>
        <label>Flow Config attribute</label>
        <locationX>1130</locationX>
        <locationY>665</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_stage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_stage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountCountry__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getAccount.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceCloudCaseFlowConfig__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>970</locationX>
        <locationY>538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Config_attribute</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_case</name>
        <label>Lookup case</label>
        <locationX>763</locationX>
        <locationY>709</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Step2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>ClosedDate</queriedFields>
        <queriedFields>Comments</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>IsEscalated</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Reason</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CaseType__c</queriedFields>
        <queriedFields>Article_Number__c</queriedFields>
        <queriedFields>Assign_To__c</queriedFields>
        <queriedFields>Case_Definition__c</queriedFields>
        <queriedFields>Case_Subtype__c</queriedFields>
        <queriedFields>Complaint_Category__c</queriedFields>
        <queriedFields>Complaint_Reason2__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Digital_Product__c</queriedFields>
        <queriedFields>First_call_resolution__c</queriedFields>
        <queriedFields>Invoice_Number__c</queriedFields>
        <queriedFields>Lot_Number__c</queriedFields>
        <queriedFields>Order_Number__c</queriedFields>
        <queriedFields>PO_Number__c</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>SBU__c</queriedFields>
        <queriedFields>Tracking_number__c</queriedFields>
        <queriedFields>Rep__c</queriedFields>
        <queriedFields>Manager__c</queriedFields>
        <queriedFields>Area_Sales_Director__c</queriedFields>
        <queriedFields>Returned_Product_Received_Date__c</queriedFields>
        <queriedFields>Return_Tracking_Number__c</queriedFields>
        <queriedFields>Credit_Order_Amount__c</queriedFields>
        <queriedFields>Credit_Order_Number__c</queriedFields>
        <queriedFields>Credit_Order_Total__c</queriedFields>
        <queriedFields>Exchange_Order_Value__c</queriedFields>
        <queriedFields>Exchange_Order_Ship_Date__c</queriedFields>
        <queriedFields>Denial_Ship_Date__c</queriedFields>
        <queriedFields>Case_Stage__c</queriedFields>
        <queriedFields>User_Country__c</queriedFields>
        <queriedFields>Denial_Order_Tracking_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_transcript</name>
        <label>Lookup transcript</label>
        <locationX>540</locationX>
        <locationY>985</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_case_id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputReference>Transcript</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fast_update_case</name>
        <label>Update case</label>
        <locationX>2179</locationX>
        <locationY>699</locationY>
        <connector>
            <targetReference>Next_step_action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error3</targetReference>
        </faultConnector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>3187</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>NavToCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error3</targetReference>
        </faultConnector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_After_Submittance</name>
        <label>Update Case After Submittance</label>
        <locationX>2843</locationX>
        <locationY>871</locationY>
        <connector>
            <targetReference>NavToCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRelatedArticles</name>
        <label>UpdateRelatedArticles</label>
        <locationX>2512</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Case_After_Submittance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Article_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Manager_Assigned__c</field>
            <value>
                <elementReference>Case.Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Assigned__c</field>
            <value>
                <elementReference>Case.Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Director__c</field>
            <value>
                <elementReference>Case.Area_Sales_Director__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmitForApproval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Article__c</object>
    </recordUpdates>
    <screens>
        <name>Assign_case_screen</name>
        <label>Assign case</label>
        <locationX>2615</locationX>
        <locationY>429</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>Stage11</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contacts.Description</assignToReference>
                <name>currentStage</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Assignto_script_comp</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <elementReference>Assign_to_script</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contacts.Description</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Assign_to_PL</name>
            <extensionName>c:ServioceCloud_DependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>User_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>depField</name>
                <value>
                    <stringValue>Assign_To__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Case.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultVal</name>
                <value>
                    <elementReference>$User.User_Country__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Assign_To__c</assignToReference>
                <name>depresId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Assign_person_lookup</name>
            <extensionName>c:ServiceCloud_FlowLookupComp_ver2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field_API_rel</name>
                <value>
                    <stringValue>User_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field_API_search</name>
                <value>
                    <stringValue>Full_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field_API_text</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field_API_val</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>limit</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lookupIcon</name>
                <value>
                    <stringValue>standard:user</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Start writing the name of the person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelField</name>
                <value>
                    <stringValue>Assign owner manually</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.OwnerId</assignToReference>
                <name>selItemId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_description</name>
        <label>Describe</label>
        <locationX>1232</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_return_information</targetReference>
        </connector>
        <fields>
            <name>ProgressIndicator_Step3</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Credit_script</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please add details about the credit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>scriptText</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Credit_Order_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Credit_Order_Number__c</elementReference>
            </defaultValue>
            <fieldText>Credit Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Credit_Order_Total</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Case.Credit_Order_Total__c</elementReference>
            </defaultValue>
            <fieldText>Credit Order Total</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Denial_Ship_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Case.Denial_Ship_Date__c</elementReference>
            </defaultValue>
            <fieldText>Denial Ship Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Denial_Order_Tracking_Number2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Denial_Order_Tracking_Number__c</elementReference>
            </defaultValue>
            <fieldText>Denial Order Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Categorize</name>
        <label>Categorize</label>
        <locationX>1217</locationX>
        <locationY>1008</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_articles_flow</targetReference>
        </connector>
        <fields>
            <name>ProgressIndicator_Step3_0</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Script_Categorize</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please add more Information.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>scriptText</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CategoryDPL2</name>
            <extensionName>c:ServioceCloud_DependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultDepValue</name>
                <value>
                    <elementReference>Case.Complaint_Category__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultVal</name>
                <value>
                    <elementReference>Case.CaseType__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled2</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field2req</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>CaseType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>01220000000AvOOAA0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>depField</name>
                <value>
                    <stringValue>Complaint_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Complaint_Category__c</assignToReference>
                <name>depresId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Case.CaseType__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Order_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Order_Number__c</elementReference>
            </defaultValue>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Returmed_Product_Received_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Case.Returned_Product_Received_Date__c</elementReference>
            </defaultValue>
            <fieldText>Returned Product Received Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Credit_Order_Total2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Case.Credit_Order_Total__c</elementReference>
            </defaultValue>
            <fieldText>Credit Order Total</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Flow_Config_attribute.TotalCreditReturnField__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Return_Tracking_Number_text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Return_Tracking_Number__c</elementReference>
            </defaultValue>
            <fieldText>Return Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_0</name>
            <defaultValue>
                <stringValue>{!Case.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_case</name>
        <label>End case</label>
        <locationX>2347</locationX>
        <locationY>269</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignFirstCallRes</targetReference>
        </connector>
        <fields>
            <name>Stage10</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contacts.Description</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Script10</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <elementReference>Survey_script</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contacts.Description</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <fields>
            <name>First_Call_resolution_Return</name>
            <choiceReferences>FirstCallResolutionReturn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>First Call resolution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InternalComment</name>
            <fieldText>Internal Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Send_survey_toggle</name>
            <extensionName>c:ServiceCloud_FlowToggleComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>toggle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Send_survey_label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultToggle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Send_Survey__c</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error3</name>
        <label>errorscreen2</label>
        <locationX>1346</locationX>
        <locationY>1374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorscript3</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Something went wrong! This might be due to lack of permission, a required field is not populated, or invalid value. Please click on Previous button (if available) and see if you can fix it, meanwhile the error was sent to the admin. </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>erro4</name>
            <defaultValue>
                <stringValue>{!$Flow.FaultMessage}</stringValue>
            </defaultValue>
            <fieldText>This error message is technical, but it might give you a hint what went wrong</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exchange_screen</name>
        <label>Exchange_screen</label>
        <locationX>1513</locationX>
        <locationY>507</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_description</targetReference>
        </connector>
        <fields>
            <name>ProgressIndicator_Step3_1</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Exchange_script</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please add the details regarding the exchange</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Exchange_Order_Value</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Case.Exchange_Order_Value__c</elementReference>
            </defaultValue>
            <fieldText>Exchange Order Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Exchange_Order_Ship_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Case.Exchange_Order_Ship_Date__c</elementReference>
            </defaultValue>
            <fieldText>Exchange Order Ship Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Denial_Ship_Date_Exchange</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Case.Denial_Ship_Date__c</elementReference>
            </defaultValue>
            <fieldText>Denial Ship Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Denial_Order_Tracking_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Denial_Order_Tracking_Number__c</elementReference>
            </defaultValue>
            <fieldText>Denial Order Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Approvers</name>
        <label>Missing Approvers</label>
        <locationX>1929</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fast_update_case</targetReference>
        </connector>
        <fields>
            <name>SelectApprovers</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>We could&apos;t assign the approvers automatically, please add them manually</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Script_output</assignToReference>
                <name>scriptText</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SalesRep</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Rep__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Sales Rep</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Rep__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Rep__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SelectManager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Manager__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Manager__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Next_step</name>
        <label>Next step</label>
        <locationX>1515</locationX>
        <locationY>708</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_the_Rep_Manager_Populated</targetReference>
        </connector>
        <fields>
            <name>Stage9</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Script9</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>How would you like to proceed?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Var_contact_firstname</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Next_step_choice</name>
            <choiceReferences>Create_case_sel</choiceReferences>
            <choiceReferences>Assign_case_sel</choiceReferences>
            <choiceReferences>Submit_articles_for_approval</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would you like to proceed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Comments</name>
            <fieldText>Request Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Next_step_choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Submit_articles_for_approval</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Formula_user_country</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UK</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Order_information</name>
        <isActive>true</isActive>
        <label>Next step</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Step2_Assign_category</name>
        <isActive>true</isActive>
        <label>Additional information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Step3_Describe_case</name>
        <isActive>true</isActive>
        <label>Describe case</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>694</locationY>
        <connector>
            <targetReference>Check_object_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_articles_flow</name>
        <label>Add articles flow</label>
        <locationX>1513</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Step4</targetReference>
        </connector>
        <flowName>Case_Add_articles</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Articles</assignToReference>
            <name>Articles</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Add_articles_flow_0</name>
        <label>Add articles flow</label>
        <locationX>1305</locationX>
        <locationY>922</locationY>
        <connector>
            <targetReference>Step4_0</targetReference>
        </connector>
        <flowName>Case_Add_articles</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Articles</assignToReference>
            <name>Articles</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Description_text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Comment: 

Order number: {!Case.Order_Number__c} {!Article_number}
Tracking number:
Carrier: {!var_carrier}</text>
    </textTemplates>
    <variables>
        <name>Articles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Article__c</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Script_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Transcript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>var_article_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_carrier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_contact_firstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_spam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
