src/flows/Case_After_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_UKIE_SurveyEmail</name>
        <label>UK/IE: Survey Email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.UKIECustomerSatisfactionSurvey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ur_Contact_LastSurveySentDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>dec_UKSendSurvey</name>
        <label>UK/IE: Send Survey?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>dec_UKSendSurvey_True</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND ( 7 OR 8) AND (9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InternalEmail2Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.LastSurveySentDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>for_TodayDateMinus90Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.LastSurveySentDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_UKIE_SurveyEmail</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <description>Service Cloud Record-Triggered Flow for Created and Updated Cases - After Save. TFUS-000005056</description>
    <formulas>
        <name>for_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <description>Used in dec_UKSendSurvey Criteria</description>
        <name>for_TodayDateMinus90Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <interviewLabel>Case: After Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: After Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ur_Contact_LastSurveySentDate</name>
        <label>Update Contact&apos;s Last Survey Sent Date</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>LastSurveySentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_UKSendSurvey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01220000000AvOOAA0</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
