src/flows/Contract_Find_movex_template.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_template</name>
        <label>Add template</label>
        <locationX>773</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>Contract.Movex_template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_template.Movex_template__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_template</name>
        <label>Delete template</label>
        <locationX>550</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>Contract.Movex_template__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_template</name>
        <label>Check template</label>
        <locationX>541</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>Delete_template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Template_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_template.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_template</targetReference>
            </connector>
            <label>Template exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>C_discount_additional</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!Contract.AdditionalDiscount__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>C_discount_contract</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!Contract.Contract_Discount__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>C_discount_equipment</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!Contract.Contract_discount_equipment_picklist__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>C_discount_materials</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!Contract.Contract_discount_materials_picklist__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>C_type</name>
        <dataType>String</dataType>
        <expression>TEXT({!Contract.Contract_Model__c})</expression>
    </formulas>
    <interviewLabel>Contract: Find movex template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: Find movex template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_contract</name>
        <label>Find contract</label>
        <locationX>50</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_contract_templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_contract</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>Contract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Discount_model__c</queriedFields>
        <queriedFields>Contract_discount_equipment_picklist__c</queriedFields>
        <queriedFields>Contract_discount_materials_picklist__c</queriedFields>
        <queriedFields>Contract_Discount__c</queriedFields>
        <queriedFields>AdditionalDiscount__c</queriedFields>
        <queriedFields>Contract_Model__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_contract_templates</name>
        <label>Find contract templates</label>
        <locationX>350</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Discount_equipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>C_discount_equipment</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount_materials__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>C_discount_materials</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount_model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract.Discount_model__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount_additional__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>C_discount_additional</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount_contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>C_discount_contract</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>C_type</elementReference>
            </value>
        </filters>
        <object>Contract_template__c</object>
        <outputReference>Contract_template</outputReference>
        <queriedFields>Discount_equipment__c</queriedFields>
        <queriedFields>Discount_materials__c</queriedFields>
        <queriedFields>Movex_template__c</queriedFields>
        <queriedFields>Discount_contract__c</queriedFields>
        <queriedFields>Discount_additional__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_contract</name>
        <label>Update contract</label>
        <locationX>773</locationX>
        <locationY>451</locationY>
        <inputReference>Contract</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Contract_template</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_template__c</objectType>
    </variables>
    <variables>
        <name>Var_contract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
