src/flows/Contract_DS_Activate_Send_for_Signature.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>loadDSAgreementTemplate</name>
        <label>loadDSAgreementTemplate</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <actionName>echosign_dev1__AgreementTemplateLoadInvocableAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>agreementTemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>masterId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>agreeementId</assignToReference>
            <name>agreementId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Canada_EN_Template</name>
        <label>Assign Canada EN Template</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>TemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Agreement Template - CA - EN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDSActivateAgreementTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Canada_FR_Template</name>
        <label>Assign Canada FR Template</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>TemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Agreement Template - CA - FR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDSActivateAgreementTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Template</name>
        <label>Default Template</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>TemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Agreement Template</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDSActivateAgreementTemplate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decide on which Agreement Template to use based on the Account Country and language (TFUS-000004732)</description>
        <name>Choose_Template_Based_on_the_country_and_language</name>
        <label>Choose Template Based on the country and language</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Default_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Countries</defaultConnectorLabel>
        <rules>
            <name>Canada_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Account_Information.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCurrentContract.Contact__r.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Canada_EN_Template</targetReference>
            </connector>
            <label>Canada / English</label>
        </rules>
        <rules>
            <name>Country_French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Account_Information.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCurrentContract.Contact__r.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Canada_FR_Template</targetReference>
            </connector>
            <label>Country / French</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasAgreements</name>
        <label>decisionHasAgreements</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>showSendConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HasAgreementsFalse</defaultConnectorLabel>
        <rules>
            <name>HasAgreementsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getChildAgreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showAlreadyHasAgreements</targetReference>
            </connector>
            <label>HasAgreementsTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasDSActivatePermission</name>
        <label>hasDSActivatePermission</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>showNoPermission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DSActivatePermissionFALSE</defaultConnectorLabel>
        <rules>
            <name>DSActivatePermissionTRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.DS_Activate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCurrentContract</targetReference>
            </connector>
            <label>DSActivatePermissionTRUE</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaSendDSActivateURL</name>
        <dataType>String</dataType>
        <expression>URLFOR(&apos;/apex/echosign_dev1__AgreementTemplateProcess&apos;, null, [templateId=&apos;a1y7Y0000017R20QAE&apos;,masterId={!recordId},retURL=&apos;/&apos;&amp;{!recordId}])</expression>
    </formulas>
    <interviewLabel>Contract: DS Activate Send for Signature {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: DS Activate Send for Signature</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getChildAgreements</name>
        <label>getChildAgreements</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionHasAgreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>echosign_dev1__Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>echosign_dev1__SIGN_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrentContract</name>
        <label>getCurrentContract</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getChildAgreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDSActivateAgreementTemplate</name>
        <label>getDSActivateAgreementTemplate</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loadDSAgreementTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TemplateName</elementReference>
            </value>
        </filters>
        <object>echosign_dev1__Agreement_Template__c</object>
        <outputAssignments>
            <assignToReference>agreementTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the account information as the country and the preferred language. To be used to decide on which agreement template to use. (TFUS-000004732)</description>
        <name>Retrieve_Account_Information</name>
        <label>Retrieve Account Information</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Template_Based_on_the_country_and_language</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentContract.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>showAlreadyHasAgreements</name>
        <label>showAlreadyHasAgreements</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showSendConfirmation</targetReference>
        </connector>
        <fields>
            <name>msgAlreadyHasAgreementsTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(62, 62, 60);&quot;&gt;Customer Agreements Already Exist&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgAlreadyHasAgreementsBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 72px;&quot;&gt;⚠️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This contract already has agreements sent out to the customer. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Click Next if you want to send a new one.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showNoPermission</name>
        <label>showNoPermission</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgNoPermissionTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;You do not have the permission to send agreements&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgNoPermissionBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;If this is wrong, please contact your administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSendConfirmation</name>
        <label>showSendConfirmation</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retrieve_Account_Information</targetReference>
        </connector>
        <fields>
            <name>msgSendConfirmationTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(62, 62, 60);&quot;&gt;Send Customer Agreement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgSendConfirmationBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 72px; background-color: rgb(255, 255, 255);&quot;&gt;✉️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Click next to send an email to &lt;b&gt;{!getCurrentContract.Contact__r.Email}&lt;/b&gt; with a link to sign the DS Activate Agreement.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>hasDSActivatePermission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateSendDSACtivateURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>/apex/echosign_dev1__AgreementTemplateProcess?masterid={!recordId}&amp;templateId=a011I000006tTeXQAU&amp;retURL=/{!recordId}</text>
    </textTemplates>
    <variables>
        <name>agreeementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>agreementTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specifies the Agreement Template that will be used</description>
        <name>TemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
