src/flows/Contract_UpdateSalesData.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getPricingSalesData</name>
        <label>get Pricing Sales Data</label>
        <locationX>774</locationX>
        <locationY>599</locationY>
        <actionName>ContractTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateContract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ContractUpdateFailed</targetReference>
        </faultConnector>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>GetContract.SourceRecord__r.Customer_Id__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>GetContract.Implant_volume_L12M__c</assignToReference>
            <name>implantsResult</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GetContract.Sales_L12M__c</assignToReference>
            <name>salesResult</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigateToContract</name>
        <label>Navigate to Contract</label>
        <locationX>782</locationX>
        <locationY>1129</locationY>
        <actionName>c:Flow_NavigateToSObject</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetContract.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>RecordTypeDefault</name>
        <choiceText>Pricing contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_contract</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>ContractRecordTypeChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Contract.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Contract: Update Sales Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: Update Sales Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContract</name>
        <label>Get Contract</label>
        <locationX>763</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SourceRecordScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContract</name>
        <label>Update Contract</label>
        <locationX>777</locationX>
        <locationY>764</locationY>
        <connector>
            <targetReference>ContractUpdated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ContractUpdateFailed</targetReference>
        </faultConnector>
        <inputReference>GetContract</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>ContractUpdated</name>
        <label>Contract Updated</label>
        <locationX>771</locationX>
        <locationY>942</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContractUpdatedHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Contract Updated&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContractUpdatedBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The Contract has been successfully updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ContractUpdateFailed</name>
        <label>Contract Update Failed</label>
        <locationX>925</locationX>
        <locationY>940</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NavigateToContract</targetReference>
        </connector>
        <fields>
            <name>ContractUpdateFailedHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Ooops!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContractUpdatedBody_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The Contract could unfortunately not be updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SourceRecordScreen</name>
        <label>Select Source Record</label>
        <locationX>765</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getPricingSalesData</targetReference>
        </connector>
        <fields>
            <name>ContractDetailsHeader_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Update Sales Data&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContractDetailsHeaderBody_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure you want to update the sales data for this Contract?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer</name>
            <extensionName>c:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Update</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Update</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canBackCustom</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>637</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CalcCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>implantsInput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesData</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>salesInput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Source_Record__c</objectType>
    </variables>
    <variables>
        <name>sourceRecords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceRecordStringList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
