src/flows/Contract_NewPricingContract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EFA_NavigateToContract</name>
        <label>Navigate to Contract</label>
        <locationX>3751</locationX>
        <locationY>3116</locationY>
        <actionName>c:Flow_NavigateToSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>EFA_createContract</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getPricingSalesData</name>
        <label>get Pricing Sales Data</label>
        <locationX>1950</locationX>
        <locationY>2714</locationY>
        <actionName>ContractTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignCalcRun</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_0_sales</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>Contract.AccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Contract.Implant_volume_L12M__c</assignToReference>
            <name>implantsResult</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Contract.Sales_L12M__c</assignToReference>
            <name>salesResult</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavigateToContract</name>
        <label>Navigate to Contract</label>
        <locationX>1970</locationX>
        <locationY>4549</locationY>
        <actionName>c:Flow_NavigateToSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Contract.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_0_sales</name>
        <label>Assign 0 sales</label>
        <locationX>1968</locationX>
        <locationY>3102</locationY>
        <assignmentItems>
            <assignToReference>Contract.Sales_L12M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Implant_volume_L12M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDiscountModel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Purchasing_Contract_RT</name>
        <label>Assign Purchasing Contract RT</label>
        <locationX>2253</locationX>
        <locationY>2217</locationY>
        <assignmentItems>
            <assignToReference>Contract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRTId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isOpportunity2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCalcRun</name>
        <label>Assign Calc Run</label>
        <locationX>1852</locationX>
        <locationY>2881</locationY>
        <assignmentItems>
            <assignToReference>CalcCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDiscountModel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContractSalesData_0_0_0</name>
        <label>Assign Contract Sales Data</label>
        <locationX>1765</locationX>
        <locationY>2134</locationY>
        <assignmentItems>
            <assignToReference>Contract.General_practitioner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.New_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Sales_Correction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Revenue_forecast__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRTId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isOpportunity1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContractSourceRecord</name>
        <label>Assign Contract Source Record</label>
        <locationX>1688</locationX>
        <locationY>2466</locationY>
        <assignmentItems>
            <assignToReference>Contract.SourceRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceRecord_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HasCalculationRan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>TFUS-000003033</description>
        <name>assignCustomerAgreementFilter</name>
        <label>assignCustomerAgreementFilter</label>
        <locationX>2567</locationX>
        <locationY>1285</locationY>
        <assignmentItems>
            <assignToReference>customerAgreementFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EFA_choiceCustomerAgreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionCountrySupported</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCustomerNumbers</name>
        <label>Assign customer numbers</label>
        <locationX>1859</locationX>
        <locationY>3490</locationY>
        <assignmentItems>
            <assignToReference>Contract.Several_Customer_numbers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Several_Customer_numbers_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SeveralCustomerNumbers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SalesCorrectionCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDiscountContractFilter</name>
        <label>assignDiscountContractFilter</label>
        <locationX>2623</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>DiscountContractContractFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionRTPricingContractAvailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPricingContractData</name>
        <label>Assign Pricing Contract Data</label>
        <locationX>1662</locationX>
        <locationY>3325</locationY>
        <assignmentItems>
            <assignToReference>Contract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Discount_model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDiscountModel.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Contract_length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MultipleCustomerNumbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>TFUS-000003033</description>
        <name>assignPricingContractFilter</name>
        <label>assignPricingContractFilter</label>
        <locationX>2567</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>pricingContractFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricingContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionRTPurchasingContractAvailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPurchasingContract</name>
        <label>Assign Purchasing Contract</label>
        <locationX>2291</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>Contract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PurchasingStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PruchasingEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Contract_Value_D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Value_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.SpecialTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SpecialTerms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Movex_Contract_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovexContractNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.SourceRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceRecord_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePurchasingContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>TFUS-000003033</description>
        <name>assignPurchasingContractFilter</name>
        <label>assignPurchasingContractFilter</label>
        <locationX>2560</locationX>
        <locationY>1041</locationY>
        <assignmentItems>
            <assignToReference>purchasingContractFilter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PurchasingContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionRTCustomerAgreementAvailable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSalesCorrection</name>
        <label>Assign Sales Correction</label>
        <locationX>1673</locationX>
        <locationY>4132</locationY>
        <assignmentItems>
            <assignToReference>Contract.New_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCustomer_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Revenue_forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesCorrection_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Implant_forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SoldImplantsCorrection_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPricingNavigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSalesCorrection_0</name>
        <label>Assign Sales Correction</label>
        <locationX>1858</locationX>
        <locationY>4035</locationY>
        <assignmentItems>
            <assignToReference>Contract.New_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCustomer_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Revenue_forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesCorrection_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Sales_Correction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPricingNavigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSalesCorrection_0_0</name>
        <label>Assign Sales Correction</label>
        <locationX>1974</locationX>
        <locationY>4073</locationY>
        <assignmentItems>
            <assignToReference>Contract.New_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCustomer_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Implant_forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SoldImplantsCorrection_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Correction_of_sales_needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPricingNavigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSalesCorrection_0_0_0</name>
        <label>Assign Sales Correction</label>
        <locationX>2119</locationX>
        <locationY>3954</locationY>
        <assignmentItems>
            <assignToReference>Contract.New_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCustomer_0.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Revenue_forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesCorrection_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Implant_forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SoldImplantsCorrection_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Correction_of_sales_needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Sales_Correction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPricingNavigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Canada_English_Description</name>
        <label>Canada / English Description</label>
        <locationX>3463</locationX>
        <locationY>2524</locationY>
        <assignmentItems>
            <assignToReference>EFA_ContractDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EFA_contractDescriptionTemplate_CA_EN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EFA_updateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Canada_French_Description</name>
        <label>Canada / French Description</label>
        <locationX>3665</locationX>
        <locationY>2520</locationY>
        <assignmentItems>
            <assignToReference>EFA_ContractDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EFA_contractDescriptionTemplate_CA_FR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EFA_updateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>contractOpportunityField1</name>
        <label>contractOpportunityField</label>
        <locationX>1447</locationX>
        <locationY>2103</locationY>
        <assignmentItems>
            <assignToReference>Contract.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SourceRecordScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Description</name>
        <label>Default Description</label>
        <locationX>3275</locationX>
        <locationY>2527</locationY>
        <assignmentItems>
            <assignToReference>EFA_ContractDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EFA_contractDescriptionTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EFA_updateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DiscountContractAssignamentDetails</name>
        <label>DiscountContractAssignamentDetails</label>
        <locationX>55</locationX>
        <locationY>3114</locationY>
        <assignmentItems>
            <assignToReference>Contract.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRTId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDiscountContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fillContractOpportunityField</name>
        <label>fillContractOpportunityField</label>
        <locationX>2575</locationX>
        <locationY>2075</locationY>
        <assignmentItems>
            <assignToReference>Contract.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SourceRecordScreen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRecordIdWithAccountId</name>
        <label>SetRecordIdWithAccountId</label>
        <locationX>1706</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>TFUS-000003033</description>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>DiscountContract</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;DiscountContract&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DiscountContract</stringValue>
        </value>
    </choices>
    <choices>
        <description>TFUS-000003033</description>
        <name>EFA_choiceCustomerAgreement</name>
        <choiceText>Customer Agreement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer_Agreement</stringValue>
        </value>
    </choices>
    <choices>
        <name>PricingContract</name>
        <choiceText>Pricing Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>PurchasingContract</name>
        <choiceText>Purchasing Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchasing_Contract_Turnover</stringValue>
        </value>
    </choices>
    <choices>
        <name>RecordTypeDefault</name>
        <choiceText>Pricing contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing_contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>SourceRecordChoice</name>
        <choiceText>{!Source_Records.Combined_Fields__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Source_Records.Id</elementReference>
        </value>
    </choices>
    <decisions>
        <name>CheckContractType</name>
        <label>Check Contract Type</label>
        <locationX>1983</locationX>
        <locationY>2425</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PricingContractSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractTypeSelectList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing_contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContractSalesData_0_0_0</targetReference>
            </connector>
            <label>Pricing Contract</label>
        </rules>
        <rules>
            <name>PurchasingContractSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractTypeSelectList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchasing_Contract_Turnover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Purchasing_Contract_RT</targetReference>
            </connector>
            <label>Purchasing Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPricingNavigation</name>
        <label>Check Navigation</label>
        <locationX>1257</locationX>
        <locationY>4134</locationY>
        <defaultConnector>
            <targetReference>CreatePricingContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GoBack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricingFooter.nextChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SourceRecordScreen</targetReference>
            </connector>
            <label>Go back</label>
        </rules>
    </decisions>
    <decisions>
        <description>TFUS-000003063</description>
        <name>decisionCountrySupported</name>
        <label>decisionCountrySupported</label>
        <locationX>2373</locationX>
        <locationY>1432</locationY>
        <defaultConnector>
            <targetReference>SelectContractType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CountrySupportedTrue</defaultConnectorLabel>
        <rules>
            <name>CountrySupportedFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>purchasingContractFilter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pricingContractFilter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customerAgreementFilter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DiscountContractContractFilter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showCountryNotSupported</targetReference>
            </connector>
            <label>CountrySupportedFalse</label>
        </rules>
    </decisions>
    <decisions>
        <description>TFUS-000003033</description>
        <name>decisionRTCustomerAgreementAvailable</name>
        <label>decisionRTCustomerAgreementAvailable</label>
        <locationX>2356</locationX>
        <locationY>1137</locationY>
        <defaultConnector>
            <targetReference>decisionCountrySupported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CustomerAgreementAvailableFalse</defaultConnectorLabel>
        <rules>
            <name>CustomerAgreementAvailableTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.DS_Activate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCustomerAgreementFilter</targetReference>
            </connector>
            <label>CustomerAgreementAvailableTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionRTDiscountContractAvailable</name>
        <label>DecisionRTDiscountContractAvailable</label>
        <locationX>2350</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>decisionRTPricingContractAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DiscountContractContractAvailableFalse</defaultConnectorLabel>
        <rules>
            <name>DiscountContractContractAvailableTrue</name>
            <conditionLogic>(1 OR 2 )  AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.User_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDiscountContractFilter</targetReference>
            </connector>
            <label>DiscountContractContractAvailableTrue</label>
        </rules>
    </decisions>
    <decisions>
        <description>TFUS-000003033</description>
        <name>decisionRTPricingContractAvailable</name>
        <label>decisionRTPricingContractAvailable</label>
        <locationX>2350</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>decisionRTPurchasingContractAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PricingContractAvailableFalse</defaultConnectorLabel>
        <rules>
            <name>PricingContractAvailableTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.User_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPricingContractFilter</targetReference>
            </connector>
            <label>PricingContractAvailableTrue</label>
        </rules>
    </decisions>
    <decisions>
        <description>TFUS-000003033</description>
        <name>decisionRTPurchasingContractAvailable</name>
        <label>decisionRTPurchasingContractAvailable</label>
        <locationX>2350</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>decisionRTCustomerAgreementAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PurchasingContractAvailableFalse</defaultConnectorLabel>
        <rules>
            <name>PurchasingContractAvailableTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.User_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPurchasingContractFilter</targetReference>
            </connector>
            <label>PurchasingContractAvailableTrue</label>
        </rules>
    </decisions>
    <decisions>
        <description>TFUS-000003033</description>
        <name>EFA_decisionCustomerAgreement</name>
        <label>EFA_decisionCustomerAgreement</label>
        <locationX>2277</locationX>
        <locationY>1834</locationY>
        <defaultConnector>
            <targetReference>Source_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CustomerAgreementFalse</defaultConnectorLabel>
        <rules>
            <name>CustomerAgreementTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractTypeSelectList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EFA_choiceCustomerAgreement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EFA_showContractInput</targetReference>
            </connector>
            <label>CustomerAgreementTrue</label>
        </rules>
        <rules>
            <name>DiscountContractTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractTypeSelectList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DiscountContract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DiscountContractInsertData</targetReference>
            </connector>
            <label>DiscountContractTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasCalculationRan</name>
        <label>Has calculation ran?</label>
        <locationX>1805</locationX>
        <locationY>2518</locationY>
        <defaultConnector>
            <targetReference>getPricingSalesData</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CalculationHasRan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalcCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDiscountModel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOpportunity1</name>
        <label>isOpportunity</label>
        <locationX>1567</locationX>
        <locationY>2119</locationY>
        <defaultConnector>
            <targetReference>SourceRecordScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOpportunityTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contractOpportunityField1</targetReference>
            </connector>
            <label>isOpportunityTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOpportunity2</name>
        <label>isOpportunity</label>
        <locationX>2365</locationX>
        <locationY>2131</locationY>
        <defaultConnector>
            <targetReference>SourceRecordScreen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOpportunityTrue2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fillContractOpportunityField</targetReference>
            </connector>
            <label>isOpportunityTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>MultipleCustomerNumbers</name>
        <label>Multiple customer numbers?</label>
        <locationX>1655</locationX>
        <locationY>3490</locationY>
        <defaultConnector>
            <targetReference>SalesCorrectionCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasMultipleCustomerNumbers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SeveralCustomerNumbers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCustomerNumbers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalesCorrectionCheck</name>
        <label>Sales Correction?</label>
        <locationX>1662</locationX>
        <locationY>3781</locationY>
        <defaultConnector>
            <targetReference>CheckPricingNavigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewCustomerAdded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCustomer_0.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSalesCorrection</targetReference>
            </connector>
            <label>New Customer</label>
        </rules>
        <rules>
            <name>SalesCorrected</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>SalesCorrection_0</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCustomer_0.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SoldImplantsCorrection_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SoldImplantsCorrection_0</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSalesCorrection_0</targetReference>
            </connector>
            <label>Sales corrected</label>
        </rules>
        <rules>
            <name>ImplantsCorrected</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>NewCustomer_0.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SoldImplantsCorrection_0</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesCorrection_0</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesCorrection_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSalesCorrection_0_0</targetReference>
            </connector>
            <label>Implants corrected</label>
        </rules>
        <rules>
            <name>SalesAndImplantsCorrected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCustomer_0.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SoldImplantsCorrection_0</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesCorrection_0</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSalesCorrection_0_0_0</targetReference>
            </connector>
            <label>Sales and Implants corrected</label>
        </rules>
    </decisions>
    <decisions>
        <description>TFUS-000004732</description>
        <name>Select_Contract_Description</name>
        <label>Select Contract Description</label>
        <locationX>3450</locationX>
        <locationY>2275</locationY>
        <defaultConnector>
            <targetReference>Default_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Countries</defaultConnectorLabel>
        <rules>
            <name>Canada_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Preferred_Language.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canada_English_Description</targetReference>
            </connector>
            <label>Canada / English</label>
        </rules>
        <rules>
            <name>Canada_French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Preferred_Language.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canada_French_Description</targetReference>
            </connector>
            <label>Canada / French</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatObject</name>
        <label>WhatObject</label>
        <locationX>1942</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>StartObjectsNotSupported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaRecordIdPrefixFirst3Char</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opprotunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaRecordIdPrefixFirst3Char</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunity</targetReference>
            </connector>
            <label>Opprotunity</label>
        </rules>
    </decisions>
    <description>Expanded to start from Opp</description>
    <dynamicChoiceSets>
        <name>ContractRecordTypeChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Contract.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>TFUS-000003033</description>
        <name>contractRTChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricingContractFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>purchasingContractFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerAgreementFilter</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DiscountContractContractFilter</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>selectedRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceRecordPicklist</name>
        <dataType>String</dataType>
        <displayField>Combined_Fields__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CIM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Source_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Source_Record__c</object>
        <sortField>Source_Id__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>TFUS-000003033</description>
        <name>EFA_formulaContractEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
      AND(
      MONTH( {!EFA_inputContractStartDate}) = 2,
      DAY({!EFA_inputContractStartDate}) = 29,
      NOT(
      OR(
      MOD( YEAR({!EFA_inputContractStartDate}), 400 ) = 0,
      AND(
      MOD( YEAR({!EFA_inputContractStartDate}), 4 ) = 0,
      MOD( YEAR({!EFA_inputContractStartDate}), 100 ) != 0
      )
      )
      )
      ),
      DATE( YEAR({!EFA_inputContractStartDate}) + 3, 3, 1),
      DATE( YEAR({!EFA_inputContractStartDate}) + 3, MONTH({!EFA_inputContractStartDate}), DAY({!EFA_inputContractStartDate}) )
      )</expression>
    </formulas>
    <formulas>
        <description>TFUS-000003033</description>
        <name>EFA_formulaContractName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.Name} + &quot; &quot; + {!Get_Account.OneSF_Id__c} + &quot; DS Activate&quot; + &quot; &quot; + TEXT({!EFA_inputContractStartDate})</expression>
    </formulas>
    <formulas>
        <name>formulaRecordIdPrefixFirst3Char</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 3)</expression>
    </formulas>
    <interviewLabel>Contract: New Pricing Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: New Pricing Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDiscountContract</name>
        <label>Create Discount Contract</label>
        <locationX>50</locationX>
        <locationY>3968</locationY>
        <connector>
            <targetReference>NavigateToContract</targetReference>
        </connector>
        <inputReference>Contract</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatePricingContract</name>
        <label>Create Pricing Contract</label>
        <locationX>1662</locationX>
        <locationY>4333</locationY>
        <connector>
            <targetReference>NavigateToContract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Contract</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatePurchasingContract</name>
        <label>Create Purchasing Contract</label>
        <locationX>2295</locationX>
        <locationY>3869</locationY>
        <connector>
            <targetReference>NavigateToContract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Contract</inputReference>
    </recordCreates>
    <recordCreates>
        <description>TFUS-000003033</description>
        <name>EFA_createContract</name>
        <label>EFA_createContract</label>
        <locationX>3463</locationX>
        <locationY>3116</locationY>
        <connector>
            <targetReference>EFA_NavigateToContract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>EFA_inputContractAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>EFA_inputContractAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>EFA_inputContractAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>EFA_inputContractAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>EFA_selectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Value_D__c</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EFA_ContractDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>EFA_inputLookupDistributor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>EFA_formulaContractEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSureSmileCustomer__c</field>
            <value>
                <elementReference>EFA_inputSureSmileCustomer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LegalPracticeName__c</field>
            <value>
                <elementReference>EFA_inputLegalPracticeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EFA_formulaContractName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuarterlyCaseMinimum__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>selectedRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>EFA_inputContractAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>EFA_inputContractAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>EFA_inputContractAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>EFA_inputContractAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>EFA_inputContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SureSmileCustomerNumber__c</field>
            <value>
                <elementReference>EFA_inputSureSmileCustomerNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Contract__c</field>
            <value>
                <stringValue>DS Activate</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>2095</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionRTDiscountContractAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Will be used to choose the right language for Contract Description (TFUS-000004732)</description>
        <name>Get_Contact_Preferred_Language</name>
        <label>Get Contact Preferred Language</label>
        <locationX>3459</locationX>
        <locationY>2058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Contract_Description</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EFA_selectedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDiscountModel</name>
        <label>Get Discount Model</label>
        <locationX>1662</locationX>
        <locationY>2965</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateContractScreen1_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateContractScreen1_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Discount_model__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>1706</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetRecordIdWithAccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Source_Records</name>
        <label>Source Records</label>
        <locationX>1996</locationX>
        <locationY>2262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckContractType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CheckContractType</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CIM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Source_Record__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>TFUS-000003033</description>
        <name>EFA_updateAccount</name>
        <label>EFA_updateAccount</label>
        <locationX>3463</locationX>
        <locationY>2794</locationY>
        <connector>
            <targetReference>EFA_createContract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>EFA_createContract</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>EFA_inputPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>createContract</name>
        <label>createContract</label>
        <locationX>1736</locationX>
        <locationY>1078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>newContractFromComp</name>
            <extensionName>c:NavigateToCreateRecordComp_FLOW</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultFieldValues</name>
                <value>
                    <stringValue>{Name : &apos;hola&apos;}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectToCreate</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue>0011x00001hvw6LAAQ</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>0121x000005Pt4hAAC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hasNavigated</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateContractScreen1_0</name>
        <label>Create Contract</label>
        <locationX>1664</locationX>
        <locationY>3131</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignPricingContractData</targetReference>
        </connector>
        <fields>
            <name>ContractDetailsHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Add Contract Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContractDetailsHeaderBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please add some more details about the new Pricing Contract.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContractHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!Get_Account.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesL12M</name>
            <extensionName>c:Flow_InputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Sales_L12M__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>Contract.Sales_L12M__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Contract.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ImplantVolumeL12M</name>
            <extensionName>c:Flow_InputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Implant_volume_L12M__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>Contract.Implant_volume_L12M__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Contract.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SeveralCustomerNumbers</name>
            <dataType>String</dataType>
            <fieldText>Several Customer Numbers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GeneralPractitioner</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>General Practitioner?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Contract.General_practitioner__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewCustomer_0</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New customer?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Contract.New_customer__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SalesImplantsCorrectionNeeded_0</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sales/Implants correction needed?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SalesCorrection_0</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Contract.Revenue_forecast__c</elementReference>
            </defaultValue>
            <fieldText>Sales Correction</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NewCustomer_0.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SalesImplantsCorrectionNeeded_0.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SoldImplantsCorrection_0</name>
            <dataType>Number</dataType>
            <fieldText>Sold Implants Correction</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NewCustomer_0.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SalesImplantsCorrectionNeeded_0.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PricingFooter</name>
            <extensionName>c:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Create Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canBackCustom</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DiscountContractInsertData</name>
        <label>DiscountContractInsertData</label>
        <locationX>55</locationX>
        <locationY>1843</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DiscountContractAssignamentDetails</targetReference>
        </connector>
        <fields>
            <name>ContractStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Contract Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>TFUS-000003033</description>
        <name>EFA_showContractInput</name>
        <label>EFA_showContractInput</label>
        <locationX>2971</locationX>
        <locationY>1834</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EFA_showSelectContact</targetReference>
        </connector>
        <fields>
            <name>EFA_msgContractInputTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 22px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Contract Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EFA_msgContractInputBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Let&apos;s start with some initial details. Selecting a distributor is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EFA_showContractInput_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EFA_showContractInput_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EFA_inputLegalPracticeName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Legal Practice Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EFA_showContractInput_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EFA_inputPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Account.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>EFA_inputContractStartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Contract Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Contract End Date will automatically be set as 3 years after the Start Date&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EFA_showContractInput_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EFA_showContractInput_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EFA_inputSureSmileCustomer</name>
                    <choiceReferences>choiceNo</choiceReferences>
                    <choiceReferences>choiceYes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>choiceNo</defaultSelectedChoiceReference>
                    <fieldText>SureSmile Customer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EFA_showContractInput_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EFA_inputSureSmileCustomerNumber</name>
                    <dataType>String</dataType>
                    <fieldText>SureSmile Practice Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EFA_inputSureSmileCustomer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choiceYes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>EFA_inputContractAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Account.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Account.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Account.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Account.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Account.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EFA_inputLookupDistributor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Distributor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Distributor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EFA_showSelectContact</name>
        <label>EFA_showSelectContact</label>
        <locationX>3174</locationX>
        <locationY>1833</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EFA_showSelectedContact</targetReference>
        </connector>
        <fields>
            <name>EFA_msgSelectContactTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 22px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Select a Contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EFA_msgSelectContactBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Select from the names below. These are the available contacts related to this account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EFA_flow_pickContact</name>
            <extensionName>c:flow_recordVisualPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <stringValue>SELECT Id, Full_Name__c, FirstName, LastName, Email, Title, Contact_Type__c, Sub_Contact_Type__c FROM Contact WHERE AccountId =: recordId AND Primary_Contact__c = false AND (Profession__c != &apos;Office Manager&apos; OR Profession__c != &apos;Office Staff/Front Desk&apos;) ORDER BY Full_Name__c ASC NULLS LAST</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>JSONInput</name>
                <value>
                    <stringValue>Title,FirstName,LastName,Preferred_Language__c,Email,MobilePhone,PrimaryMethodOfContact__c,Profession__c,Specialty__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldOne</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldTwo</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <stringValue>Full_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EFA_selectedContactId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>TFUS-000003033</description>
        <name>EFA_showSelectedContact</name>
        <label>EFA_showSelectedContact</label>
        <locationX>3457</locationX>
        <locationY>1833</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Preferred_Language</targetReference>
        </connector>
        <fields>
            <name>EFA_showSelectedContactTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Verify the Contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EFA_showSelectedContactBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Make sure that the contact information is correct. &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Email&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt; and &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Practitioner ID&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt; (NPI#) are required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EFA_recordformSelectedContact</name>
            <extensionName>c:flow_recordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[ &quot;FirstName&quot;,&quot;LastName&quot;,&quot;Title&quot;,&quot;Preferred_Language__c&quot;,&quot;PrimaryMethodOfContact__c&quot;,&quot;Email&quot;,&quot;Phone&quot;,&quot;MobilePhone&quot;,&quot;Profession__c&quot;,&quot;Specialty__c&quot;,&quot;Practitioner_ID_NPI_in_US__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>view</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>EFA_selectedContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredFields</name>
                <value>
                    <stringValue>[&quot;Email&quot;,&quot;Practitioner_ID_NPI_in_US__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>2684</locationX>
        <locationY>3657</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;An error occurred&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Unfortunately, the Contract could not be created.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Purchasing_Contract_Details</name>
        <label>Purchasing Contract Details</label>
        <locationX>2585</locationX>
        <locationY>2334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PurchasingContractBasics</targetReference>
        </connector>
        <fields>
            <name>PurchasingContractHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Add Purchasing Contract&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PurchasingContractDepPLCustom</name>
            <extensionName>c:Flow_DependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Contract_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>depField</name>
                <value>
                    <stringValue>Contract_Model__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Contract.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1req</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field2req</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field3req</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>depField2</name>
                <value>
                    <stringValue>Contract_Discount__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contract.Contract_Type__c</assignToReference>
                <name>resId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Contract.Contract_Model__c</assignToReference>
                <name>depresId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Contract.Contract_Discount__c</assignToReference>
                <name>depresId2</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contract_Value_Number</name>
            <dataType>Number</dataType>
            <fieldText>Contract Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SpecialTerms</name>
            <fieldText>Special Terms</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PurchasingContractBasics</name>
        <label>Purchasing Contract Details</label>
        <locationX>2291</locationX>
        <locationY>2535</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignPurchasingContract</targetReference>
        </connector>
        <fields>
            <name>PurchasingContractHeaderBasics</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Add Purchasing Contract&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PurchasingStartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PruchasingEndDate</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MovexContractNumber</name>
            <dataType>String</dataType>
            <fieldText>Movex Contract Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PurchasingButton</name>
            <extensionName>c:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Create Contract</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectContractType</name>
        <label>Select Contract Type</label>
        <locationX>1993</locationX>
        <locationY>1453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EFA_decisionCustomerAgreement</targetReference>
        </connector>
        <fields>
            <name>SelectTypeHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Select Contract Type&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flow_recordFormAccountStart</name>
            <extensionName>c:flow_recordForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columns</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[ &quot;Name&quot;,&quot;Phone&quot;,&quot;ShippingStreet&quot;,&quot;ShippingCity&quot;,&quot;ShippingPostalCode&quot;,&quot;ShippingCountry&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>readonly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Account Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>narrow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContractTypeSelectList</name>
            <choiceReferences>contractRTChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a Contract Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>TFUS-000003063</description>
        <name>showCountryNotSupported</name>
        <label>showCountryNotSupported</label>
        <locationX>1965</locationX>
        <locationY>1078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createContract</targetReference>
        </connector>
        <fields>
            <name>msgCountryNotSupportedTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 22px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Country not supported&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgCountryNotSupportedBody</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SourceRecordScreen</name>
        <label>Select Source Record</label>
        <locationX>1482</locationX>
        <locationY>2283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignContractSourceRecord</targetReference>
        </connector>
        <fields>
            <name>ContractDetailsHeader_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Contract Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContractDetailsHeaderBody_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please select a Contract start date and which Source Record that you would like the Contract to be associated with.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SourceRecord_0</name>
            <choiceReferences>SourceRecordChoice</choiceReferences>
            <choiceReferences>SourceRecordPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SourceRecordChoice</defaultSelectedChoiceReference>
            <fieldText>Source Record</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SourceRecordScreen_0</name>
        <label>Select Source Record</label>
        <locationX>2580</locationX>
        <locationY>2218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Purchasing_Contract_Details</targetReference>
        </connector>
        <fields>
            <name>ContractDetailsHeader_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Contract Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContractDetailsHeaderBody_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please select which Source Record that you would like the Contract to be associated with.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SourceRecord_0_0</name>
            <choiceReferences>SourceRecordChoice</choiceReferences>
            <choiceReferences>SourceRecordPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SourceRecordChoice</defaultSelectedChoiceReference>
            <fieldText>Source Record</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StartObjectsNotSupported</name>
        <label>StartObjectNotSupported</label>
        <locationX>1744</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StartObjectNotSupportedMessage</name>
            <fieldText>&lt;p&gt;Start Object Not Supported&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1966</locationX>
        <locationY>171</locationY>
        <connector>
            <targetReference>WhatObject</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>TFUS-000003033</description>
        <name>EFA_contractDescriptionTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Full Description of Equipment, Including Make and Model (&quot;Equipment&quot;):
      Primescan Digital Impression System (Part #: 669714)
      Equipment MSRP: $ 44,995
      Discounted Purchase Price: $ 36,995
      Upfront Payment: $ 24,995
      ---
      Full Description of Products and Services to be Pruchased:
      SureSmile Complete Cases (&quot;SureSmile Complete Cases&quot;)
      Base Case Price: $ 1,195
      Installment Payment Premium: $ 200
      Total Case Price: $ 1,395</text>
    </textTemplates>
    <textTemplates>
        <name>EFA_contractDescriptionTemplate_CA_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Full Description of Equipment, Including Make and Model (&quot;Equipment&quot;):
      Primescan Digital Impression System (Part #: 669714)
      PrimeScan MSRP: $ 49,550
      Discounted Purchase Price: $ 35,000
      Upfront Payment: $ 35,000
      ---
      Full Description of Products and Services to be purchased:
      SureSmile Complete Cases (&quot;SureSmile Complete Cases&quot;)
      Base Case Price: $ 1,465
      Installment Payment Premium: $ 330
      Total Case Price: $ 1,795</text>
    </textTemplates>
    <textTemplates>
        <name>EFA_contractDescriptionTemplate_CA_FR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Description complte de lquipement, y compris la marque et le modle (quipement):
      Systme dempreinte numrique Primescan (Numro darticle: 6692672)
      PDSF de lquipement: $ 52 540
      Prix dachat rduit: $ 35 000
      ---
      Description complte des produits et services  acheter:
      Cas complets SureSmile (Cas complets SureSmile)
      Prix par cas : $ 1 795</text>
    </textTemplates>
    <variables>
        <name>CalcCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <description>TFUS-000003033</description>
        <name>customerAgreementFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>DiscountContractContractFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>EFA_ContractDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>EFA_contractDescriptionTemplate</elementReference>
        </value>
    </variables>
    <variables>
        <description>TFUS-000003033</description>
        <name>EFA_selectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>implantsInput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isOpportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>pricingContractFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>TFUS-000003033</description>
        <name>purchasingContractFilter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesData</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>salesInput</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>TFUS-000003033</description>
        <name>selectedRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SourceRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Source_Record__c</objectType>
    </variables>
    <variables>
        <name>sourceRecords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceRecordStringList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
