src/flows/Contract_Update_sales_history.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_blank_impl_commitment</name>
        <label>Assign blank impl commitment</label>
        <locationX>1069</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>Var_contract.Implant_commitment_perc_input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_contract.Abutment_commitment_pick__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_contract.Pooled_order_commitment_perc_input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sales</name>
        <label>Assign sales</label>
        <locationX>564</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>Var_contract.Sales_L12M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_account.Sales_L12M_D__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_contract.Implant_volume_L12M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_account.Sold_Implants_L12M__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_contract.Sales_L24M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesL24M</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_implant_commitment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_implant_commitment</name>
        <label>Check_implant_commitment</label>
        <locationX>801</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Assign_blank_impl_commitment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Impl_comm_form</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_contract.General_practitioner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contract</targetReference>
            </connector>
            <label>&gt;30</label>
        </rules>
        <rules>
            <name>X10_and_GP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Impl_comm_form</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_contract.General_practitioner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contract</targetReference>
            </connector>
            <label>&gt;10 and GP</label>
        </rules>
    </decisions>
    <formulas>
        <name>Impl_comm_form</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!Var_contract.Implant_commitment_perc_input__c}))*{!Var_account.Sold_Implants_L12M__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SalesL24M</name>
        <dataType>Currency</dataType>
        <expression>{!Var_account.Sales_L12M_D__c} + {!Var_account.Sales_L13_24M_D__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Contract: Update sales history {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: Update sales history</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_account</name>
        <label>Find account</label>
        <locationX>359</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_contract.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Var_account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_L12M_D__c</queriedFields>
        <queriedFields>Sold_Implants_L12M__c</queriedFields>
        <queriedFields>Sales_L13_24M_D__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_contract</name>
        <label>Find contract</label>
        <locationX>184</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_ID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>Var_contract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Implant_commitment_perc_input__c</queriedFields>
        <queriedFields>General_practitioner__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_contract</name>
        <label>Update contract</label>
        <locationX>1228</locationX>
        <locationY>334</locationY>
        <inputReference>Var_contract</inputReference>
    </recordUpdates>
    <startElementReference>Find_contract</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contract_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Var_contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
