src/flows/ContractAfterHandler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apexAction_doNothing</name>
        <label>DoNothing</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>DoNothingPB</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>DoNothingPB</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ContractActivationPost</name>
        <label>ContractActivationPost</label>
        <locationX>314</locationX>
        <locationY>3000</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ContractActivationPostTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>doNothingSch0</name>
        <label>doNothing</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>DoNothingPB</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>DoNothingPB</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>doNothingSch1</name>
        <label>doNothing</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <actionName>DoNothingPB</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>DoNothingPB</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>doNothingSch2</name>
        <label>doNothing</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <actionName>DoNothingPB</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>DoNothingPB</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailNotificationContractSoonFulfilled</name>
        <label>Send E-mail notification that Contract is close to be fulfilled</label>
        <locationX>314</locationX>
        <locationY>1092</locationY>
        <actionName>Contract.Send_E_mail_notification_that_Contract_is_close_to_be_fulfilled</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DESC_SetApprovalStatusOnCreation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Send_E_mail_notification_that_Contract_is_close_to_be_fulfilled</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>BNLContractStatusActiveEndDate</name>
        <label>BNL contract status active: end date</label>
        <locationX>1502</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>doNothingSch1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_BnlContractStatusActiveEndDate</defaultConnectorLabel>
        <rules>
            <name>TRUE_BnlContractStatusActiveEndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_BNLContractStatusActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusToEndDatePassed</targetReference>
            </connector>
            <label>BNL Contract Status Active (End Date)</label>
        </rules>
    </decisions>
    <decisions>
        <name>BNLContractStatusActiveStartDate</name>
        <label>BNL contract status active: start date</label>
        <locationX>974</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>doNothingSch0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_BnlContractStatusActiveStartDate</defaultConnectorLabel>
        <rules>
            <name>TRUE_BnlContractStatusActiveStartDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_BNLContractStatusActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusToActive</targetReference>
            </connector>
            <label>BNL Contract Status Active (Start Date)</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateRenewalOppContract</name>
        <label>Create Renewal Opp &amp; Contract</label>
        <locationX>2030</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>doNothingSch2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CreateRenewalOppContract</defaultConnectorLabel>
        <rules>
            <name>TRUE_CreateRenewalOppContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DiscountContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FLOW_CreateRenewalOppContract</targetReference>
            </connector>
            <label>TRUE_CreateRenewalOppContract</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_BypassEnabled</name>
        <label>Bypass Enabled?</label>
        <locationX>248</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>DESC_UpdateMovexTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Bypass Enabled?</defaultConnectorLabel>
        <rules>
            <name>TRUE_bypassEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_BypassEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apexAction_doNothing</targetReference>
            </connector>
            <label>TRUE_Bypass Enabled?</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_ClearContractOwnerExpNotice</name>
        <label>Clear Contract Owner Expiration Notice on Expired Contracts</label>
        <locationX>446</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>DESC_SendEmailContract95fulfilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Clear Contract Owner Expiration Notice on Expired Contracts</defaultConnectorLabel>
        <rules>
            <name>TRUE_ClearContractOwnerExpNotice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerExpirationNotice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>TRUE_Clear Contract Owner Expiration Notice on Expired Contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_DiscountContractSetContractDefaults</name>
        <label>DiscountContractSetContractDefaults</label>
        <locationX>446</locationX>
        <locationY>2484</locationY>
        <defaultConnector>
            <targetReference>DESC_DiscountContractUpdateOpportunityToClose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_DiscountContractSetContractDefaults</defaultConnectorLabel>
        <rules>
            <name>TRUE_DiscountContractSetContractDefaults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DiscountContract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEndDate</targetReference>
            </connector>
            <label>TRUE_DiscountContractSetContractDefaults</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_DiscountContractUpdateOpportunityToClose</name>
        <label>DiscountContractUpdateOpportunityToClose</label>
        <locationX>446</locationX>
        <locationY>2784</locationY>
        <defaultConnectorLabel>FALSE_DiscountContractUpdateOpportunityToClose</defaultConnectorLabel>
        <rules>
            <name>TRUE_DiscountContractUpdateOpportunityToClose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DiscountContract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOppToClosedWon</targetReference>
            </connector>
            <label>TRUE_DiscountContractUpdateOpportunityToClose</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_SendEmailContract95fulfilled</name>
        <label>Send E-mail that Contract is 95% fullfilled</label>
        <locationX>446</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>DESC_SetApprovalStatusOnCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Send E-mail that Contract is 95% fullfilled</defaultConnectorLabel>
        <rules>
            <name>TRUE_SendEmailContract95fulfilled</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>formula_fulfillment</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>95.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchasing_Contract_Turnover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailNotificationContractSoonFulfilled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Send E-mail that Contract is 95% fullfilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_SetApprovalStatusOnCreation</name>
        <label>Set Approval Status field on Creation</label>
        <locationX>446</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>DESC_SetContractExternalId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set Approval Status field on Creation</defaultConnectorLabel>
        <rules>
            <name>TRUE_SetApprovalStatusOnCreation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_SetApprovalStatusOnCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetApprovalStatus</targetReference>
            </connector>
            <label>TRUE_Set Approval Status field on Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_SetContractExternalId</name>
        <label>Set Contract External ID</label>
        <locationX>446</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>DESC_SetOwnerExpirationNotice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set Contract External ID</defaultConnectorLabel>
        <rules>
            <name>TRUE_SetContractExternalId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContractExternalId</targetReference>
            </connector>
            <label>TRUE_Set Contract External ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_SetOwnerExpirationNotice</name>
        <label>Set Owner Expiration Notice</label>
        <locationX>446</locationX>
        <locationY>1884</locationY>
        <defaultConnector>
            <targetReference>DESC_SetOwnersManagersEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set Owner Expiration Notice</defaultConnectorLabel>
        <rules>
            <name>TRUE_SetOwnerExpirationNotice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_SetOwnerExpirationNotice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOwnerExpNotice90Days</targetReference>
            </connector>
            <label>TRUE_Set Owner Expiration Notice</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_SetOwnersManagersEmail</name>
        <label>Set Owners Managers Email (DE)</label>
        <locationX>446</locationX>
        <locationY>2184</locationY>
        <defaultConnector>
            <targetReference>DESC_DiscountContractSetContractDefaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set Owners Managers Email (DE)</defaultConnectorLabel>
        <rules>
            <name>TRUE_SetOwnersManagersEmail</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InApproval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOwnerManagersEmail</targetReference>
            </connector>
            <label>TRUE_Set Owners Managers Email (DE)</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_UpdateMovexTemplate</name>
        <label>Contract: Update Movex template</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>DESC_ClearContractOwnerExpNotice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Contract: Update Movex template</defaultConnectorLabel>
        <rules>
            <name>TRUE_UpdateMovexTemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchasing_Contract_Turnover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subFlow_FindMovexTemplate</targetReference>
            </connector>
            <label>TRUE_Contract: Update Movex template</label>
        </rules>
    </decisions>
    <description>2023-11-28: TFUS-000006273
Migrated from the Contract : Default Process Builder process using multiple criteria.
&apos;Made sure all relevant nodes around Pricing contracts only make updates to draft contracts</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_BNLContractStatusActive</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(ISPICKVAL({!$Record.Account.Country__c}, &quot;BE&quot;),ISPICKVAL({!$Record.Account.Country__c}, &quot;NL&quot;),ISPICKVAL({!$Record.Account.Country__c}, &quot;LU&quot;)), {!$Record.RecordType.DeveloperName}  = &quot;Contract&quot; , {!$Record.StartDate} &lt;= {!$Record.EndDate})</expression>
    </formulas>
    <formulas>
        <name>formula_BypassEnabled</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!$Setup.PbBypassContractCs__c.Bypass__c}=true,
{!$Setup.GlobalBypassProcessesSettings__c.RunProcessBuilder__c}=false)</expression>
    </formulas>
    <formulas>
        <name>formula_EndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.StartDate},12)</expression>
    </formulas>
    <formulas>
        <name>formula_fulfillment</name>
        <dataType>Number</dataType>
        <expression>100*({!$Record.Ordered_Within_Agreement__c}/{!$Record.Contract_Value_D__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_OwnerExpNotice</name>
        <dataType>String</dataType>
        <expression>&apos;&apos;</expression>
    </formulas>
    <formulas>
        <name>formula_SetApprovalStatusOnCreation</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW(), !ISBLANK(TEXT({!$Record.Approval_Status__c})))</expression>
    </formulas>
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_SetOwnerExpirationNotice</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW(),NOT(ISPICKVAL({!$Record.OwnerExpirationNotice}, &apos;90 Days&apos;)),ISPICKVAL({!$Record.Account.Country__c}, &apos;DE&apos; ) )</expression>
    </formulas>
    <interviewLabel>Contract: After Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: After Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_9_A1</name>
        <label>Set Owner Expiration Notice = blank</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>DESC_SendEmailContract95fulfilled</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerExpirationNotice</field>
            <value>
                <elementReference>formula_OwnerExpNotice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetApprovalStatus</name>
        <label>Set Approval Status field to Not Subm &amp; Set Last Approval Status Update to Today</label>
        <locationX>314</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>DESC_SetContractExternalId</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Not Submitted for Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Approval_Change_Date__c</field>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetContractExternalId</name>
        <label>Set Contract External ID</label>
        <locationX>314</locationX>
        <locationY>1692</locationY>
        <connector>
            <targetReference>DESC_SetOwnerExpirationNotice</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_External_ID__c</field>
            <value>
                <elementReference>$Record.ContractNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetEndDate</name>
        <label>UpdateEndDate</label>
        <locationX>314</locationX>
        <locationY>2592</locationY>
        <connector>
            <targetReference>DESC_DiscountContractUpdateOpportunityToClose</targetReference>
        </connector>
        <inputAssignments>
            <field>Area_manager_DE__c</field>
            <value>
                <elementReference>$Record.Owner.Manager.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>formula_EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetOppToClosedWon</name>
        <label>Set opp to Closed/Won</label>
        <locationX>314</locationX>
        <locationY>2892</locationY>
        <connector>
            <targetReference>ContractActivationPost</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Loss_Reason__c</field>
            <value>
                <stringValue>Price</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetOwnerExpNotice90Days</name>
        <label>Set Owner Expiration Notice = 90 days</label>
        <locationX>314</locationX>
        <locationY>1992</locationY>
        <connector>
            <targetReference>DESC_SetOwnersManagersEmail</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerExpirationNotice</field>
            <value>
                <stringValue>90</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetOwnerManagersEmail</name>
        <label>Set Owners Managers Email (DE)</label>
        <locationX>314</locationX>
        <locationY>2292</locationY>
        <connector>
            <targetReference>DESC_DiscountContractSetContractDefaults</targetReference>
        </connector>
        <inputAssignments>
            <field>Owners_Managers_Email_DE__c</field>
            <value>
                <elementReference>$Record.Owner.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetStatusToActive</name>
        <label>Set Status to Active</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetStatusToEndDatePassed</name>
        <label>Set Status to End Date Passed</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>End date passed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DESC_BypassEnabled</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X0HoursAfterStartDate</name>
            <connector>
                <targetReference>BNLContractStatusActiveStartDate</targetReference>
            </connector>
            <label>0 hours after Start Date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>StartDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1DaysAfterEndDate</name>
            <connector>
                <targetReference>BNLContractStatusActiveEndDate</targetReference>
            </connector>
            <label>1 Days After End Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>EndDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X60_Days_Before_End_Date</name>
            <connector>
                <targetReference>CreateRenewalOppContract</targetReference>
            </connector>
            <label>60 Days Before End Date</label>
            <offsetNumber>-60</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Contract_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>FLOW_CreateRenewalOppContract</name>
        <label>Create Renewal Opp &amp; Contract</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <flowName>CreateRenewalOpportunityContract</flowName>
        <inputAssignments>
            <name>InputContractId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subFlow_FindMovexTemplate</name>
        <label>Run flow</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>DESC_ClearContractOwnerExpNotice</targetReference>
        </connector>
        <flowName>Contract_Find_movex_template</flowName>
        <inputAssignments>
            <name>Var_contract</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ContractActivationPostTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!$Record.OwnerId}], 
Your contract is ready to download.
https://dentsplysirona.lightning.force.com/lightning/r/Contract/{!$Record.Id}/view</text>
    </textTemplates>
</Flow>
