src/flows/Contract_Summarize_sales.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_orderitem</name>
        <label>Add orderitem</label>
        <locationX>680</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>Order_collection_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Implants_sales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_order_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_max_value</name>
        <label>Assign max value</label>
        <locationX>1024</locationX>
        <locationY>74</locationY>
        <assignmentItems>
            <assignToReference>Max_order_value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_var_order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_orderitems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_order_var</name>
        <label>Assign order var</label>
        <locationX>835</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>Order_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_variable.Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Implants_sales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_variable.Implants_Qty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summarize_sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_up_sales_old_order</name>
        <label>Sum up sales</label>
        <locationX>246</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>Implants_sales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_variable.Implants_Qty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summarize_sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_pooling_check</name>
        <label>Update pooling check</label>
        <locationX>1171</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>Pooling_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_order_values</name>
        <label>Check order values</label>
        <locationX>697</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>Loop_orderitems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_max_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_var_order</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Max_order_value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_max_value</targetReference>
            </connector>
            <label>New max value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_orders</name>
        <label>Check orders</label>
        <locationX>526</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>Sum_up_sales_old_order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_variable.Order_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Order_var</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order_var</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_orderitem</targetReference>
            </connector>
            <label>New order</label>
        </rules>
        <rules>
            <name>First_order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_var</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_order_var</targetReference>
            </connector>
            <label>First order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_pooling_commitment</name>
        <label>Check pooling commitment</label>
        <locationX>1171</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Update_contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Greater_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Max_order_value</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Contract.Pooled_order_commitment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_pooling_check</targetReference>
            </connector>
            <label>Greater than</label>
        </rules>
    </decisions>
    <formulas>
        <name>Startdate_14</name>
        <dataType>Date</dataType>
        <expression>{!Contract.StartDate}+14</expression>
    </formulas>
    <interviewLabel>Contract: Summarize sales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract: Summarize sales for pooled order</label>
    <loops>
        <name>Loop_orderitems</name>
        <label>Loop orderitems</label>
        <locationX>823</locationX>
        <locationY>244</locationY>
        <assignNextValueToReference>Loop_var_order</assignNextValueToReference>
        <collectionReference>Order_collection_var</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_order_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_pooling_commitment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Summarize_sales</name>
        <label>Summarize sales</label>
        <locationX>539</locationX>
        <locationY>243</locationY>
        <assignNextValueToReference>Loop_variable</assignNextValueToReference>
        <collectionReference>Sales_history</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_orders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_orderitems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_contract</name>
        <label>Find_contract</label>
        <locationX>99</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_sales_history_on_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_contract</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>Contract</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_L12M__c</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Pooled_order_commitment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sales_history_on_account</name>
        <label>Find sales history on account</label>
        <locationX>334</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summarize_sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Contract.StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoice_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Startdate_14</elementReference>
            </value>
        </filters>
        <object>Sales_History__c</object>
        <outputReference>Sales_history</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Value__c</queriedFields>
        <queriedFields>Article__c</queriedFields>
        <queriedFields>Implants_Qty__c</queriedFields>
        <queriedFields>Contract__c</queriedFields>
        <queriedFields>Order_Number__c</queriedFields>
        <queriedFields>Tot_Price__c</queriedFields>
        <sortField>Order_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_contract</name>
        <label>Update contract</label>
        <locationX>1385</locationX>
        <locationY>249</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_contract</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Implants_sold_first_14_days__c</field>
            <value>
                <elementReference>Max_order_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pooling_period_ended__c</field>
            <value>
                <elementReference>Pooling_check</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <startElementReference>Find_contract</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Contracts_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Implants_sales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Loop_var_order</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Loop_variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_History__c</objectType>
    </variables>
    <variables>
        <name>Loop_variable_contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Loop_variable_order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Max_order_value</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>New_contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Order_collection_var</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Order_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Orders_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Pooling_check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sales_history</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_History__c</objectType>
    </variables>
    <variables>
        <name>Sales_sum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_contract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
