src/flows/Convert2Asset.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AssetFail</name>
        <label>AssetFail</label>
        <locationX>527</locationX>
        <locationY>473</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>AssetFail</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LookupFail</name>
        <label>LookupFail</label>
        <locationX>532</locationX>
        <locationY>97</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>LookupFail</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>FindSomething</name>
        <label>FindSomething</label>
        <locationX>201</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Commission</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpCommission</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>StageChange</name>
        <label>StageChange</label>
        <locationX>205</locationX>
        <locationY>94</locationY>
        <defaultConnector>
            <targetReference>GetCommission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CustomerOrdered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppInfo.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Ordered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LisOppPro</targetReference>
            </connector>
            <label>CustomerOrdered</label>
        </rules>
    </decisions>
    <interviewLabel>Convert2Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert2Asset&amp;Commission</label>
    <loops>
        <name>LoopOppPro</name>
        <label>LoopOppPro</label>
        <locationX>353</locationX>
        <locationY>218</locationY>
        <assignNextValueToReference>ProductId</assignNextValueToReference>
        <collectionReference>SvarCPro</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BringProName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetCommission</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAsset</name>
        <label>CreateAsset</label>
        <locationX>526</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>UpProItem</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssetFail</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProName.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price</field>
            <value>
                <elementReference>ProductId.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductId.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>ProductId.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120J000000cmqC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>BringProName</name>
        <label>BringProName</label>
        <locationX>349</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ProName</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCommission</name>
        <label>GetCommission</label>
        <locationX>39</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindSomething</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppInfo.Product_Line_Interested_In__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Questionnaire_Setup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppInfo.Questionnaire_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppInfo.StageName</elementReference>
            </value>
        </filters>
        <object>X_SBU_Commission__c</object>
        <outputReference>Commission</outputReference>
        <queriedFields>Commission__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>Questionnaire_Setup__c</queriedFields>
        <queriedFields>Stage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOppInfo</name>
        <label>GetOppInfo</label>
        <locationX>41</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StageChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppInfo</outputReference>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Questionnaire_Id__c</queriedFields>
        <queriedFields>Product_Line_Interested_In__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Commission_Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LisOppPro</name>
        <label>LisOppPro</label>
        <locationX>351</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOppPro</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LookupFail</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Converted2Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppInfo.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SvarCPro</outputReference>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpCommission</name>
        <label>UpCommission</label>
        <locationX>197</locationX>
        <locationY>467</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppInfo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <elementReference>Commission.Commission__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpProItem</name>
        <label>UpProItem</label>
        <locationX>522</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>LoopOppPro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Converted2Asset_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Converted2Asset__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <startElementReference>GetOppInfo</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Commission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>X_SBU_Commission__c</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ProName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>SvarCPro</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
