src/flows/CountOrderforOrderToCFE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assAmountNumberPricessing</name>
        <label>assAmountNumberPricessing</label>
        <locationX>554</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>varTotalAmountProcessing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sojOrderEntry.Order_amount_number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalOrderProcessing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddOneOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTotalAmountNumberActive</name>
        <label>assignTotalAmount&amp;NumberActive</label>
        <locationX>566</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>varTotalAmountActive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sojOrderEntry.Order_amount_number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalNumberOrderActive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddOneOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assNumberOrderCreated</name>
        <label>assNumberOrderCreated</label>
        <locationX>572</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>varTotalNumberCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddOneOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assNumberOrderDeactiveted</name>
        <label>assNumberOrderDeactiveted</label>
        <locationX>555</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>varTotalNumberDeactiveted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddOneOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderEntries</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>add one order</description>
        <name>AddOneOrder</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Active_Order</name>
        <label>Active Order</label>
        <locationX>992</locationX>
        <locationY>2</locationY>
        <defaultConnector>
            <targetReference>LoopOrderEntries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sojOrderEntry.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTotalAmountNumberActive</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Submitted_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sojOrderEntry.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assAmountNumberPricessing</targetReference>
            </connector>
            <label>Submitted Orders</label>
        </rules>
        <rules>
            <name>Deactiveted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sojOrderEntry.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sojOrderEntry.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sojOrderEntry.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assNumberOrderDeactiveted</targetReference>
            </connector>
            <label>Deactiveted</label>
        </rules>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sojOrderEntry.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assNumberOrderCreated</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <interviewLabel>CountOrderforOrderToCFE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CountOrderforOrderToCFE</label>
    <loops>
        <name>LoopOrderEntries</name>
        <label>LoopOrderEntries</label>
        <locationX>37</locationX>
        <locationY>168</locationY>
        <assignNextValueToReference>sojOrderEntry</assignNextValueToReference>
        <collectionReference>socOrderEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Active_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateOrderToCFEAmount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Search values in the order</description>
        <name>Search_Order</name>
        <label>Search Order</label>
        <locationX>39</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOrderEntries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orders_Related_to_CFE__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOrderToCFE</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>socOrderEntries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Order_amount_number__c</queriedFields>
        <queriedFields>Orders_Related_to_CFE__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateOrderToCFEAmount</name>
        <label>updateOrderToCFEAmount</label>
        <locationX>36</locationX>
        <locationY>292</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOrderToCFE</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activeted_Order_Amount__c</field>
            <value>
                <elementReference>varTotalAmountActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_of_Order_in_the_Approval_Process__c</field>
            <value>
                <elementReference>varTotalAmountProcessing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Activated_Orders__c</field>
            <value>
                <elementReference>varTotalNumberOrderActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Orders_in_the_Approval_Process__c</field>
            <value>
                <elementReference>varTotalOrderProcessing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numbers_of_Created_Orders__c</field>
            <value>
                <elementReference>varTotalNumberCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numbers_of_Deleted_Orders__c</field>
            <value>
                <elementReference>varTotalNumberDeactiveted</elementReference>
            </value>
        </inputAssignments>
        <object>Orders_Related_to_CFE__c</object>
    </recordUpdates>
    <startElementReference>Search_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>Order_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>To collect order entries</description>
        <name>socOrderEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>Single Order Entry</description>
        <name>sojOrderEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>to store information about the order</description>
        <name>SVar_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>Variable to hold Order TO CFE Id (parent record)</description>
        <name>VarOrderToCFE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>count the total amount of active order</description>
        <name>varTotalAmountActive</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>sum the total amount of the order in the approval process</description>
        <name>varTotalAmountProcessing</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalNumberCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalNumberDeactiveted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>count the total number of active orders</description>
        <name>varTotalNumberOrderActive</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>count the number of orders in approval process</description>
        <name>varTotalOrderProcessing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
