src/flows/Create_KOL_FMV_Exception.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_approval</name>
        <label>Submit approval</label>
        <locationX>1556</locationX>
        <locationY>369</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>FMV_exception.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_spam</assignToReference>
            <name>entityId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>1252</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>FMV_exception.Exception_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exception_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FMV_exception.Exception_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exception_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FMV_exception.KOL_information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FMV_exception.Requested_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNotUnique</name>
        <label>AssignNotUnique</label>
        <locationX>749</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>FMV_exception.Uniquely_qualified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RateStageAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUnique</name>
        <label>AssignUnique</label>
        <locationX>836</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>FMV_exception.Uniquely_qualified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FMV_exception.Uniquely_qualified_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unique_reason_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RateStageAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RateStageAssign</name>
        <label>RateStage</label>
        <locationX>924</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RateScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StepAssign</name>
        <label>StepAssign</label>
        <locationX>391</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FMV_exception.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FMV_exception.Max_rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLmodel.Max__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FMV_exception.Min_rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLmodel.Min__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DetailsScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Send_approval_decision</name>
        <label>Send approval decision</label>
        <locationX>1550</locationX>
        <locationY>550</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Send_approval_now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_approval</targetReference>
            </connector>
            <label>Send_approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique</name>
        <label>Unique?</label>
        <locationX>574</locationX>
        <locationY>550</locationY>
        <defaultConnector>
            <targetReference>AssignNotUnique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Unique_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uniquelyQualified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UniquelyScreen</targetReference>
            </connector>
            <label>Unique</label>
        </rules>
    </decisions>
    <description>TFUS-5125 Marked Exception End Date as being required
TFUS-000004298 added uniquely qualified reason with possibility to longer text</description>
    <environments>Default</environments>
    <formulas>
        <name>Max_text</name>
        <dataType>String</dataType>
        <expression>&apos;Max: &apos; + TEXT({!FMV_exception.CurrencyIsoCode}) + &apos; &apos; + TEXT({!KOLmodel.Max__c})</expression>
    </formulas>
    <formulas>
        <name>Min_text</name>
        <dataType>String</dataType>
        <expression>&apos;Min: &apos; + TEXT({!FMV_exception.CurrencyIsoCode}) + &apos; &apos;  + TEXT({!KOLmodel.Min__c})</expression>
    </formulas>
    <interviewLabel>Create KOL FMV Exception  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create KOL FMV Exception</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_exception</name>
        <label>Create exception</label>
        <locationX>1400</locationX>
        <locationY>555</locationY>
        <connector>
            <targetReference>Send_approval_decision</targetReference>
        </connector>
        <inputReference>FMV_exception</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_KOL_info</name>
        <label>Lookup KOL info</label>
        <locationX>390</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Expert__c</object>
        <outputReference>KOLinfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Profession_Group__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Basic_information</name>
        <label>Basic information</label>
        <locationX>392</locationX>
        <locationY>314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StepAssign</targetReference>
        </connector>
        <fields>
            <name>BasicStage</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>KOLinfoLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Expert__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>KOLinfo.Name__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>KOLTierLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Expert__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Tier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>KOLinfo.Tier__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>KOLProfessionGroupLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Expert__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Profession_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>KOLinfo.Profession_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Exception_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Exception Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Exception_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Exception End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StatusLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>FMV_Exception_request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Status__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FMV_exception.Status__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DetailsScreen</name>
        <label>Details</label>
        <locationX>390</locationX>
        <locationY>547</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Unique</targetReference>
        </connector>
        <fields>
            <name>DetailsStage</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BonaFideLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>FMV_Exception_request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Bona_fide_work_description__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FMV_exception.Bona_fide_work_description__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>UniqueQualLC</name>
            <extensionName>c:ServiceCloud_FlowToggleComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>toggle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Uniquely qualified?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultToggle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>uniquelyQualified</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RationaleLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>FMV_Exception_request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Exception_Rationale__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FMV_exception.Exception_Rationale__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RateScreen</name>
        <label>RateScreen</label>
        <locationX>1091</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values</targetReference>
        </connector>
        <fields>
            <name>RateStage</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>TextLC</name>
            <extensionName>c:ServiceCloud_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>Allowed range, hourly rate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <elementReference>Max_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text2</name>
                <value>
                    <elementReference>Min_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvedExtension</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>header</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Requested_rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Requested rate</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please add the requested rate in {!FMV_exception.CurrencyIsoCode}</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ApprovalRequest</name>
            <extensionName>c:ServiceCloud_FlowToggleComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send request for approval?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>toggle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultToggle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Send_approval</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UniquelyScreen</name>
        <label>UniquelyScreen</label>
        <locationX>655</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignUnique</targetReference>
        </connector>
        <fields>
            <name>UniquelyStage</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Unique_reason_0</name>
            <fieldText>Please document what makes the KOL uniquely qualified</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Details</name>
        <isActive>true</isActive>
        <label>Details</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Exception</name>
        <isActive>true</isActive>
        <label>Exception</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Rate</name>
        <isActive>true</isActive>
        <label>Rate</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_KOL_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_model</name>
        <label>Find model</label>
        <locationX>389</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>Basic_information</targetReference>
        </connector>
        <flowName>Find_KOL_FMV_model</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>KOLmodel.Max__c</assignToReference>
            <name>var_max_rate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>KOLmodel.Min__c</assignToReference>
            <name>var_min_rate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_currency</assignToReference>
            <name>Var_model_currency</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>FMV_exception</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FMV_Exception_request__c</objectType>
    </variables>
    <variables>
        <name>KOLinfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expert__c</objectType>
    </variables>
    <variables>
        <name>KOLmodel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KOL_model__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Send_approval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>uniquelyQualified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_requested_rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_spam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
