src/flows/Create_KOL_contract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Nav2FMV</name>
        <label>Nav2FMV</label>
        <locationX>2353</locationX>
        <locationY>619</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>FMV_exception.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_spam</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Nav2Obj</name>
        <label>Nav2Obj</label>
        <locationX>3291</locationX>
        <locationY>778</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>KOLcontract.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Contact.Description</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_compensation_stage</name>
        <label>Assign compensation stage</label>
        <locationX>2184</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Compensation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_model_currency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compensation_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consulting_Contract</name>
        <label>Assign Consulting Contract</label>
        <locationX>1170</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>KOLcontract.Case_Series__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Series_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Clinic_visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clinic_visit_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Clinical_pictures_or_video__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clinical_pictures_or_video_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Lectures__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lectures_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Scientific_posters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scientific_posters_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Presentation_material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Presentation_material_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Reviews__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reviews_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Publication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Publication_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Advertorials_Testimonials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advertorials_Testimonials_CC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_any_records_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_country_match</name>
        <label>Assign country match</label>
        <locationX>1945</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>var_countryMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_KOL_model</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_model</name>
        <label>Assign default model</label>
        <locationX>1946</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>KOLcontract.Hourly_rate_max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Hourly_rate_min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_model_currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLinfo.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_compensation_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_general_info_to_contract</name>
        <label>Assign general info to contract</label>
        <locationX>274</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>KOLcontract.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLinfo.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Expert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLinfo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.License_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>General_info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_type_PL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.KOLContractOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_info_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_model</name>
        <label>Assign model</label>
        <locationX>1676</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>KOLcontract.Hourly_rate_max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentKOLmodel.Max__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Hourly_rate_min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentKOLmodel.Min__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_foundModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_model_currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentKOLmodel.Currency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_KOL_model</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Speaking_Contract</name>
        <label>Assign Speaking Contract</label>
        <locationX>1213</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>KOLcontract.Lectures__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lectures</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Delivered_Lectures__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Do_any_records_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contract_0</name>
        <label>Update contract 0</label>
        <locationX>271</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contract_1</name>
        <label>Update contract 1</label>
        <locationX>913</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>KOLcontract.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Estimated_Contract_Value_per_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_contract_value_per_year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Notice_of_termination_month_before_end__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notice_of_termination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.SBU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBU_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Hourly_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deliverables</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.License_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLinfo.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLinfo.Profession_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Speaking_Contract_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contract_1_0</name>
        <label>Update contract 1</label>
        <locationX>837</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>KOLcontract.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Estimated_Contract_Value_per_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_contract_value_per_year_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Notice_of_termination_month_before_end__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notice_of_termination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.SBU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBU_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Hourly_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deliverables</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.License_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLinfo.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLinfo.Profession_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consulting_Contract_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contract_1_1</name>
        <label>Update contract 1</label>
        <locationX>999</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>KOLcontract.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Notice_of_termination_month_before_end__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notice_of_termination</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.License_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLinfo.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Estimated_Contract_Value_per_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Hourly_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOLinfo.Profession_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.KOLContractOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KolContractOwner.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContractSummary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contract_2</name>
        <label>Update contract 2</label>
        <locationX>2774</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KOLcontract.KOLContractOwner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KolContractOwner.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContractSummary</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Default</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>KOLcontract.CurrencyIsoCode</elementReference>
        </value>
    </choices>
    <choices>
        <name>NoException</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>US</name>
        <choiceText>US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesException</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_country</name>
        <label>Check country</label>
        <locationX>1836</locationX>
        <locationY>127</locationY>
        <defaultConnector>
            <targetReference>Look_KOL_model</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Matching_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentKOLmodel.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KOLcontract.License_Country__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_country_match</targetReference>
            </connector>
            <label>Matching country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_hourly_rate</name>
        <label>Check hourly rate</label>
        <locationX>2505</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>ExceptionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Within_range</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KOLcontract.Hourly_Rate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Max_Allowed_curr</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KOLcontract.Hourly_Rate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Min_Allowed_Curr</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contract_2</targetReference>
            </connector>
            <label>Within range</label>
        </rules>
        <rules>
            <name>Exceptions_to_FMV_regulations</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>var_countryMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KOLinfo.Not_a_Healthcare_Professional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contract_2</targetReference>
            </connector>
            <label>Exceptions to FMV regulations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_KOL_model</name>
        <label>Check KOL model</label>
        <locationX>1508</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Check_country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentKOLmodel.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KOLcontract.License_Country__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentKOLmodel.ProfessionGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KOLinfo.Profession_Group__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentKOLmodel.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KOLinfo.Tier__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfessorRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IsProfessorNL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_model</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_type</name>
        <label>Check record type</label>
        <locationX>439</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>General_info_screen_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Speaking_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_type_PL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120J00000079bOQAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_info_screen_2</targetReference>
            </connector>
            <label>Speaking contract</label>
        </rules>
        <rules>
            <name>Consulting_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_type_PL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120J00000079bMQAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_info_screen_2_0</targetReference>
            </connector>
            <label>Consulting contract</label>
        </rules>
        <rules>
            <name>Confidentiality_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_type_PL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120J00000079bLQAQ</stringValue>
                </rightValue>
            </conditions>
            <label>Confidentiality contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_require_payment</name>
        <label>Contract require payment</label>
        <locationX>587</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>Healthcare_Professional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_type_PL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120J00000079bLQAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contract_1_1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionRecordIdAssigned</name>
        <label>Is record id assigned?</label>
        <locationX>181</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>SelectKolScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OutcomeRecordIdIsAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupKOLinfo</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_any_records_exist</name>
        <label>Do any records exist?</label>
        <locationX>1384</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Assign_default_model</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KOL_model</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KOLinfo.Not_a_Healthcare_Professional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_KOL_model</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExceptionDecision</name>
        <label>ExceptionDecision</label>
        <locationX>2183</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>Assign_compensation_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ProceedWithException</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExceptionCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_exception</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if this is a KOL country but we have missing Tier or Profession Group for the KOL. In that case exit flow and send user back to Tier correctly.</description>
        <name>FMV_Country_Not_Tiered</name>
        <label>FMV Country Not Tiered</label>
        <locationX>640</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Check_record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Abort_Flow</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>KOL_model</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KOLinfo.Profession_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Profession Added</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KOLinfo.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO TIER INFO ADDED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KOL_not_correctly_defined</targetReference>
            </connector>
            <label>Abort Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_any_model</name>
        <label>Found any model?</label>
        <locationX>1946</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_default_model</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Model_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_foundModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_compensation_stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_but_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_foundModel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_countryMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_FMV_Model_Found</targetReference>
            </connector>
            <label>No but Country</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if this is not a healthcare provider and if so ignores</description>
        <name>Healthcare_Professional</name>
        <label>Healthcare Professional</label>
        <locationX>438</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Check_record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Healthcare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KOLinfo.Not_a_Healthcare_Professional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_KOL_model</targetReference>
            </connector>
            <label>Healthcare</label>
        </rules>
    </decisions>
    <description>TFUS-5600: Added the possibility to select a KOL if blank
Added the KOL Contract Owner</description>
    <dynamicChoiceSets>
        <name>ContractStatusSelection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>KOL_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrencySelection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>KOL_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HyperionSelection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hyperion_Business_Function__c</picklistField>
        <picklistObject>KOL_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LicenseCountrySelection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>License_Country__c</picklistField>
        <picklistObject>KOL_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NoticeTerminationSelection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Notice_of_termination_month_before_end__c</picklistField>
        <picklistObject>KOL_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypeSelection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KOL_Contract__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SBUSelection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBU__c</picklistField>
        <picklistObject>KOL_Contract__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CheckActiveApprovals</name>
        <dataType>Boolean</dataType>
        <expression>IF({!KOLinfo.Valid_FMV_Exception__c}&gt;0, true, false)</expression>
    </formulas>
    <formulas>
        <name>ContractName</name>
        <dataType>String</dataType>
        <expression>{!KOLinfo.Name__c} + &apos; - &apos; + {!Contract_type_PL}</expression>
    </formulas>
    <formulas>
        <name>Est_contract_value_descr</name>
        <dataType>String</dataType>
        <expression>IF({!KOLcontract.Estimated_Contract_Value_per_year__c}&gt;0, &apos;Estimated contract value: &apos; &amp; {!Var_model_currency} &amp; &apos; &apos; &amp; TEXT({!KOLcontract.Estimated_Contract_Value_per_year__c}),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Hourly_rate_descr</name>
        <dataType>String</dataType>
        <expression>IF({!KOLcontract.Hourly_Rate__c}&gt;0, &apos;Hourly rate: &apos; &amp; {!Var_model_currency} &amp; &apos; &apos; &amp; TEXT({!KOLcontract.Hourly_Rate__c}), &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>IsProfessorNL</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(OR({!KOLinfo.Professor_Assoc_Professor_at_distinguish__c}, {!KOLinfo.Dean_senior_university_administator_or__c}, {!KOLinfo.Associate_or_Assistant_Professor__c}), {!KOLinfo.Country__c}=&apos;NL&apos;), true, false)</expression>
    </formulas>
    <formulas>
        <name>Max_Allowed_curr</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!KOLinfo.Approved_Exception_Value__c}),{!KOLcontract.Hourly_rate_max__c},MAX({!KOLcontract.Hourly_rate_max__c},{!KOLinfo.Approved_Exception_Value__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Max_value_text</name>
        <dataType>String</dataType>
        <expression>&apos;Max: &apos; + {!Var_model_currency} + &apos; &apos; + TEXT({!KOLcontract.Hourly_rate_max__c}) +
IF( {!KOLinfo.Approved_Exception_Value__c}&gt; {!KOLcontract.Hourly_rate_max__c},  SUBSTITUTE({!$Label.LineBreak},&apos;-&apos;,&apos;&apos;)+ &apos;Higher Approved Exception: &apos; +{!Var_model_currency} + &apos; &apos; + TEXT({!KOLinfo.Approved_Exception_Value__c}), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Min_Allowed_Curr</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!KOLinfo.Approved_Lower_Exception_Value__c}),{!KOLcontract.Hourly_rate_min__c},MIN({!KOLcontract.Hourly_rate_min__c},{!KOLinfo.Approved_Lower_Exception_Value__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Min_value_text</name>
        <dataType>String</dataType>
        <expression>&apos;Min: &apos; + {!Var_model_currency} + &apos; &apos; +  TEXT({!KOLcontract.Hourly_rate_min__c}) +
IF( {!KOLinfo.Approved_Lower_Exception_Value__c}&lt; {!KOLcontract.Hourly_rate_min__c},  SUBSTITUTE({!$Label.LineBreak},&apos;-&apos;,&apos;&apos;)+ &apos;Lower Approved Exception: &apos; +{!Var_model_currency} + &apos; &apos; + TEXT({!KOLinfo.Approved_Lower_Exception_Value__c}), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Planning_Compensation</name>
        <dataType>Number</dataType>
        <expression>{!KOLcontract.Hourly_Rate__c}*{!KOLcontract.of_Planning_Hours_to_be_compensated__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ProfessorRequired</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(TEXT({!CurrentKOLmodel.Country__c})=&apos;NL&apos;, {!CurrentKOLmodel.Professor__c}), true, false)</expression>
    </formulas>
    <formulas>
        <name>Total_Compensation</name>
        <dataType>Number</dataType>
        <expression>{!Work_Compensation} + {!Traveling_Compensation} + {!Planning_Compensation}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Traveling_Compensation</name>
        <dataType>Number</dataType>
        <expression>{!KOLcontract.or_Travel_Hours_to_be_compensated__c}*{!KOLcontract.Hourly_Rate__c}*0.5</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_modelcurrencyRate</name>
        <dataType>Currency</dataType>
        <expression>CURRENCYRATE(&quot;USD&quot;)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Work_Compensation</name>
        <dataType>Number</dataType>
        <expression>{!KOLcontract.of_hours_of_work__c} * {!KOLcontract.Hourly_Rate__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create KOL contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create KOL contract</label>
    <loops>
        <name>Look_KOL_model</name>
        <label>Look KOL model</label>
        <locationX>1717</locationX>
        <locationY>320</locationY>
        <assignNextValueToReference>CurrentKOLmodel</assignNextValueToReference>
        <collectionReference>KOL_model</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_KOL_model</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_any_model</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_contract</name>
        <label>Create contract</label>
        <locationX>2796</locationX>
        <locationY>773</locationY>
        <connector>
            <targetReference>FileUpload</targetReference>
        </connector>
        <inputReference>KOLcontract</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_KOL_model</name>
        <label>KOL_model</label>
        <locationX>660</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FMV_Country_Not_Tiered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KOLinfo.Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>KOL_model__mdt</object>
        <outputReference>KOL_model</outputReference>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Max__c</queriedFields>
        <queriedFields>Min__c</queriedFields>
        <queriedFields>ProfessionGroup__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Currency__c</queriedFields>
        <queriedFields>Professor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupKOLinfo</name>
        <label>LookupKOLinfo</label>
        <locationX>187</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_contract_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Expert__c</object>
        <outputReference>KOLinfo</outputReference>
        <queriedFields>Advisors__c</queriedFields>
        <queriedFields>Ambassador__c</queriedFields>
        <queriedFields>Associate_or_Assistant_Professor__c</queriedFields>
        <queriedFields>Board_of_directors_of_a_Fortune_500__c</queriedFields>
        <queriedFields>Cad_Cam__c</queriedFields>
        <queriedFields>Certified_dental_technician__c</queriedFields>
        <queriedFields>Clinical_decision_maker__c</queriedFields>
        <queriedFields>Clinical_Technical_Expert__c</queriedFields>
        <queriedFields>Clinician_or_scientist_with_2_to_5_years__c</queriedFields>
        <queriedFields>Company__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Content_Provider__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Dean_senior_university_administator_or__c</queriedFields>
        <queriedFields>Owner_Practice_Tier3__c</queriedFields>
        <queriedFields>Dental_Hygiene_Faculty_Position__c</queriedFields>
        <queriedFields>Dental_Hygiene_Faculty_Position_Natiojna__c</queriedFields>
        <queriedFields>Designer__c</queriedFields>
        <queriedFields>Director_or_similar_in_area_of_expertise__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Email_opt_out__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <queriedFields>Tier1_Criteria__c</queriedFields>
        <queriedFields>Tier2_Criteria__c</queriedFields>
        <queriedFields>Tier3_Criteria__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>FMV_exception_approved__c</queriedFields>
        <queriedFields>Profession_Group__c</queriedFields>
        <queriedFields>Valid_FMV_Exception__c</queriedFields>
        <queriedFields>Approved_Exception_Value__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Approved_Lower_Exception_Value__c</queriedFields>
        <queriedFields>Not_a_Healthcare_Professional__c</queriedFields>
        <queriedFields>Professor_Assoc_Professor_at_distinguish__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_contract</name>
        <label>Update contract</label>
        <locationX>3124</locationX>
        <locationY>775</locationY>
        <connector>
            <targetReference>Nav2Obj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KOLcontract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_contract_ID__c</field>
            <value>
                <elementReference>External_contract_ID</elementReference>
            </value>
        </inputAssignments>
        <object>KOL_Contract__c</object>
    </recordUpdates>
    <screens>
        <name>Choose_type</name>
        <label>Choose type</label>
        <locationX>274</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_general_info_to_contract</targetReference>
        </connector>
        <fields>
            <name>Stages0</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contract_type_PL</name>
            <choiceReferences>RecordTypeSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Compensation_Details_Screen</name>
        <label>Compensation Details Screen</label>
        <locationX>2359</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_hourly_rate</targetReference>
        </connector>
        <fields>
            <name>Stages2</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ExpertTierLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Expert__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Tier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>KOLinfo.Tier__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>KOLcontract.Expert_Tier_When_Created__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>GroupLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Expert__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Profession_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>LicenseCountryLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>KOL_Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>License_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>KOLinfo.Country__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>KOLcontract.License_Country__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>TextLC</name>
            <extensionName>c:ServiceCloud_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>header</name>
                <value>
                    <stringValue>Allowed range, hourly rate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <elementReference>Max_value_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text2</name>
                <value>
                    <elementReference>Min_value_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvedExtension</name>
                <value>
                    <elementReference>CheckActiveApprovals</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>header</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HourlyRateLC</name>
            <extensionName>c:KOL_FlowInputValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>KOL_Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Hourly_Rate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxVal</name>
                <value>
                    <elementReference>Max_Allowed_curr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractCurrency</name>
                <value>
                    <elementReference>KOLcontract.CurrencyIsoCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>modelCurrency</name>
                <value>
                    <elementReference>Var_model_currency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minVal</name>
                <value>
                    <elementReference>Min_Allowed_Curr</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>KOLcontract.Hourly_Rate__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Consulting_Contract_Screen</name>
        <label>Consulting Contract Screen</label>
        <locationX>1004</locationX>
        <locationY>146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Consulting_Contract</targetReference>
        </connector>
        <fields>
            <name>StageConsultingContract</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Lectures_CC</name>
            <dataType>Number</dataType>
            <fieldText># Lectures Required</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Number of Lectures to deliver on agreement/contract</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Case_Series_CC</name>
            <dataType>Number</dataType>
            <fieldText># Case Series Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Clinical_pictures_or_video_CC</name>
            <dataType>Number</dataType>
            <fieldText># Clinical Pictures/Videos Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Scientific_posters_CC</name>
            <dataType>Number</dataType>
            <fieldText># Scientific Posters Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Presentation_material_CC</name>
            <dataType>Number</dataType>
            <fieldText># Presentation Materials Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Reviews_CC</name>
            <dataType>Number</dataType>
            <fieldText># Reviews Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Publication_CC</name>
            <dataType>Number</dataType>
            <fieldText># Publications Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Clinic_visit_CC</name>
            <dataType>Number</dataType>
            <fieldText># Clinic Visits Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Advertorials_Testimonials_CC</name>
            <dataType>Number</dataType>
            <fieldText>Advertorials/Testimonials</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PaymentFrequencyCC_LC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>KOL_Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Payment_frequency__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>KOLcontract.Payment_frequency__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContractSummary</name>
        <label>ContractSummary</label>
        <locationX>2630</locationX>
        <locationY>771</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_contract</targetReference>
        </connector>
        <fields>
            <name>SummaryStage</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ContractSummaryText</name>
            <fieldText>&lt;p&gt;Summary&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Type: {!Contract_type_PL}&lt;/p&gt;&lt;p&gt;Key Opinion Leader: {!KOLinfo.Name__c}&lt;/p&gt;&lt;p&gt;Start date: {!KOLcontract.Start_Date__c}&lt;/p&gt;&lt;p&gt;End date: {!KOLcontract.End_Date__c}&lt;/p&gt;&lt;p&gt;{!Est_contract_value_descr}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Hourly_rate_descr}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExceptionScreen</name>
        <label>ExceptionScreen</label>
        <locationX>2337</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ExceptionDecision</targetReference>
        </connector>
        <fields>
            <name>ExceptionText</name>
            <fieldText>Unfortunately, the hourly rate that you provided is outside of the allowed range. To use a higher hourly rate, you need to apply for an FMV exception.

Would you like to do that now?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExceptionCheck</name>
            <choiceReferences>YesException</choiceReferences>
            <choiceReferences>NoException</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>NoException</defaultSelectedChoiceReference>
            <fieldText>Proceed to apply for exception</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FileUpload</name>
        <label>FileUpload</label>
        <locationX>2966</locationX>
        <locationY>775</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_contract</targetReference>
        </connector>
        <fields>
            <name>UploadStage</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>External_contract_ID</name>
            <dataType>String</dataType>
            <fieldText>External contract ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FileUplLc</name>
            <extensionName>c:KOL_FlowFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>KOLcontract.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_info_screen</name>
        <label>General info screen</label>
        <locationX>448</locationX>
        <locationY>671</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contract_require_payment</targetReference>
        </connector>
        <fields>
            <name>Stages1</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ExpertInput</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Expert__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>KOLinfo.Name__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contract_name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>KOLcontract.Name</elementReference>
            </defaultValue>
            <fieldText>Contract name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContractStatus</name>
            <choiceReferences>ContractStatusSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContractStartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>KOLcontract.Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Start date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ContractEndDate</name>
            <dataType>Date</dataType>
            <fieldText>End date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notice_of_termination</name>
            <choiceReferences>NoticeTerminationSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Notice of termination (#month before end)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KolContractOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>KOLContractOwner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>KOL Contract Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>KOL_Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_info_screen_2</name>
        <label>General info screen 2</label>
        <locationX>773</locationX>
        <locationY>307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_contract_1</targetReference>
        </connector>
        <fields>
            <name>Stages1_0</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Estimated_contract_value_per_year</name>
            <dataType>Number</dataType>
            <fieldText>Estimated contract value per year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SBU_0</name>
            <choiceReferences>SBUSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SBU</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_info_screen_2_0</name>
        <label>General info screen 2</label>
        <locationX>677</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_contract_1_0</targetReference>
        </connector>
        <fields>
            <name>Stages1_0_0</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Estimated_contract_value_per_year_0</name>
            <dataType>Number</dataType>
            <fieldText>Estimated contract value per year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SBU_0_0</name>
            <choiceReferences>SBUSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SBU</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KOL_not_correctly_defined</name>
        <label>KOL not correctly defined</label>
        <locationX>953</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not_Tiered_info_screen</name>
            <fieldText>&lt;p&gt;The KOL has not been defined correctly. Before continuing with creating a contract you need to update the KOL to ensure it has correct Tier and Profession Group defined.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_FMV_Model_Found</name>
        <label>No FMV Model Found</label>
        <locationX>2087</locationX>
        <locationY>169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FMV_country_No_Model</name>
            <fieldText>&lt;p&gt;This KOL acts in a country under Fair Market Value regulation - but no FMV model could be found to define correct payment range.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Make sure you have defined the KOL correctly so they have a Tier and Profession Group assigned.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the KOL is correctly defined please contact the Global Clinical Affairs department and/or your Salesforce administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectKolScreen</name>
        <label>Select KOL</label>
        <locationX>50</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LookupKOLinfo</targetReference>
        </connector>
        <fields>
            <name>SelectKolHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please select a KOL to create the contract towards&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KolLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Expert__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>KOL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>KOL_Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Speaking_Contract_Screen</name>
        <label>Speaking Contract Screen</label>
        <locationX>1065</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Speaking_Contract</targetReference>
        </connector>
        <fields>
            <name>StageSpeakingContract</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact.Description</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Lectures</name>
            <dataType>Number</dataType>
            <fieldText># Lectures Required</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Number of Lectures to deliver on agreement/contract</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PaymentFrequencySC_LC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>KOL_Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Payment_frequency__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>KOLcontract.Payment_frequency__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Compensation</name>
        <isActive>true</isActive>
        <label>Compensation</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Contract_type</name>
        <isActive>true</isActive>
        <label>Contract type</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Deliverables</name>
        <isActive>true</isActive>
        <label>Deliverables</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>General_info</name>
        <isActive>true</isActive>
        <label>General info</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Summary</name>
        <isActive>true</isActive>
        <label>Summary</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>65</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DecisionRecordIdAssigned</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_exception</name>
        <label>Create exception</label>
        <locationX>2185</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>Nav2FMV</targetReference>
        </connector>
        <flowName>Create_KOL_FMV_Exception</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>KOLinfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_requested_rate</name>
            <value>
                <elementReference>KOLcontract.Hourly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FMV_exception</assignToReference>
            <name>FMV_exception</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentKOLmodel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KOL_model__mdt</objectType>
    </variables>
    <variables>
        <name>FMV_exception</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FMV_Exception_request__c</objectType>
    </variables>
    <variables>
        <name>KOL_model</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KOL_model__mdt</objectType>
    </variables>
    <variables>
        <name>KOLcontract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KOL_Contract__c</objectType>
    </variables>
    <variables>
        <name>KOLinfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expert__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_countryMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_foundModel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_model_currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_spam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
