src/flows/DNA_Campaign_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Offer_Code_Info_to_Text_message</name>
        <label>Add Offer Code Info to Text message</label>
        <locationX>272</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>offerCodeInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>offerCodeInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td&gt;&lt;a href=&quot;/{!CurrentOfferCode.Id}&quot;&gt;{!CurrentOfferCode.Name}&lt;/a&gt;&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>offerCodeInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td&gt;{!CurrentOfferCode.Type__c}&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>offerCodeInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td&gt;{!CurrentOfferCode.Expiration_Date__c}&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>offerCodeInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td&gt;{!CurrentOfferCode.Description__c}&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>offerCodeInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughOfferCodes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Answered_Not_Interested</name>
        <choiceText>Answered - Not Interested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Answered - Not Interested</stringValue>
        </value>
    </choices>
    <choices>
        <name>Answered_Sales_Action_needed</name>
        <choiceText>Answered - Sales Action needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Answered - Sales Action needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Call_Back_needed</name>
        <choiceText>Call Back needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call Back needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Order_Does_not_meet_needs</name>
        <choiceText>No Order: Does not meet needs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Order: Does not meet needs</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Order_Had_a_Clinical_Problem</name>
        <choiceText>No Order: Had a Clinical Problem</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Order: Had a Clinical Problem</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Order_Price_Too_High</name>
        <choiceText>No Order: Price Too High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Order: Price Too High</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Order_Too_Much_Inventory</name>
        <choiceText>No Order: Too Much Inventory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Order: Too Much Inventory</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Placed_with_TSR</name>
        <choiceText>Order: Placed with TSR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order: Placed with TSR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Promotion_Accepted</name>
        <choiceText>Promotion Accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promotion Accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>TS_Dialed_No_Contact</name>
        <choiceText>TS: Dialed No Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TS: Dialed No Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>TS_Left_Message</name>
        <choiceText>TS: Left Message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TS: Left Message</stringValue>
        </value>
    </choices>
    <choices>
        <name>TS_Left_Message_E_mail</name>
        <choiceText>TS: Left Message (E-mail)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TS: Left Message (E-mail)</stringValue>
        </value>
    </choices>
    <choices>
        <name>TS_Left_Message_Fax</name>
        <choiceText>TS: Left Message (Fax)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TS: Left Message (Fax)</stringValue>
        </value>
    </choices>
    <choices>
        <name>TS_Left_Message_Voicemail</name>
        <choiceText>TS: Left Message (Voicemail)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TS: Left Message (Voicemail)</stringValue>
        </value>
    </choices>
    <constants>
        <name>ConLineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt;&lt;/br&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Hyperlinkpart3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;/a&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>SalesforceHyperlinkPart1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;a href=&quot;/</stringValue>
        </value>
    </constants>
    <constants>
        <name>SalesforceHyperlinkPart2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;&gt;</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>ActivityType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Activity_Result__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactTypeList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Type__c</picklistField>
        <picklistObject>Task</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResponceStatuses</name>
        <dataType>String</dataType>
        <displayField>Responce_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Responce_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignRecordTypeName</elementReference>
            </value>
        </filters>
        <object>DC_Flow_Settings__c</object>
        <outputAssignments>
            <assignToReference>selectedResponseStatus</assignToReference>
            <field>Responce_Value__c</field>
        </outputAssignments>
        <sortField>Responce_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Responce_Value__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>DNA Campaign Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DNA Campaign Flow</label>
    <loops>
        <name>LoopThroughOfferCodes</name>
        <label>LoopThroughOfferCodes</label>
        <locationX>160</locationX>
        <locationY>346</locationY>
        <assignNextValueToReference>CampaignOfferCodesItem</assignNextValueToReference>
        <collectionReference>CampaignOfferCodesList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Search_Offer_Code_By_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Search_Record_Type_For_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_DNA_Campaign_Response</name>
        <label>Create DNA Campaign Response</label>
        <locationX>845</locationX>
        <locationY>345</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Result__c</field>
            <value>
                <elementReference>Action_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <elementReference>Contact_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120J000000VFFp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>DNA Campaign Response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>SO_InputCM.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>selectedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Campaign_By_Id</name>
        <label>Find Campaign By Id</label>
        <locationX>162</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Current_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedCampaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>currentCampaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Current_Campaign_Member</name>
        <label>Find Current Campaign Member</label>
        <locationX>158</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Campaign_Offer_Codes_By_Campaign_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCampaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cm.ContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>SO_InputCM</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>CampaignId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Campaign_Offer_Codes_By_Campaign_Id</name>
        <label>Search Campaign Offer Codes By Campaign Id</label>
        <locationX>157</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughOfferCodes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCampaign.Id</elementReference>
            </value>
        </filters>
        <object>Campaign_Offer_Codes__c</object>
        <outputReference>CampaignOfferCodesList</outputReference>
        <queriedFields>Offer_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Offer_Code_By_Id</name>
        <label>Search Offer Code By Id</label>
        <locationX>98</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Offer_Code_Info_to_Text_message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignOfferCodesItem.Offer_Code__c</elementReference>
            </value>
        </filters>
        <object>Offer_Code__c</object>
        <outputReference>CurrentOfferCode</outputReference>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Expiration_Date__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Record_Type_For_Task</name>
        <label>Search Record Type For Task</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCampaignMemberScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task DI</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>TaskRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCampaignMember</name>
        <label>UpdateCampaignMember</label>
        <locationX>686</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Create_DNA_Campaign_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SO_InputCM.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>selectedResponseStatus</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <screens>
        <name>UpdateCampaignMemberScreen</name>
        <label>Update Campaign Member Screen</label>
        <locationX>528</locationX>
        <locationY>349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateCampaignMember</targetReference>
        </connector>
        <fields>
            <name>ShowCountCampaigns</name>
            <fieldText>&lt;div class=&quot;flow-campaign slds-m-bottom--small&quot;&gt;&lt;div class=&quot;slds-text-heading--medium&quot;&gt;{!currentCampaign.Name}&lt;/div&gt;&lt;div&gt;&lt;span class=&quot;slds-text-title&quot;&gt;Campaign Date:&lt;/span&gt;&amp;nbsp;&lt;span class=&quot;slds-text-color--default&quot;&gt;{!currentCampaign.StartDate} — {!currentCampaign.EndDate}&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OfferCodeInfoText</name>
            <fieldText>&lt;div class=&quot;right-column&quot;&gt;&lt;div class=&quot;slds-text-heading--small&quot;&gt;Active Offer Codes on the Campaign&lt;/div&gt;&lt;table class=&quot;slds-table slds-table--bordered slds-table--cell-buffer slds-no-row-hover&quot;&gt;&lt;thead&gt;&lt;tr class=&quot;slds-text-title--caps&quot;&gt;&lt;td&gt;{!TTOfferCodeName}&lt;/td&gt;&lt;td&gt;{!TTType}&lt;/td&gt;&lt;td&gt;{!TTExpirationDate}&lt;/td&gt;&lt;td&gt;{!TTDescription}&lt;/td&gt;&lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt;{!offerCodeInfo}&lt;/tbody&gt;&lt;/table&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResponseBlockTitle</name>
            <fieldText>&lt;div class=&quot;slds-text-heading--small&quot;&gt;Please Pick Appropriate Campaign Response&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResponseValue</name>
            <choiceReferences>ResponceStatuses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Response</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OtherActionsTaken</name>
            <fieldText>&lt;a href=&quot;/00T/e?RecordType={!TaskRecordType.Id}&amp;ent=Task&amp;what_id={!SO_InputCM.Account__c}&quot; class=&quot;slds-button slds-button--brand&quot; style=&quot;margin-left:160px;&quot;&gt;Create Task&lt;/a&gt;&lt;div class=&quot;slds-text-heading--small&quot;&gt;Other Actions Taken During The Call?&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Response</name>
            <choiceReferences>Order_Placed_with_TSR</choiceReferences>
            <choiceReferences>No_Order_Too_Much_Inventory</choiceReferences>
            <choiceReferences>No_Order_Price_Too_High</choiceReferences>
            <choiceReferences>No_Order_Had_a_Clinical_Problem</choiceReferences>
            <choiceReferences>No_Order_Does_not_meet_needs</choiceReferences>
            <choiceReferences>TS_Left_Message</choiceReferences>
            <choiceReferences>TS_Left_Message_Voicemail</choiceReferences>
            <choiceReferences>TS_Left_Message_Fax</choiceReferences>
            <choiceReferences>TS_Left_Message_E_mail</choiceReferences>
            <choiceReferences>TS_Dialed_No_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action Response</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Type</name>
            <choiceReferences>ContactTypeList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Campaign_By_Id</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>Adds Field Name of Description</description>
        <name>TTDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Description</text>
    </textTemplates>
    <textTemplates>
        <description>Adds the Title of ExpirationDate</description>
        <name>TTExpirationDate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Expiration Date</text>
    </textTemplates>
    <textTemplates>
        <description>Add Title of Offer Code Name</description>
        <name>TTOfferCodeName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Offer Code Name</text>
    </textTemplates>
    <textTemplates>
        <description>Adds the Title &quot;Type&quot;</description>
        <name>TTType</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Type</text>
    </textTemplates>
    <variables>
        <name>ApplyCommentsToAll</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CampaignCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignOfferCodes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign_Offer_Codes__c</objectType>
    </variables>
    <variables>
        <name>CampaignOfferCodesItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign_Offer_Codes__c</objectType>
    </variables>
    <variables>
        <name>CampaignOfferCodesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign_Offer_Codes__c</objectType>
    </variables>
    <variables>
        <name>campaignRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campignsTableBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>commonComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CurrentOfferCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Offer_Code__c</objectType>
    </variables>
    <variables>
        <name>listOfCampaigns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>listOfRelatedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>offerCodeInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OfferCodesForCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Offer_Code__c</objectType>
    </variables>
    <variables>
        <name>relatedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedResponseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SO_InputCM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soCampMemberUsedinLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>soCampMemberUsedinLoop2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>socCampaignMemberlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>TaskRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varInputMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberOfCampaigns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
