src/flows/Equipment_Booking_New_Booking_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_NavigatetoRecord</name>
        <label>Navigate to Record</label>
        <locationX>50</locationX>
        <locationY>1934</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>var_EquipmentBooking.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>asg_AccountFields</name>
        <label>asg_AccountFields</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.StreetAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_AccountFields.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_AccountFields.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.ZipPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_AccountFields.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_AccountFields.Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>gr_CustomMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_EquipBookingFields</name>
        <label>asg_EquipBookingFields</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_BasicInfo_Contact.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ccs_ChooseProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_CustomMetadata.LocationId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_CustomMetadata.QueueId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_BasicInfo_StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_BasicInfo_EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_EquipmentBooking.SalesRep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cr_CreateEquipBooking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_FetchProduct2Id</name>
        <label>Fetch Product2Id</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>var_UniqueProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loo_UniqueProducts.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UniqueProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loo_UniqueProducts.TF_ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asg_RemoveDuplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_RemoveDuplicate</name>
        <label>Remove Duplicate</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_UniqueProducts</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>var_UniqueProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asg_SingleToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_SingleToCollection</name>
        <label>Single To Collection</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>var_UniqueProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_UniqueProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loo_UniqueProducts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_SaveAsDraft</name>
        <choiceText>Save As Draft</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ch_SubmitforApproval</name>
        <choiceText>Submit for Approval</choiceText>
        <dataType>String</dataType>
    </choices>
    <collectionProcessors>
        <name>cs_SortProductsList</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Products List</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>var_UniqueProducts</collectionReference>
        <connector>
            <targetReference>scr_BasicInfo</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>The user must have Equipment Booking Create or Manage</description>
        <name>dec_CorrectAccess</name>
        <label>Correct Access</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>dec_CorrectAccess_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.EquipmentBookingCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.EquipmentBookingManage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_AccountFields</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>TFUS-000004197 Limited the access to this flow only to users with the custom permission</description>
    <dynamicChoiceSets>
        <name>ccs_ChooseProduct</name>
        <collectionReference>var_UniqueProducts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Equipment Booking: New Booking Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Equipment Booking: New Booking Request</label>
    <loops>
        <description>Create unique list of products</description>
        <name>loo_UniqueProducts</name>
        <label>Unique Products</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>gr_ProductsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asg_FetchProduct2Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>cs_SortProductsList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>cr_CreateEquipBooking</name>
        <label>Create Equip Booking</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>act_NavigatetoRecord</targetReference>
        </connector>
        <inputReference>var_EquipmentBooking</inputReference>
    </recordCreates>
    <recordLookups>
        <name>gr_AccountFields</name>
        <label>Account Fields</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asg_AccountFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Configuration records per account country</description>
        <name>gr_CustomMetadata</name>
        <label>Custom Metadata</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_ProductsList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountCountry__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>gr_AccountFields.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EquipmentBookingConfig__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get products lists from inventory</description>
        <name>gr_ProductsList</name>
        <label>Products List</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loo_UniqueProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gr_CustomMetadata.LocationId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scr_BasicInfo</name>
        <label>Basic Info</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scr_Confirmation</targetReference>
        </connector>
        <fields>
            <name>scr_BasicInfo_Contact</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>AccountContactRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.scr_BasicInfo_Contact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>scr_BasicInfo_Contact.selectedValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>TF_ContactName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scr_BasicInfo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_BasicInfo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>var_EquipmentBooking.BookingType__c</objectFieldReference>
                </fields>
                <fields>
                    <name>scr_BasicInfo_Product</name>
                    <choiceReferences>ccs_ChooseProduct</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_BasicInfo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>scr_BasicInfo_StartDate</name>
                    <dataType>DateTime</dataType>
                    <fieldText>{!$Label.scr_BasicInfo_StartDate}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(160, 32, 32); font-size: 10px;&quot;&gt;Start Date can&apos;t be in the past&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>DATEVALUE({!scr_BasicInfo_StartDate})&gt;= TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>scr_BasicInfo_EndDate</name>
                    <dataType>DateTime</dataType>
                    <fieldText>{!$Label.scr_BasicInfo_EndDate}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(160, 32, 32); font-size: 10px;&quot;&gt;End Date can&apos;t be earlier than the Start Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!scr_BasicInfo_StartDate} &lt; {!scr_BasicInfo_EndDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>var_EquipmentBooking.Description__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_Confirmation</name>
        <label>Confirmation</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asg_EquipBookingFields</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>var_EquipmentBooking.StreetAddress__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>var_EquipmentBooking.City__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>var_EquipmentBooking.ZipPostalCode__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>var_EquipmentBooking.Country__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_CorrectAccess</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EquipmentBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EquipmentBooking__c</objectType>
    </variables>
    <variables>
        <name>var_UniqueProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>var_UniqueProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
