src/flows/Equipment_Booking_Available_Product_Items.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>asg_MergeToBookedItems_Basic</name>
        <label>Merge To Booked Items</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>var_BookedItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>gr_ActiveBookings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loo_BookedItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_OnlyAvailableItems</name>
        <label>Only Available Items</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>var_AvailableItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cf_AvailableList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NumberOfRemainingItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>cf_AvailableList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cs_LimitAvailableItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_RemoveItFromAvailableItems</name>
        <label>Remove It From Available Items</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>gr_ListProductItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cf_AvailableList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loo_BookedItems</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>cf_AvailableList</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>AvailableList Demo</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignNextValueToReference>currentItem_cf_AvailableList</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>gr_ListProductItems</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_cf_AvailableList.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>loo_BookedItems.InventoryItem__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>asg_RemoveItFromAvailableItems</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cs_LimitAvailableItems</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Limit Available Items</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>var_AvailableItems</collectionReference>
        <connector>
            <targetReference>scr_AvailableEquipment</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ProductName</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>SerialNumber</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <description>TFUS-000004307</description>
    <dynamicChoiceSets>
        <name>ccs_AvailableItems</name>
        <collectionReference>var_AvailableItems</collectionReference>
        <dataType>String</dataType>
        <displayField>TF_FullProductInfo__c</displayField>
        <object>ProductItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Equipment Booking: Available Product Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Equipment Booking: Available Product Items</label>
    <loops>
        <name>loo_BookedItems</name>
        <label>Booked Items</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>var_BookedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>cf_AvailableList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>asg_OnlyAvailableItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>For Basic algorithm, any item with active booking will be excluded</description>
        <name>gr_ActiveBookings</name>
        <label>Active Bookings</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asg_MergeToBookedItems_Basic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </filters>
        <filters>
            <field>InventoryItem__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EquipmentBooking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>List Product items with the selected Product</description>
        <name>gr_ListProductItems</name>
        <label>List ProductItems</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_ActiveBookings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scr_AvailableEquipment</name>
        <label>Available Equipment</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scr_AvailableEquipment_RadioButtons</name>
            <choiceReferences>ccs_AvailableItems</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.scr_AvailableEquipment_Msg}</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>gr_ListProductItems</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_cf_AvailableList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AvailableItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>var_BookedItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EquipmentBooking__c</objectType>
    </variables>
    <variables>
        <name>var_NumberOfRemainingItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
