src/flows/EventAndTaskCreatorInfoUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddTerritoryInfo</name>
        <label>AddTerritoryInfo</label>
        <locationX>640</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>TerritoryNameStamp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUsedInLoopTerritory.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTerritoryDivisionStamp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUsedInLoopTerritory.Territory_Division__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAssignedTerritories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountTerritories</name>
        <label>CountTerritories</label>
        <locationX>979</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>CountOfTerritories</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MoreThanOne</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StampTerritoryInfo2</name>
        <label>StampTerritoryInfo2</label>
        <locationX>654</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>TerritoryNameStamp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTextValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TerritoryNameStamp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUsedInLoopTerritory.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTerritoryDivisionStamp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTextValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTerritoryDivisionStamp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUsedInLoopTerritory.Territory_Division__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAssignedTerritories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>MoreThanOne</name>
        <label>MoreThanOne</label>
        <locationX>839</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfTerritories</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddTerritoryInfo</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfTerritories</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StampTerritoryInfo2</targetReference>
            </connector>
            <label>1&lt;</label>
        </rules>
    </decisions>
    <decisions>
        <name>TaskOrEvent</name>
        <label>TaskOrEvent?</label>
        <locationX>469</locationX>
        <locationY>426</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputTaskEventID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTask</targetReference>
            </connector>
            <label>Task</label>
        </rules>
        <rules>
            <name>Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputTaskEventID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEvent</targetReference>
            </connector>
            <label>Event</label>
        </rules>
    </decisions>
    <description>Stamps the Event or task with information of the creator.
TerritoryName, TerritoryDivision and FederationID (requested for DNA project but used used globally)</description>
    <interviewLabel>EventAndTaskCreatorInfoUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EventAndTaskCreatorInfoUpdate</label>
    <loops>
        <name>LoopAssignedTerritories</name>
        <label>LoopAssignedTerritories</label>
        <locationX>463</locationX>
        <locationY>173</locationY>
        <assignNextValueToReference>varUsedInLoopUserTerritoryAssignment</assignNextValueToReference>
        <collectionReference>SObjCollUserTerritoryAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetTerritoryInfo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TaskOrEvent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTerritoryID</name>
        <label>GetTerritoryID</label>
        <locationX>305</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAssignedTerritories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCreatorId</elementReference>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputReference>SObjCollUserTerritoryAssignment</outputReference>
        <queriedFields>Territory2Id</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTerritoryInfo</name>
        <label>GetTerritoryInfo</label>
        <locationX>784</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountTerritories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUsedInLoopUserTerritoryAssignment.Territory2Id</elementReference>
            </value>
        </filters>
        <object>Territory2</object>
        <outputReference>varUsedInLoopTerritory</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Territory_Division__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUserInfo</name>
        <label>GetUserInfo</label>
        <locationX>144</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTerritoryID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputCreatorId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SObjectUser</outputReference>
        <queriedFields>FederationIdentifier</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateEvent</name>
        <label>UpdateEvent</label>
        <locationX>551</locationX>
        <locationY>536</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTaskEventID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Creator_Division__c</field>
            <value>
                <elementReference>varTerritoryDivisionStamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creator_Federation_ID__c</field>
            <value>
                <elementReference>SObjectUser.FederationIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creator_Territory__c</field>
            <value>
                <elementReference>TerritoryNameStamp</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTask</name>
        <label>UpdateTask</label>
        <locationX>399</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputTaskEventID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Creator_Division__c</field>
            <value>
                <elementReference>varTerritoryDivisionStamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creator_Federation_ID__c</field>
            <value>
                <elementReference>SObjectUser.FederationIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creator_Territory__c</field>
            <value>
                <elementReference>TerritoryNameStamp</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>GetUserInfo</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>dwebug</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!CountOfTerritories}
{!TerritoryNameStamp}
{!varTerritoryDivisionStamp}</text>
    </textTemplates>
    <textTemplates>
        <description>adds a semicolon to the text string if more than one value</description>
        <name>NewTextValue</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>;</text>
    </textTemplates>
    <variables>
        <name>CountOfTerritories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Collection (if multiple territories for user) of territory information of creator</description>
        <name>SObjCollTerritories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <description>Stores the Related Territory IDs of the creator</description>
        <name>SObjCollUserTerritoryAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
    <variables>
        <name>SObjectEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>SObjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>To collect and store needed information from creator</description>
        <name>SObjectUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>TerritoryNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerritoryNameStamp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the user creating the Event/Task</description>
        <name>varInputCreatorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the record Id of the task/Event starting the flow</description>
        <name>varInputTaskEventID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTerritoryDivisionStamp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUsedInLoopTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>varUsedinLoopTerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUsedInLoopUserTerritoryAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
</Flow>
