src/flows/Find_KOL_FMV_model.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_model</name>
        <label>Assign model</label>
        <locationX>776</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>var_max_rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentKOLmodel.Max__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_min_rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentKOLmodel.Min__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_foundModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_model_currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentKOLmodel.Currency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_KOL_model</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_KOL_model</name>
        <label>Check KOL model</label>
        <locationX>501</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Look_KOL_model</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentKOLmodel.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KOLinfo.Country__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentKOLmodel.ProfessionGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KOLinfo.Profession_Group__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentKOLmodel.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KOLinfo.Tier__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfessorRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IsProfessorNL</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_model</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_any_records_exist</name>
        <label>Do any records exist?</label>
        <locationX>421</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KOL_model</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_KOL_model</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsProfessorNL</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(OR({!KOLinfo.Professor_Assoc_Professor_at_distinguish__c}, {!KOLinfo.Dean_senior_university_administator_or__c}, {!KOLinfo.Associate_or_Assistant_Professor__c}), {!KOLinfo.Country__c}=&apos;NL&apos;), true, false)</expression>
    </formulas>
    <formulas>
        <name>Max_value_text</name>
        <dataType>String</dataType>
        <expression>&apos;Max: &apos; + {!Var_model_currency} + &apos; &apos; + TEXT({!KOLcontract.Hourly_rate_max__c})</expression>
    </formulas>
    <formulas>
        <name>Min_value_text</name>
        <dataType>String</dataType>
        <expression>&apos;Min: &apos; + {!Var_model_currency} + &apos; &apos; +  TEXT({!KOLcontract.Hourly_rate_min__c})</expression>
    </formulas>
    <formulas>
        <name>Planning_Compensation</name>
        <dataType>Number</dataType>
        <expression>{!KOLcontract.Hourly_Rate__c}*{!KOLcontract.of_Planning_Hours_to_be_compensated__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ProfessorRequired</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(TEXT({!CurrentKOLmodel.Country__c})=&apos;NL&apos;, {!CurrentKOLmodel.Professor__c}), true, false)</expression>
    </formulas>
    <formulas>
        <name>Total_Compensation</name>
        <dataType>Number</dataType>
        <expression>{!Work_Compensation} + {!Traveling_Compensation} + {!Planning_Compensation}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Traveling_Compensation</name>
        <dataType>Number</dataType>
        <expression>{!KOLcontract.or_Travel_Hours_to_be_compensated__c}*{!KOLcontract.Hourly_Rate__c}*0.5</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>var_modelcurrencyRate</name>
        <dataType>Currency</dataType>
        <expression>CURRENCYRATE(&quot;USD&quot;)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Work_Compensation</name>
        <dataType>Number</dataType>
        <expression>{!KOLcontract.of_hours_of_work__c} * {!KOLcontract.Hourly_Rate__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Find KOL FMV model {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find KOL FMV model</label>
    <loops>
        <name>Look_KOL_model</name>
        <label>Look KOL model</label>
        <locationX>644</locationX>
        <locationY>356</locationY>
        <assignNextValueToReference>CurrentKOLmodel</assignNextValueToReference>
        <collectionReference>KOL_model</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_KOL_model</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_KOL_model</name>
        <label>KOL_model</label>
        <locationX>254</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_any_records_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KOLinfo.Country__c</elementReference>
            </value>
        </filters>
        <object>KOL_model__mdt</object>
        <outputReference>KOL_model</outputReference>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Max__c</queriedFields>
        <queriedFields>Min__c</queriedFields>
        <queriedFields>ProfessionGroup__c</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Currency__c</queriedFields>
        <queriedFields>Professor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupKOLinfo</name>
        <label>LookupKOLinfo</label>
        <locationX>82</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_KOL_model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Expert__c</object>
        <outputReference>KOLinfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Tier__c</queriedFields>
        <queriedFields>Profession_Group__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Professor_Assoc_Professor_at_distinguish__c</queriedFields>
        <queriedFields>Associate_or_Assistant_Professor__c</queriedFields>
        <queriedFields>Dean_senior_university_administator_or__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>LookupKOLinfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentKOLmodel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KOL_model__mdt</objectType>
    </variables>
    <variables>
        <name>FMV_exception</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FMV_Exception_request__c</objectType>
    </variables>
    <variables>
        <name>KOL_model</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KOL_model__mdt</objectType>
    </variables>
    <variables>
        <name>KOLcontract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KOL_Contract__c</objectType>
    </variables>
    <variables>
        <name>KOLinfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expert__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_foundModel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_max_rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_min_rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_model_currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_spam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
