src/flows/Global_order_Update_dealer_prices.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_updated_order_bundle</name>
        <label>Add updated order bundle</label>
        <locationX>1292</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>Updated_order_bundles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_order_bundles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_order_bundles_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_updated_order_row</name>
        <label>Add updated order row</label>
        <locationX>858</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>Updated_order_rows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_order_row</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_order_rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_dealer_price</name>
        <label>Assign dealer price</label>
        <locationX>877</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>Loop_order_row.Distr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_dealer_price.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_updated_order_row</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_dealer_price_bundle</name>
        <label>Assign dealer price bundle</label>
        <locationX>1423</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>Loop_order_bundles.Dealer_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_dealer_price.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_updated_order_bundle</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_dealer_price</name>
        <label>Check dealer price</label>
        <locationX>584</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>Loop_order_rows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Only_one_dealer_price_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_dealer_price.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_dealer_price</targetReference>
            </connector>
            <label>Only one dealer price valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_dealer_price_bundles</name>
        <label>Check dealer price bundles</label>
        <locationX>1166</locationX>
        <locationY>511</locationY>
        <defaultConnector>
            <targetReference>Loop_order_bundles_var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Bundle_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_dealer_price.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_dealer_price_bundle</targetReference>
            </connector>
            <label>Bundle exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dealer_price_set</name>
        <label>Dealer price set?</label>
        <locationX>179</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Dealer_price_set__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_order_rows</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Global order: Update dealer prices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Global order: Update dealer prices</label>
    <loops>
        <name>Loop_order_bundles_var</name>
        <label>Loop order bundles</label>
        <locationX>1117</locationX>
        <locationY>180</locationY>
        <assignNextValueToReference>Loop_order_bundles</assignNextValueToReference>
        <collectionReference>Order_bundles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_dealer_price_bundle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Dealer_price_has_been_set</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_order_rows</name>
        <label>Loop order rows</label>
        <locationX>845</locationX>
        <locationY>184</locationY>
        <assignNextValueToReference>Loop_order_row</assignNextValueToReference>
        <collectionReference>Order_rows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_dealer_price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_order_bundles_var</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_dealer_price</name>
        <label>Find dealer price</label>
        <locationX>294</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_dealer_price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_order_row.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Refined_pricebook_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealer_type_connection.Refined_pricebook_type__c</elementReference>
            </value>
        </filters>
        <object>Refined_pricebook_items__c</object>
        <outputReference>Loop_dealer_price</outputReference>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Refined_pricebook_type__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_dealer_price_bundle</name>
        <label>Find dealer price bundle</label>
        <locationX>1055</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_dealer_price_bundles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_bundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_order_bundles.Product_bundle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Refined_pricebook_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Dealer_type_connection.Refined_pricebook_type__c</elementReference>
            </value>
        </filters>
        <object>Refined_pricebook_items__c</object>
        <outputReference>Loop_dealer_price</outputReference>
        <queriedFields>Product_bundle__c</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Refined_pricebook_type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_dealer_type</name>
        <label>Find dealer type</label>
        <locationX>671</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_order_rows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Distributor__c</elementReference>
            </value>
        </filters>
        <object>Refined_pricebook_connection__c</object>
        <outputReference>Dealer_type_connection</outputReference>
        <queriedFields>Refined_pricebook_type__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_order</name>
        <label>Find order</label>
        <locationX>18</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dealer_price_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_order</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Distributor__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>Dealer_price_set__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_order_bundles</name>
        <label>Find order bundles</label>
        <locationX>514</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_dealer_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_order</elementReference>
            </value>
        </filters>
        <object>Order_bundle__c</object>
        <outputReference>Order_bundles</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Total_price__c</queriedFields>
        <queriedFields>Product_bundle__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_order_rows</name>
        <label>Find order rows</label>
        <locationX>352</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_order_bundles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_order</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>Order_rows</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Distr__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Discount_Percent__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Dealer_price_has_been_set</name>
        <label>Dealer price has been set</label>
        <locationX>1388</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>Dealer_price_has_been_set_bundle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_order</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer_price_set__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Dealer_price_has_been_set_bundle</name>
        <label>Dealer price has been set bundle</label>
        <locationX>1557</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>Update_order_rows</targetReference>
        </connector>
        <inputReference>Updated_order_bundles</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order_rows</name>
        <label>Update order rows</label>
        <locationX>1742</locationX>
        <locationY>187</locationY>
        <inputReference>Updated_order_rows</inputReference>
    </recordUpdates>
    <startElementReference>Find_order</startElementReference>
    <status>Active</status>
    <variables>
        <name>Dealer_prices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Refined_pricebook_items__c</objectType>
    </variables>
    <variables>
        <name>Dealer_type_connection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Refined_pricebook_connection__c</objectType>
    </variables>
    <variables>
        <name>Loop_dealer_price</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Refined_pricebook_items__c</objectType>
    </variables>
    <variables>
        <name>Loop_order_bundles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order_bundle__c</objectType>
    </variables>
    <variables>
        <name>Loop_order_row</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Order_bundles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order_bundle__c</objectType>
    </variables>
    <variables>
        <name>Order_rows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Updated_order_bundles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order_bundle__c</objectType>
    </variables>
    <variables>
        <name>Updated_order_rows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Var_order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
