src/flows/KOL_Create_deliverable.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckCventEventAccess</name>
        <label>Check Cvent Event access</label>
        <locationX>371</locationX>
        <locationY>288</locationY>
        <actionName>Flow_GenericMethods</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_record_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objects</name>
            <value>
                <stringValue>CventEvents__Event__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Nav2Deliverable</name>
        <label>Nav2Deliverable</label>
        <locationX>1989</locationX>
        <locationY>313</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Deliverable.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_spam</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_added_hours</name>
        <label>Assign added hours</label>
        <locationX>1492</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>Deliverable.Work_hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Deliverable.Planning_hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanningHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Deliverable.Travel_hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TravelHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_confidentiality</name>
        <label>Assign confidentiality</label>
        <locationX>802</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>Deliverable.Contract_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confidentiality</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_deliverable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_consulting</name>
        <label>Assign consulting</label>
        <locationX>805</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>Deliverable.Contract_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consulting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_deliverable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other</name>
        <label>Assign Other</label>
        <locationX>794</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>Deliverable.Contract_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_deliverable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_speaking</name>
        <label>Assign speaking</label>
        <locationX>800</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>Deliverable.Contract_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Speaking</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_deliverable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_step_1</name>
        <label>Assign step 1</label>
        <locationX>1091</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>Deliverable.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Deliverable.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Deliverable.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KOL_Contract.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Deliverable.KOL_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Cvent_Event_Access</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDeliverableNameToEventName</name>
        <label>Set Deliverable Name to Event Name</label>
        <locationX>1277</locationX>
        <locationY>1</locationY>
        <assignmentItems>
            <assignToReference>Deliverable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliverableNameFromEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_hours</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_record_type</name>
        <label>Check record type</label>
        <locationX>602</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Assign_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Consulting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KOL_Contract.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120J00000079bMQAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_consulting</targetReference>
            </connector>
            <label>Consulting</label>
        </rules>
        <rules>
            <name>Confidentiality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KOL_Contract.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120J00000079bLQAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_confidentiality</targetReference>
            </connector>
            <label>Confidentiality</label>
        </rules>
        <rules>
            <name>Speaking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KOL_Contract.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120J00000079bOQAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_speaking</targetReference>
            </connector>
            <label>Speaking</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KOL_Contract.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120J00000079bNQAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Other</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>EventAssignedCheck</name>
        <label>Is event assigned?</label>
        <locationX>1092</locationX>
        <locationY>107</locationY>
        <defaultConnector>
            <targetReference>Assign_hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EventIsAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deliverable.CventEventUpd__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDeliverableNameToEventName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Cvent_Event_Access</name>
        <label>Has Cvent Event Access</label>
        <locationX>1223</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Assign_hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasCventEventAccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckCventEventAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EventAssignedCheck</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>CventEventRequired</name>
        <dataType>Boolean</dataType>
        <expression>AND({!UserRole} != &apos;#Global: Clinical Affairs&apos;,  {!CheckCventEventAccess} = true, {!GetKOLContract.RecordTypeId} = &apos;0120J00000079bOQAQ&apos;)</expression>
    </formulas>
    <formulas>
        <name>DeliverableNameFromEvent</name>
        <dataType>String</dataType>
        <expression>LEFT({!Deliverable.CventEventUpd__r.CventEvents__pkg_Title__c}, 75)</expression>
    </formulas>
    <formulas>
        <name>PlanningFormula</name>
        <dataType>Number</dataType>
        <expression>{!Deliverable.Planning_hours__c} * {!KOL_Contract.Hourly_Rate__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalCompFormula</name>
        <dataType>Number</dataType>
        <expression>{!WorkFormula} + {!PlanningFormula}+{!TravelFormula}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TravelFormula</name>
        <dataType>Number</dataType>
        <expression>{!Deliverable.Travel_hours__c} * {!KOL_Contract.Hourly_Rate__c} *0.5</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <formulas>
        <name>WorkFormula</name>
        <dataType>Number</dataType>
        <expression>{!Deliverable.Work_hours__c} * {!KOL_Contract.Hourly_Rate__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>KOL: Create deliverable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KOL: Create deliverable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Deliverable_Action</name>
        <label>Create Deliverable</label>
        <locationX>1810</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Nav2Deliverable</targetReference>
        </connector>
        <inputReference>Deliverable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetKOLContract</name>
        <label>Get KOL Contract</label>
        <locationX>376</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCventEventAccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KOL_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assign_hours</name>
        <label>Assign hours</label>
        <locationX>1353</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_added_hours</targetReference>
        </connector>
        <fields>
            <name>WorkHours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText># of hours of work</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PlanningHours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText># of Planning Hours to be compensated</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>TravelHours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText># of Travel Hours to be compensated</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Unfortunately, you are not allowed to add any travel hours for this KOL.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Country}=&quot;FR&quot;, IF({!TravelHours}&gt;0, FALSE,TRUE),TRUE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_deliverable</name>
        <label>Create deliverable</label>
        <locationX>964</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_step_1</targetReference>
        </connector>
        <fields>
            <name>NameLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>KOL_Contract_Deliverable__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Deliverable.Name</assignToReference>
                <name>resId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CheckCventEventAccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>#Global: Clinical Affairs</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CventEventLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CventEventUpd__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>KOL_Contract_Deliverable__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>CventEventRequired</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Deliverable.CventEventUpd__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CheckCventEventAccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TypeDepLC</name>
            <extensionName>c:ServiceCloud_FlowDependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>KOL_Contract_Deliverable__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Contract_type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultVal</name>
                <value>
                    <elementReference>Deliverable.Contract_type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>depField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>depField2</name>
                <value>
                    <stringValue>Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Deliverable.Type__c</assignToReference>
                <name>depresId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Deliverable.Subtype__c</assignToReference>
                <name>depresId2</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PoInput</name>
            <extensionName>c:Flow_InputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>PurchaseOrder__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>KOL_Contract_Deliverable__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Deliverable.PurchaseOrder__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ContractLC</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>KOL_Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>KOL_Contract_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>KOL_Contract.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>1638</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Deliverable_Action</targetReference>
        </connector>
        <fields>
            <name>SummaryText</name>
            <fieldText>Summary

Type: {!Deliverable.Type__c}
Date: {!Deliverable.Date__c}

Work compensation: {!KOL_Contract.CurrencyIsoCode} {!WorkFormula} ({!Deliverable.Work_hours__c} h)
Planning compensation: {!KOL_Contract.CurrencyIsoCode} {!PlanningFormula} ({!Deliverable.Planning_hours__c} h)
Travel compensation: {!KOL_Contract.CurrencyIsoCode} {!TravelFormula} ({!Deliverable.Travel_hours__c} h)

Total compensation: {!KOL_Contract.CurrencyIsoCode} {!TotalCompFormula}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>GetKOLContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>KOL_Contract.License_Country__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Deliverable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KOL_Contract_Deliverable__c</objectType>
    </variables>
    <variables>
        <name>KOL_Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KOL_Contract__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_spam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_spamnumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
