src/flows/Lead_CreateOrder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Check_order_access</name>
        <label>Check order access</label>
        <locationX>143</locationX>
        <locationY>411</locationY>
        <actionName>Flow_GenericMethods</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Order_access</targetReference>
        </connector>
        <inputParameters>
            <name>objects</name>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OrderAccess</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Nav2Order</name>
        <label>Nav2Order</label>
        <locationX>1350</locationX>
        <locationY>373</locationY>
        <actionName>c:Flow_Nav2URL</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>/apex/OrderItemsSelector_GlobalBundles?sControlCaching=1&amp;id=</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>createdOrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Nav2Previous</name>
        <label>Nav2Previous</label>
        <locationX>270</locationX>
        <locationY>582</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Initiative_assigned</name>
        <label>Initiative assigned?</label>
        <locationX>574</locationX>
        <locationY>416</locationY>
        <defaultConnector>
            <targetReference>Create_order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InitAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead.Field_Sales_Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_inititative</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_access</name>
        <label>Order access?</label>
        <locationX>264</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>Nav2Previous</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderAccessTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ConvertChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Converted_to__c</picklistField>
        <picklistObject>Field_Sales_Project_Members__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Lead: Create order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Create order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_inititative</name>
        <label>Get inititative</label>
        <locationX>583</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_lead.Field_Sales_Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Field_Sales_Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Convert_leads_to__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_lead</name>
        <label>Get lead</label>
        <locationX>420</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initiative_assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Field_Sales_Project_Members__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Field_Sales_Project__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Sales_Rep__c</queriedFields>
        <queriedFields>Converted_to__c</queriedFields>
        <queriedFields>Result__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>CrossSellProspect__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>IntentionToBuyDate__c</queriedFields>
        <queriedFields>Dealer__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead_order</name>
        <label>Update lead</label>
        <locationX>1112</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Nav2Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Converted_to__c</field>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Field_Sales_Project_Members__c</object>
    </recordUpdates>
    <start>
        <locationX>11</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Check_order_access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_order</name>
        <label>Create order</label>
        <locationX>934</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Update_lead_order</targetReference>
        </connector>
        <flowName>Order_India</flowName>
        <inputAssignments>
            <name>Var_account</name>
            <value>
                <elementReference>Get_lead.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_Currency</name>
            <value>
                <elementReference>Get_lead.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_order_foc</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_record_type</name>
            <value>
                <stringValue>0120J000000cn2w</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdOrderId</assignToReference>
            <name>Var_Order</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>createdOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opp2Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OrderAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
