src/flows/Lead_Create_lead_from_campaign.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Nav2Initiative</name>
        <label>Nav2Initiative</label>
        <locationX>1335</locationX>
        <locationY>933</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>InitiativeFormula</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_initiative</name>
        <label>Assign initiative</label>
        <locationX>977</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Init2Create.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Init2Create.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Init2Create.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Init2Create.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Init2Create.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seminar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Init2Create.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Init2Create.Initiative_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing Initiative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Init2Create.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Init2Create.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Init2Create.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InitAcc.Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_initiative_perform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_lead</name>
        <label>Assign new lead</label>
        <locationX>1511</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>NewLead.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_member_info.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_member_info.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Field_Sales_Project__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.Field_Sales_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InitiativeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_leads</name>
        <label>Assign new leads</label>
        <locationX>1511</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>LeadsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_campaign_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignmemb</name>
        <label>Assignmemb</label>
        <locationX>1190</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>Get_campaign_members</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MembersToAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_campaign_members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Initiative</name>
        <label>Create initiative?</label>
        <locationX>840</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>Get_init_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateInit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateNewInitiativeCheck.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_init</targetReference>
            </connector>
            <label>CreateInit</label>
        </rules>
    </decisions>
    <description>210422 TFUS-000002898: changed to run in system mode (with sharing)</description>
    <formulas>
        <name>CategoryFormula</name>
        <dataType>String</dataType>
        <expression>IF({!CreateNewInitiativeCheck.value}, TEXT({!Init2Create.Category__c}), TEXT({!Get_init_details.Category__c}))</expression>
    </formulas>
    <formulas>
        <name>InitiativeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!CreateNewInitiativeCheck.value}, {!Init2Create.Id}, {!InitAcc.Field_Sales_Project__c})</expression>
    </formulas>
    <interviewLabel>Lead: Create lead from campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Create lead from campaign</label>
    <loops>
        <name>Loop_campaign_members</name>
        <label>Loop campaign members</label>
        <locationX>1340</locationX>
        <locationY>411</locationY>
        <assignNextValueToReference>LoopMember</assignNextValueToReference>
        <collectionReference>Get_campaign_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_member_info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewLeads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_new_leads</name>
        <label>Loop new leads</label>
        <locationX>1340</locationX>
        <locationY>753</locationY>
        <assignNextValueToReference>LoopLead</assignNextValueToReference>
        <collectionReference>LeadsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_existing_campaign_member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Nav2Initiative</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_initiative_perform</name>
        <label>Create initiative</label>
        <locationX>1096</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Select_campaign_members</targetReference>
        </connector>
        <inputReference>Init2Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewLeads</name>
        <label>CreateNewLeads</label>
        <locationX>1340</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Loop_new_leads</targetReference>
        </connector>
        <inputReference>LeadsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_campaign</name>
        <label>Get campaign</label>
        <locationX>390</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_campaign_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CampaignMemberAccountIdList__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_campaign_members</name>
        <label>Get campaign members</label>
        <locationX>519</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_interest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Full_Name__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_init_details</name>
        <label>Get init details</label>
        <locationX>844</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_campaign_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitAcc.Field_Sales_Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Field_Sales_Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Update_member_info</name>
        <label>Update member info</label>
        <locationX>1338</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_new_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopMember.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Full_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_campaign_member</name>
        <label>Update existing campaign member</label>
        <locationX>1519</locationX>
        <locationY>753</locationY>
        <connector>
            <targetReference>Loop_new_leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopLead.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initiative_Account__c</field>
            <value>
                <elementReference>LoopLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>New_init</name>
        <label>Create initiative</label>
        <locationX>838</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_initiative</targetReference>
        </connector>
        <fields>
            <name>Initiative_name</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>Get_campaign.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Field_Sales_Project__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Init2Create.Name</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Start_date</name>
            <dataType>Date</dataType>
            <fieldText>Start date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_date</name>
            <dataType>Date</dataType>
            <fieldText>End date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to capture if the new leads should be connected to a new or existing initiative</description>
        <name>Product_interest</name>
        <label>Product interest</label>
        <locationX>665</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Initiative</targetReference>
        </connector>
        <fields>
            <name>LookupInit</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Field_Sales_Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Field_Sales_Project_Members__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>InitAcc.Field_Sales_Project__c</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CreateNewInitiativeCheck</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create a new initiative</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LookupProduct</name>
            <extensionName>c:ServiceCloud_FlowInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Field_Sales_Project_Members__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>InitAcc.Category__c</assignToReference>
                <name>resId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CreateNewInitiativeCheck.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_campaign_members</name>
        <label>Select campaign members</label>
        <locationX>1090</locationX>
        <locationY>419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignmemb</targetReference>
        </connector>
        <fields>
            <name>MembersEdit</name>
            <extensionName>c:CampaignMembersEdit</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MembersToAdd</assignToReference>
                <name>selectedMembers</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>Get_campaign</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CreateNewInitiative</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Init2Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Field_Sales_Project__c</objectType>
    </variables>
    <variables>
        <name>InitAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Field_Sales_Project_Members__c</objectType>
    </variables>
    <variables>
        <name>LeadsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Field_Sales_Project_Members__c</objectType>
    </variables>
    <variables>
        <name>LoopLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Field_Sales_Project_Members__c</objectType>
    </variables>
    <variables>
        <name>LoopMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>memberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembersToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>NewLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Field_Sales_Project_Members__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
