src/flows/OneDs_Mobile.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>OneDs: Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OneDs: Mobile Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CurrentInHouseEquipmentScreen</name>
        <label>Current In House Equipment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DigitalWorkflowScreen</targetReference>
        </connector>
        <fields>
            <name>CurrentInHouseEquipmentHeader</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Practice Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentInHouseEquipmentSubHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Current In House Equipment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentInHouseEquipmentForm</name>
            <extensionName>c:flow_recordEditForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>AdvancedProfiling__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>advancedProfilingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[&quot;DigitalScanner__c&quot;,&quot;MillOven__c&quot;,&quot;EssixMachine__c&quot;,&quot;NrOfCBCTScansPerformedEachMonth__c&quot;,&quot;OfCBCTScansReferredMonth__c&quot;,&quot;ReferredTo__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DigitalWorkflowScreen</name>
        <label>Digital Workflow</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ImplantsScreen</targetReference>
        </connector>
        <fields>
            <name>DigitalWorkflowHeader</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Digital Workflow&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentInHouseEquipmentSubHeader_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please select the best representation of your current digital workflow for the following procedures&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DigitalWorkflowForm</name>
            <extensionName>c:flow_recordEditForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>AdvancedProfiling__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>advancedProfilingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[&quot;GuidedImplantPlacement__c&quot;,&quot;ImplantRestoration__c&quot;,&quot;Crowns__c&quot;,&quot;Bridges__c&quot;,&quot;ClearAlignerTherapyOrtho__c&quot;,&quot;Appliances__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EndodonticsScreen</name>
        <label>Endodontics</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OrthodonticsScreen</targetReference>
        </connector>
        <fields>
            <name>EndodonticsHeader</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Endodontics&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EndodonticsSubHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please indicate your average &lt;b&gt;monthly &lt;/b&gt;volume for the following procedures:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EndodonticsForm</name>
            <extensionName>c:flow_recordEditForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>AdvancedProfiling__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>advancedProfilingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[&quot;EndoEstimatedCaseAcceptance__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FuturePlansScreen</name>
        <label>Future Practice Plans</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FuturePlansTimelineScreen</targetReference>
        </connector>
        <fields>
            <name>FuturePlansHeader</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Future Practice Plans&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FuturePlansSubHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;What are your future practice plans?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FuturePlanForm</name>
            <extensionName>c:flow_recordEditForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Account_Plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountPlanId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[&quot;AddSurgicalOperatory__c&quot;,&quot;HygieneOperatory__c&quot;,&quot;PurchasingExistingPractice__c&quot;,&quot;OpeningNewPractice__c&quot;,&quot;Relocating__c&quot;,&quot;AddingAssociates__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FuturePlansTimelineScreen</name>
        <label>Future Practice Plans</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SpecialistsScreen</targetReference>
        </connector>
        <fields>
            <name>FuturePlansTimelineHeader</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Future Practice Plans&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FuturePlansTimelineSubHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Do you plan to invest in any of the following office equipment/technology?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FuturePlanTimelineForm</name>
            <extensionName>c:flow_recordEditForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Account_Plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountPlanId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[&quot;DigitalScanner__c&quot;,&quot;MillOven__c&quot;,&quot;CBCT3D__c&quot;,&quot;Pan__c&quot;,&quot;ChairDeliverySystemTreatmentCent__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ImplantsScreen</name>
        <label>Implants</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EndodonticsScreen</targetReference>
        </connector>
        <fields>
            <name>ImplantsHeader</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Implants&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ImplantsSubHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please indicate your average &lt;b&gt;monthly &lt;/b&gt;volume for the following procedures:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ImplantsForm</name>
            <extensionName>c:flow_recordEditForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>AdvancedProfiling__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>advancedProfilingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[&quot;ImplantPlacementFreehand__c&quot;,&quot;ImplantPlacementGuided__c&quot;,&quot;ImplantRestorations__c&quot;,&quot;ImplantsEstimatedCaseAcceptance__c&quot;,&quot;FamiliarRestorativeOptions__c&quot;,&quot;AstraRestorativeProsthoKit__c&quot;,&quot;PreferredImplantSystem__c&quot;,&quot;ImplantsPrimaryLabUsed__c&quot;,&quot;PreferredRestorativeImplantSystem__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OrthodonticsScreen</name>
        <label>Orthodontics &amp; Appliances</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PreventativeScreen</targetReference>
        </connector>
        <fields>
            <name>OrthodonticsHeader</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Orthodontics &amp;amp; Appliances&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrthodonticsSubHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please indicate your average &lt;b&gt;monthly &lt;/b&gt;volume for the following procedures:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrthodonticsForm</name>
            <extensionName>c:flow_recordEditForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>AdvancedProfiling__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>advancedProfilingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[&quot;ClearAlignersNewStarts__c&quot;,&quot;ClearAlignerBrandUsed__c&quot;,&quot;TraditionalOrthoBracketsNewStarts__c&quot;,&quot;BracketSystemUsed__c&quot;,&quot;Nightguards__c&quot;,&quot;LabUsedforAppliance__c&quot;,&quot;Sportsguards__c&quot;,&quot;OrthoSpecialistRefTo__c&quot;,&quot;Retainers__c&quot;,&quot;OrthoEstimatedCase__c&quot;,&quot;OrthoReferredOuttospecialist__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PraticeDetailsScreen</name>
        <label>Pratice Details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CurrentInHouseEquipmentScreen</targetReference>
        </connector>
        <fields>
            <name>PracticeDetailsHeader</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Practice Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PracticeDetails</name>
            <extensionName>c:flow_recordEditForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[&quot;of_treatment_Chairs__c&quot;,&quot;of_Prophylaxis_Chairs__c&quot;,&quot;of_Preventive_PatientsMonth__c&quot;,&quot;of_Restorative_Cases_month__c&quot;,&quot;NrOfCADCAMabutments__c&quot;,&quot;of_Endo_Cases__c&quot;,&quot;EndoReferralsMonth__c&quot;,&quot;NrOfAbutments__c&quot;,&quot;of_Implant_Procedures__c&quot;,&quot;of_Implants_Referrals_month__c&quot;,&quot;Ortho_Case_Starts_Year__c&quot;,&quot;PatientsMonth__c&quot;,&quot;of_Dental_Hygienists__c&quot;,&quot;of_Dentists__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreventativeScreen</name>
        <label>Preventative/Restorative</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PreventativeScreen_0</targetReference>
        </connector>
        <fields>
            <name>PreventativeHeader</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Preventative/Restorative&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PreventativeSubHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please indicate your average &lt;b&gt;monthly &lt;/b&gt;volume for the following procedures:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PreventativeForm</name>
            <extensionName>c:flow_recordEditForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>AdvancedProfiling__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>advancedProfilingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[&quot;ofFillingsClassIMonth__c&quot;,&quot;ofFillingsClassIIMonth__c&quot;,&quot;ofFillingsClassIIIIVVMonth__c&quot;,&quot;OfCrownsMonth__c&quot;,&quot;OfBridgesMonth__c&quot;,&quot;LabUsedforCrownBridge__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreventativeScreen_0</name>
        <label>Preventative/Restorative</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FuturePlansScreen</targetReference>
        </connector>
        <fields>
            <name>RestorativeHeader</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Preventative/Restorative&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RestorativeSubHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Which brand(s) of the following are you current using?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RestorativeForm</name>
            <extensionName>c:flow_recordEditForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>AdvancedProfiling__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>advancedProfilingId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[&quot;Composite__c&quot;,&quot;CoreBuildUpMaterials__c&quot;,&quot;MatrixMaterials__c&quot;,&quot;FinishingPolishing__c&quot;,&quot;ImpressionMaterials__c&quot;,&quot;Cement__c&quot;,&quot;CADCAMBlocks__c&quot;,&quot;BoneRegenerative__c&quot;,&quot;Anesthetic__c&quot;,&quot;Adhesive&quot;,&quot;TemporaryFillingMaterials__c&quot;,&quot;ProphyPaste__c&quot;,&quot;FluorideVarnish__c&quot;,&quot;CavitronInserts__c&quot;,&quot;ImplantAbutmentsCoverScrews__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SpecialistsScreen</name>
        <label>Specialists</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SpecialistsHeader</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Specialists&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FuturePlansTimelineSubHeader_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpecialistUpdate</name>
            <extensionName>c:flow_ContactUpdate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>layoutFields</name>
                <value>
                    <stringValue>[&quot;Title&quot;,&quot;FirstName&quot;,&quot;LastName&quot;,&quot;Preferred_Language__c&quot;,&quot;Email&quot;,&quot;MobilePhone&quot;,&quot;PrimaryMethodOfContact__c&quot;,&quot;Profession__c&quot;,&quot;Specialty__c&quot;]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PraticeDetailsScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>advancedProfilingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
