src/flows/Opportunity_CreateOppFromAccount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FindQuest</name>
        <label>FindQuest</label>
        <locationX>1186</locationX>
        <locationY>456</locationY>
        <actionName>flowQuestionnaireController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Questionnaire_found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>Get_account_details.Country__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>QuestionnaireToUse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Nav2Lead</name>
        <label>Nav2Lead</label>
        <locationX>1820</locationX>
        <locationY>1936</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OppToCreate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>2256</locationX>
        <locationY>1785</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Nav2Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OppToCreate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Category_Details</name>
        <label>Assign Category Details</label>
        <locationX>991</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>OppToCreate.NA_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomCategorisation.categoryOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.NA_Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomCategorisation.brandOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Dealer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomCategorisation.dealerOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CatBrandAssignedDesc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_null_init</name>
        <label>Assign null init</label>
        <locationX>549</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>QuestionnaireToUse.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_object_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_owner</name>
        <label>Assign owner</label>
        <locationX>1510</locationX>
        <locationY>1178</locationY>
        <assignmentItems>
            <assignToReference>OppToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_OwnerId_Calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_response_update</name>
        <label>Assign response update</label>
        <locationX>1999</locationX>
        <locationY>1393</locationY>
        <assignmentItems>
            <assignToReference>LoopResponse.Opportunity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Q_A</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDetails</name>
        <label>Assign details</label>
        <locationX>1806</locationX>
        <locationY>1045</locationY>
        <assignmentItems>
            <assignToReference>OppToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLwcLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLwcLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.AccountProgramMember__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountProgramMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOppDetails</name>
        <label>Assign opportunity details</label>
        <locationX>814</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>OppToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0. Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.User_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_current_user.User_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.NA_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Dealer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.NA_Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120J00000079nDQAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CategoryBrandMissingCheck</name>
        <label>Category or brand is missing</label>
        <locationX>1188</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CategoryBrandMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_interest_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestionsRemainAssign</name>
        <label>Required questions remain</label>
        <locationX>1875</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>RequiredQRemain</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionnaireWarningMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warning! All required questions need to be answered in order to create the lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestionnaireScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_accountId_from_account</name>
        <label>Set accountId from account</label>
        <locationX>712</locationX>
        <locationY>1067</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_account_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_accountId_from_Contact</name>
        <label>Set accountId from Contact</label>
        <locationX>937</locationX>
        <locationY>1432</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitAcc.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_account_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOwnerNotAssigned</name>
        <label>SetOwnerNotAssigned</label>
        <locationX>1936</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>OwnerNotAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOwnerScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CatBrandAssignedDesc</name>
        <label>Category and brand assigned?</label>
        <locationX>1179</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>CategoryBrandMissingCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CategoryBrandAssigned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CategoryBrandMissingFormula</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindQuest</targetReference>
            </connector>
            <label>Category and Brand assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_object_type</name>
        <label>Check object type</label>
        <locationX>707</locationX>
        <locationY>1275</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_accountId_from_account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUserIsOwner</name>
        <label>Is user owner?</label>
        <locationX>1804</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Update_Q_As</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decOutcUserIsNotOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_OwnerId_Calculation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_owner</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_current_user_owner</name>
        <label>Is current user owner?</label>
        <locationX>1811</locationX>
        <locationY>1668</locationY>
        <defaultConnector>
            <targetReference>Post_to_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppToCreate.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nav2Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_assigned</name>
        <label>Owner assigned?</label>
        <locationX>1651</locationX>
        <locationY>997</locationY>
        <defaultConnector>
            <targetReference>SetOwnerNotAssigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerIsAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_OwnerId_Calculation</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Formula_OwnerId_Calculation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questionnaire_found</name>
        <label>Questionnaire found?</label>
        <locationX>1440</locationX>
        <locationY>849</locationY>
        <defaultConnector>
            <targetReference>AssignOwnerScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuestionnaireFoundCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuestionnaireToUse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCatQuestions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RequiredQuestrionsAnsweredDesc</name>
        <label>RequiredQuestrionsAnsweredDesc</label>
        <locationX>1868</locationX>
        <locationY>595</locationY>
        <defaultConnector>
            <targetReference>QuestionsRemainAssign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllQuestionsAnswered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReqQuestionsAnswered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOwnerScreen</targetReference>
            </connector>
            <label>All answered</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhereQuestionsFound</name>
        <label>Where questions found?</label>
        <locationX>1554</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>AssignOwnerScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuestionsWhereFound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FindCatQuestions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindGenericQuestions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuestionnaireScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>TFUS-000003990 : New Opportunity from an Account Program Member</description>
    <dynamicChoiceSets>
        <name>CountryPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Questionnaire_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AccCountry</name>
        <dataType>String</dataType>
        <expression>&quot;&amp; TEXT(Get_account_details.Country__c) &amp; &quot;</expression>
    </formulas>
    <formulas>
        <name>CategoryBrandMissingFormula</name>
        <dataType>Boolean</dataType>
        <expression>Isblank(TEXT({!OppToCreate.NA_Category__c})) || Isblank(TEXT({!OppToCreate.NA_Brand__c})) || TEXT({!OppToCreate.NA_Brand__c}) = &quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>ChatterFormula</name>
        <dataType>String</dataType>
        <expression>&apos;@[&apos; &amp; {!OppToCreate.OwnerId} &amp; &apos;]&apos;</expression>
    </formulas>
    <formulas>
        <name>CountryCheck</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!CountryMPL}, &quot;&amp;Get_account_details.Country__c&amp;&quot;)</expression>
    </formulas>
    <formulas>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>EndDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>Formula_OwnerId_Calculation</name>
        <dataType>String</dataType>
        <expression>If({!Owner.Id} = null &amp;&amp; {!LookupOwner1.recordId} != &quot;&quot; ,{!LookupOwner1.recordId},{!Owner.Id})</expression>
    </formulas>
    <formulas>
        <name>InitName</name>
        <dataType>String</dataType>
        <expression>&apos;Cross-sell &apos; + TEXT({!InitAcc.Category__c})</expression>
    </formulas>
    <formulas>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},3)</expression>
    </formulas>
    <formulas>
        <name>OwnerCheck</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Owner.Id}), {!InitAcc.Sales_Rep__c}, {!Owner.Id})</expression>
    </formulas>
    <formulas>
        <name>ProspectStatus</name>
        <dataType>String</dataType>
        <expression>IF({!CancelProspectCheck}, &apos;Cancelled&apos;, &apos;New&apos;)</expression>
    </formulas>
    <interviewLabel>Opportunity: Create opportunity from account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Create opportunity from account</label>
    <loops>
        <name>Update_Q_As</name>
        <label>Update Q&amp;As</label>
        <locationX>1818</locationX>
        <locationY>1480</locationY>
        <assignNextValueToReference>LoopResponse</assignNextValueToReference>
        <collectionReference>Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_response_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_current_user_owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_opportunity</name>
        <label>Create opportunity</label>
        <locationX>1810</locationX>
        <locationY>1184</locationY>
        <connector>
            <targetReference>decUserIsOwner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorMessage</targetReference>
        </faultConnector>
        <inputReference>OppToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Team_Member</name>
        <label>Create Opportunity Team Member</label>
        <locationX>1508</locationX>
        <locationY>1315</locationY>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OppToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Opportunity Creator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Q_A</name>
        <label>Create Q&amp;A</label>
        <locationX>1992</locationX>
        <locationY>1558</locationY>
        <connector>
            <targetReference>Update_Q_As</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorMessage</targetReference>
        </faultConnector>
        <inputReference>LoopResponse</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FindCatQuestions</name>
        <label>Find category questions</label>
        <locationX>1368</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindGenericQuestions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssignOwnerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppToCreate.NA_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Questionnaire_Setup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuestionnaireToUse.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Questions__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Question_Order__c</queriedFields>
        <queriedFields>Question_Type__c</queriedFields>
        <sortField>Question_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindGenericQuestions</name>
        <label>Find generic questions</label>
        <locationX>1368</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhereQuestionsFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssignOwnerScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not SBU-Specific</stringValue>
            </value>
        </filters>
        <filters>
            <field>Questionnaire_Setup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuestionnaireToUse.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Questions__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_account_details</name>
        <label>Get account details</label>
        <locationX>931</locationX>
        <locationY>1065</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOppDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>720</locationX>
        <locationY>1433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_accountId_from_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_user</name>
        <label>Get current user</label>
        <locationX>390</locationX>
        <locationY>1272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_null_init</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>User_Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>Update Opportunity</label>
        <locationX>1509</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Update_Q_As</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorMessage</targetReference>
        </faultConnector>
        <inputReference>OppToCreate</inputReference>
    </recordUpdates>
    <screens>
        <name>AssignOwnerScreen</name>
        <label>Assign owner</label>
        <locationX>1699</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Owner_assigned</targetReference>
        </connector>
        <fields>
            <name>OwnerScript</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please select an owner of the new opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectOwner</name>
            <extensionName>c:Flow_SelectUserFromAccountTerritories</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedUsers</name>
                <value>
                    <elementReference>Owner</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Owner</assignToReference>
                <name>selectedUsers</name>
            </outputParameters>
        </fields>
        <fields>
            <name>LookupOwner1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sales_Rep__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Field_Sales_Project_Members__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>...or assign an owner manually</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NeedToAssignOwner</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please note! You need to assign an owner in order to create the lead.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OwnerNotAssigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OppDetails</name>
        <label>Opportunity details</label>
        <locationX>695</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_interest_0</targetReference>
        </connector>
        <fields>
            <name>OppDetailsScript</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please add details about the new opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpportunityStage</name>
            <extensionName>c:Flow_InputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>0120J00000079nDQAQ</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>StageName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>OppToCreate.StageName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OppToCreate.StageName</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CloseDate</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>OppType</name>
            <extensionName>c:Flow_InputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>0120J00000079nDQAQ</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>OppToCreate.Type</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OppToCreate.Type</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ContactLwcLookup</name>
            <extensionName>c:flow_lookupLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isMultiEntry</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxSelectionSize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_interest_0</name>
        <label>Product interest</label>
        <locationX>695</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Category_Details</targetReference>
        </connector>
        <fields>
            <name>OppCatScript</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Which products are of interest?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WarningCatBrand</name>
            <extensionName>c:LightningPage_WarningMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>CatBrandWarning</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CategoryBrandMissing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CustomCategorisation</name>
            <extensionName>c:Flow_SalesLeadCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>Brand</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>brand</name>
                <value>
                    <elementReference>Category</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_current_user.User_Country__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dealerInput</name>
                <value>
                    <elementReference>OppToCreate.Dealer__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>0120J00000079nDQAQ</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QuestionnaireScreen</name>
        <label>Questionnaire</label>
        <locationX>1723</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RequiredQuestrionsAnsweredDesc</targetReference>
        </connector>
        <fields>
            <name>QuestionnaireScript</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please ask the following questions to qualify the customer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RequiredQuestionsWarning</name>
            <extensionName>c:LightningPage_WarningMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>QuestionnaireWarningMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequiredQRemain</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Questionnaire</name>
            <extensionName>c:Flow_Questionnaire</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionnaireId</name>
                <value>
                    <elementReference>QuestionnaireToUse.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>OppToCreate.NA_Category__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestionsAnswered</name>
                <value>
                    <elementReference>ReqQuestionsAnswered</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>responses</name>
                <value>
                    <elementReference>Responses</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Responses</assignToReference>
                <name>responses</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ReqQuestionsAnswered</assignToReference>
                <name>requiredQuestionsAnswered</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrErrorMessage</name>
        <label>scrErrorMessage</label>
        <locationX>1536</locationX>
        <locationY>1961</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgError</name>
            <fieldText>&lt;p&gt;Something went wrong in the Flow, please contact your administrator and provide the following details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_current_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CatBrandWarning</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please note! You need to add a Category and Brand to proceed.</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-family: monospace, monospace; background-color: rgb(255, 255, 255);&quot;&gt;@[&lt;/span&gt;{!OppToCreate.OwnerId}&lt;span style=&quot;color: rgb(51, 51, 51); font-family: monospace, monospace; background-color: rgb(255, 255, 255);&quot;&gt;]&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>When a new Opportunity is created from an Account Program Member</description>
        <name>AccountProgramMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CancelProspectCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CategoryBrandMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CountryMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CountryMPL</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Field_Sales_Project_Members__c</objectType>
    </variables>
    <variables>
        <name>Initiative2Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Field_Sales_Project__c</objectType>
    </variables>
    <variables>
        <name>Initiative2Lookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Field_Sales_Project__c</objectType>
    </variables>
    <variables>
        <name>LoopQuestionnaire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questionnaire_Setup__c</objectType>
    </variables>
    <variables>
        <name>LoopResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Q_A__c</objectType>
    </variables>
    <variables>
        <name>MultiSelText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OwnerNotAssigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuestionnairesFound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questionnaire_Setup__c</objectType>
    </variables>
    <variables>
        <name>QuestionnaireToUse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questionnaire_Setup__c</objectType>
    </variables>
    <variables>
        <name>QuestionnaireWarningMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>All required questions need to be answered</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReqQuestionsAnswered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RequiredQRemain</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Responses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Q_A__c</objectType>
    </variables>
</Flow>
