src/flows/Opportunity_CreateOppFromAccount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FindQuest</name>
        <label>FindQuest</label>
        <locationX>1267</locationX>
        <locationY>855</locationY>
        <actionName>flowQuestionnaireController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Questionnaire_found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>Get_account_details.Country__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>QuestionnaireToUse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Nav2Lead</name>
        <label>Nav2Lead</label>
        <locationX>1899</locationX>
        <locationY>1936</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OppToCreate.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>2335</locationX>
        <locationY>1785</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Nav2Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OppToCreate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Category_Details</name>
        <label>Assign Category Details</label>
        <locationX>1063</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>OppToCreate.NA_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomCategorisationAndOwnership.categoryOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.NA_Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomCategorisationAndOwnership.brandOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Dealer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomCategorisationAndOwnership.dealerOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CatBrandAssignedDesc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_null_init</name>
        <label>Assign null init</label>
        <locationX>581</locationX>
        <locationY>1272</locationY>
        <assignmentItems>
            <assignToReference>QuestionnaireToUse.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_object_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_owner</name>
        <label>Assign owner</label>
        <locationX>1587</locationX>
        <locationY>1309</locationY>
        <assignmentItems>
            <assignToReference>OppToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomCategorisationAndOwnership.ChoosenUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_response_update</name>
        <label>Assign response update</label>
        <locationX>2078</locationX>
        <locationY>1393</locationY>
        <assignmentItems>
            <assignToReference>LoopResponse.Opportunity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Q_A</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDetails</name>
        <label>Assign details</label>
        <locationX>1888</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>OppToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLwcLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLwcLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.AccountProgramMember__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountProgramMemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOppDetails</name>
        <label>Assign opportunity details</label>
        <locationX>766</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>OppToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0. Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.User_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_current_user.User_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.NA_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Dealer__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.NA_Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120J00000079nDQAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOwnerAutomatically</name>
        <label>Assign owner automatically</label>
        <locationX>513</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>Owner.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignOwnerAutomatically</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_interest_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CategoryBrandMissingCheck</name>
        <label>Category or brand is missing</label>
        <locationX>1267</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>CategoryBrandMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_interest_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestionsRemainAssign</name>
        <label>Required questions remain</label>
        <locationX>1954</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>RequiredQRemain</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionnaireWarningMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warning! All required questions need to be answered in order to create the lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestionnaireScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_accountId_from_account</name>
        <label>Set accountId from account</label>
        <locationX>717</locationX>
        <locationY>1066</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_account_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_accountId_from_Contact</name>
        <label>Set accountId from Contact</label>
        <locationX>1016</locationX>
        <locationY>1432</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitAcc.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToCreate.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_account_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Validation_Rule_Triggered</name>
        <label>Set Opp Validation Rule Triggered</label>
        <locationX>1123</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>OppValidationRuleTriggered</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOwnerNotAssigned</name>
        <label>SetOwnerNotAssigned</label>
        <locationX>958</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>OwnerNotAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_interest_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CatBrandAssignedDesc</name>
        <label>Category and brand assigned?</label>
        <locationX>1258</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>CategoryBrandMissingCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CategoryBrandAssigned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CategoryBrandMissingFormula</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_assigned</targetReference>
            </connector>
            <label>Category and Brand assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_object_type</name>
        <label>Check object type</label>
        <locationX>712</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_accountId_from_account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUserIsOwner</name>
        <label>Is user owner?</label>
        <locationX>1883</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Update_Q_As</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decOutcUserIsNotOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomCategorisationAndOwnership.ChoosenUserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_owner</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_OwnerAssignedAutomatically</name>
        <label>Owner assigned automatically?</label>
        <locationX>696</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Product_interest_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcomeOwnerAssignedAutomatically</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_details.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_details.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_details.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_details.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_details.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_details.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOwnerAutomatically</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_current_user_owner</name>
        <label>Is current user owner?</label>
        <locationX>1890</locationX>
        <locationY>1668</locationY>
        <defaultConnector>
            <targetReference>Post_to_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppToCreate.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nav2Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Validation_Rule_Triggered</name>
        <label>Is Opportunity Validation Rule Triggered?</label>
        <locationX>1344</locationX>
        <locationY>1186</locationY>
        <defaultConnector>
            <targetReference>scrErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Validation_Rule_Triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ou must enter a detailed Win/Loss Description upon closing an Opportunity related to Primescan Connect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Validation_Rule_Triggered</targetReference>
            </connector>
            <label>Opportunity Validation Rule Triggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_assigned</name>
        <label>Owner assigned?</label>
        <locationX>1256</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>SetOwnerNotAssigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerIsAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomCategorisationAndOwnership.ChoosenUserId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CustomCategorisationAndOwnership.ChoosenUserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&quot;&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindQuest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questionnaire_found</name>
        <label>Questionnaire found?</label>
        <locationX>1519</locationX>
        <locationY>849</locationY>
        <defaultConnector>
            <targetReference>assignDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuestionnaireFoundCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuestionnaireToUse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindCatQuestions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RequiredQuestrionsAnsweredDesc</name>
        <label>RequiredQuestrionsAnsweredDesc</label>
        <locationX>1947</locationX>
        <locationY>595</locationY>
        <defaultConnector>
            <targetReference>QuestionsRemainAssign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllQuestionsAnswered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReqQuestionsAnswered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDetails</targetReference>
            </connector>
            <label>All answered</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhereQuestionsFound</name>
        <label>Where questions found?</label>
        <locationX>1633</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>assignDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuestionsWhereFound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FindCatQuestions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindGenericQuestions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuestionnaireScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>TFUS-000005409 : Handling of Win/Loss Reason</description>
    <dynamicChoiceSets>
        <name>CountryPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Questionnaire_Setup__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AccCountry</name>
        <dataType>String</dataType>
        <expression>&quot;&amp; TEXT(Get_account_details.Country__c) &amp; &quot;</expression>
    </formulas>
    <formulas>
        <name>CategoryBrandMissingFormula</name>
        <dataType>Boolean</dataType>
        <expression>Isblank(TEXT({!OppToCreate.NA_Category__c})) || Isblank(TEXT({!OppToCreate.NA_Brand__c})) || TEXT({!OppToCreate.NA_Brand__c}) = &quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>ChatterFormula</name>
        <dataType>String</dataType>
        <expression>&apos;@[&apos; &amp; {!OppToCreate.OwnerId} &amp; &apos;]&apos;</expression>
    </formulas>
    <formulas>
        <name>CountryCheck</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!CountryMPL}, &quot;&amp;Get_account_details.Country__c&amp;&quot;)</expression>
    </formulas>
    <formulas>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>EndDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>InitName</name>
        <dataType>String</dataType>
        <expression>&apos;Cross-sell &apos; + TEXT({!InitAcc.Category__c})</expression>
    </formulas>
    <formulas>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},3)</expression>
    </formulas>
    <formulas>
        <name>OwnerCheck</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Owner.Id}), {!InitAcc.Sales_Rep__c}, {!Owner.Id})</expression>
    </formulas>
    <formulas>
        <name>ProspectStatus</name>
        <dataType>String</dataType>
        <expression>IF({!CancelProspectCheck}, &apos;Cancelled&apos;, &apos;New&apos;)</expression>
    </formulas>
    <interviewLabel>Opportunity: Create opportunity from account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Create opportunity from account</label>
    <loops>
        <name>Update_Q_As</name>
        <label>Update Q&amp;As</label>
        <locationX>1897</locationX>
        <locationY>1480</locationY>
        <assignNextValueToReference>LoopResponse</assignNextValueToReference>
        <collectionReference>Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_response_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_current_user_owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_opportunity</name>
        <label>Create opportunity</label>
        <locationX>1889</locationX>
        <locationY>1184</locationY>
        <connector>
            <targetReference>decUserIsOwner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Opportunity_Validation_Rule_Triggered</targetReference>
        </faultConnector>
        <inputReference>OppToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Team_Member</name>
        <label>Create Opportunity Team Member</label>
        <locationX>1587</locationX>
        <locationY>1456</locationY>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OppToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Opportunity Creator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Q_A</name>
        <label>Create Q&amp;A</label>
        <locationX>2071</locationX>
        <locationY>1558</locationY>
        <connector>
            <targetReference>Update_Q_As</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorMessage</targetReference>
        </faultConnector>
        <inputReference>LoopResponse</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FindCatQuestions</name>
        <label>Find category questions</label>
        <locationX>1447</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindGenericQuestions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignDetails</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppToCreate.NA_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Questionnaire_Setup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuestionnaireToUse.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Questions__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Question_Order__c</queriedFields>
        <queriedFields>Question_Type__c</queriedFields>
        <sortField>Question_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindGenericQuestions</name>
        <label>Find generic questions</label>
        <locationX>1447</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhereQuestionsFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignDetails</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not SBU-Specific</stringValue>
            </value>
        </filters>
        <filters>
            <field>Questionnaire_Setup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuestionnaireToUse.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Questions__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_account_details</name>
        <label>Get account details</label>
        <locationX>1010</locationX>
        <locationY>1065</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOppDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>725</locationX>
        <locationY>1432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_accountId_from_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_user</name>
        <label>Get current user</label>
        <locationX>434</locationX>
        <locationY>1272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_null_init</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>User_Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>Update Opportunity</label>
        <locationX>1595</locationX>
        <locationY>1635</locationY>
        <connector>
            <targetReference>Update_Q_As</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorMessage</targetReference>
        </faultConnector>
        <inputReference>OppToCreate</inputReference>
    </recordUpdates>
    <screens>
        <name>OppDetails</name>
        <label>Opportunity details</label>
        <locationX>774</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DESC_OwnerAssignedAutomatically</targetReference>
        </connector>
        <fields>
            <name>OppValidationRuleAlert</name>
            <extensionName>c:LightningPage_WarningMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>You must enter a detailed Win/Loss Description upon closing an Opportunity related to Pricemescan Connect in order to get insights and share them with product and marketing teams.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OppValidationRuleTriggered</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OppDetailsScript</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please add details about the new opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpportunityWinLossInput</name>
            <extensionName>c:opportunityWinLossLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>OppToCreate.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageName</name>
                <value>
                    <elementReference>OppToCreate.StageName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OppToCreate.StageName</assignToReference>
                <name>stageName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OppToCreate.Win_Loss_Description__c</assignToReference>
                <name>winLossDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OppToCreate.Win_Loss_Reason__c</assignToReference>
                <name>winLossReason</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CloseDate</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>OppType</name>
            <extensionName>c:Flow_InputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>0120J00000079nDQAQ</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldVal</name>
                <value>
                    <elementReference>OppToCreate.Type</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OppToCreate.Type</assignToReference>
                <name>resId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>LeadSourceInput</name>
            <extensionName>c:Flow_InputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>LeadSource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>OppToCreate.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactLwcLookup</name>
            <extensionName>c:flow_lookupLwc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isMultiEntry</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxSelectionSize</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_interest_0</name>
        <label>Product interest</label>
        <locationX>782</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Category_Details</targetReference>
        </connector>
        <fields>
            <name>OppCatScript</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Which products are of interest?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NeedToAssignOwner</name>
            <extensionName>c:LightningPage_WarningMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> Please note! You need to assign an owner in order to create the opportunity.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OwnerNotAssigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WarningCatBrand</name>
            <extensionName>c:LightningPage_WarningMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>CatBrandWarning</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CategoryBrandMissing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CustomCategorisationAndOwnership</name>
            <extensionName>c:Flow_OppSuggestedUserBasedOnBrand</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>brand</name>
                <value>
                    <elementReference>Brand</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>Category</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_current_user.User_Country__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dealerInput</name>
                <value>
                    <elementReference>OppToCreate.Dealer__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isOwnerAssignedAutomatically</name>
                <value>
                    <elementReference>varAssignOwnerAutomatically</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QuestionnaireScreen</name>
        <label>Questionnaire</label>
        <locationX>1802</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RequiredQuestrionsAnsweredDesc</targetReference>
        </connector>
        <fields>
            <name>QuestionnaireScript</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please ask the following questions to qualify the customer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RequiredQuestionsWarning</name>
            <extensionName>c:LightningPage_WarningMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>QuestionnaireWarningMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequiredQRemain</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Questionnaire</name>
            <extensionName>c:Flow_Questionnaire</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionnaireId</name>
                <value>
                    <elementReference>QuestionnaireToUse.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>OppToCreate.NA_Category__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredQuestionsAnswered</name>
                <value>
                    <elementReference>ReqQuestionsAnswered</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>responses</name>
                <value>
                    <elementReference>Responses</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Responses</assignToReference>
                <name>responses</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ReqQuestionsAnswered</assignToReference>
                <name>requiredQuestionsAnswered</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrErrorMessage</name>
        <label>scrErrorMessage</label>
        <locationX>1389</locationX>
        <locationY>2013</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgError</name>
            <fieldText>&lt;p&gt;Something went wrong in the Flow, please contact your administrator and provide the following details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>1256</locationY>
        <connector>
            <targetReference>Get_current_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CatBrandWarning</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please note! You need to add a Category and Brand to proceed.</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-family: monospace, monospace; background-color: rgb(255, 255, 255);&quot;&gt;@[&lt;/span&gt;{!OppToCreate.OwnerId}&lt;span style=&quot;color: rgb(51, 51, 51); font-family: monospace, monospace; background-color: rgb(255, 255, 255);&quot;&gt;]&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>When a new Opportunity is created from an Account Program Member</description>
        <name>AccountProgramMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CancelProspectCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CategoryBrandMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CountryMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CountryMPL</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Field_Sales_Project_Members__c</objectType>
    </variables>
    <variables>
        <name>Initiative2Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Field_Sales_Project__c</objectType>
    </variables>
    <variables>
        <name>Initiative2Lookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Field_Sales_Project__c</objectType>
    </variables>
    <variables>
        <name>LoopQuestionnaire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questionnaire_Setup__c</objectType>
    </variables>
    <variables>
        <name>LoopResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Q_A__c</objectType>
    </variables>
    <variables>
        <name>MultiSelText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppValidationRuleTriggered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OwnerNotAssigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuestionnairesFound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questionnaire_Setup__c</objectType>
    </variables>
    <variables>
        <name>QuestionnaireToUse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Questionnaire_Setup__c</objectType>
    </variables>
    <variables>
        <name>QuestionnaireWarningMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>All required questions need to be answered</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReqQuestionsAnswered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RequiredQRemain</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Responses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Q_A__c</objectType>
    </variables>
    <variables>
        <name>varAssignOwnerAutomatically</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
