src/flows/Opportunity_After_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>isnewChatterPost</name>
        <label>isnewChatterPost</label>
        <locationX>242</locationX>
        <locationY>695</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>DESC_CallPartnerFlow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>isnewChatterTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>OpportunityClosedChatterPost</name>
        <label>OpportunityClosedChatterPost</label>
        <locationX>242</locationX>
        <locationY>1823</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>UpdateOpportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>OpportunityClosedChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignLastStageChangeDate</name>
        <label>Assign Last Stage Change Date</label>
        <locationX>242</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Stage_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DESC_LightningOpportunityClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUserCountryBasedOnWhoHasCreatedOpp</name>
        <label>Assign user country based on who has created the opp</label>
        <locationX>242</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.User_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallxSBUOwnersPartnersFlow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUserCountry</name>
        <label>Set User Country</label>
        <locationX>374</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.User_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DESC_IsnewChatterPost</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DESC_BypassEnabled</name>
        <label>Bypass enabled?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>SetUserCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>OUTC_BypassEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.PbBypassOpportunityCs__c.Bypass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_CallPartnerFlow</name>
        <label>Call Partner Flow?</label>
        <locationX>374</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>DESC_LastStageUpdateDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OUTC_CallPartnerFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>xsbu_prospecting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Questionnaire_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignUserCountryBasedOnWhoHasCreatedOpp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_IsnewChatterPost</name>
        <label>Isnew Chatter Post?</label>
        <locationX>374</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>DESC_CallPartnerFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>OUTC_IsnewChatterPost</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerIsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lightning_Pipeline_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.User_ID_18_digit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Target Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isnewChatterPost</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_LastStageUpdateDate</name>
        <label>Set Last Stage Update Date</label>
        <locationX>374</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>DESC_LightningOpportunityClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTC_NewOrChangedStage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageIsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLastStageChangeDate</targetReference>
            </connector>
            <label>New or Changed Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>DESC_LightningOpportunityClosed</name>
        <label>Lightning Opportunity Closed?</label>
        <locationX>374</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>UpdateOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OUTC_LightningOpportunityClosed</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lightning_Pipeline_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageIsChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prospect__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prospect__r.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prospect__r.Sales_Rep__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityClosedChatterPost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>OwnerIsChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>StageIsChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.StageName})</expression>
    </formulas>
    <interviewLabel>Opportunity: After Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: After Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateOpportunity</name>
        <label>Update Opportunity</label>
        <locationX>374</locationX>
        <locationY>2039</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DESC_BypassEnabled</targetReference>
        </connector>
        <filterFormula>{!$Setup.GlobalBypassProcessesSettings__c.RunFlows__c}</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CallxSBUOwnersPartnersFlow</name>
        <label>Call xSBU Owners &amp; Partners flow</label>
        <locationX>242</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>DESC_LastStageUpdateDate</targetReference>
        </connector>
        <flowName>OpportunityPartners</flowName>
        <inputAssignments>
            <name>AccId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppoId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Qid</name>
            <value>
                <elementReference>$Record.Questionnaire_Id__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>isnewChatterTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Opportunity : {!$Record.NA_Category__c} , {!$Record.NA_Brand__c} @[{!$Record.OwnerId}]
https://dentsplysirona.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>OpportunityClosedChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear @[{!$Record.Prospect__r.CreatedById}], the Opportunity for the Lead {!$Record.Account.Name} has moved into the stage {!$Record.StageName}</text>
    </textTemplates>
</Flow>
