src/flows/OpportunityPartners.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_owner</name>
        <label>Email to owner</label>
        <locationX>769</locationX>
        <locationY>552</locationY>
        <actionName>Opportunity.Global_Xsbu_Opportunity_Owner_information</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OppoId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendManualETMMail</name>
        <label>SendManualETMMail</label>
        <locationX>1468</locationX>
        <locationY>336</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Emai_addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_emails</name>
        <label>Assign_emails</label>
        <locationX>963</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>Emai_addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookupOpp.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookupRunningUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_manager_email</name>
        <label>Assign_manager_email</label>
        <locationX>1449</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>Emai_addresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>managerEmailAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendManualETMMail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Manager_exist</name>
        <label>Manager exist?</label>
        <locationX>1286</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>SendManualETMMail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>runningUser.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QFields.No_manager_email_at_assignament__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupManager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppOwner</name>
        <label>OppOwner</label>
        <locationX>584</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>DefauluserOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DealerETM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QFields.Owner_Of_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Based on Dealer ETM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Auto_assignment_owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdOwner_0</targetReference>
            </connector>
            <label>DealerETM</label>
        </rules>
        <rules>
            <name>AccETM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QFields.Owner_Of_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Based on Account ETM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Auto_assignment_owner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdOwner</targetReference>
            </connector>
            <label>AccETM</label>
        </rules>
        <rules>
            <name>ManualETM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QFields.Owner_Of_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Based on Manual assignment ETM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckManualOpp</targetReference>
            </connector>
            <label>ManualETM</label>
        </rules>
    </decisions>
    <decisions>
        <name>PartnerAssign</name>
        <label>PartnerAssign</label>
        <locationX>587</locationX>
        <locationY>137</locationY>
        <defaultConnector>
            <targetReference>OppOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Auto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QFields.Partner_Assignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhichOne</targetReference>
            </connector>
            <label>Auto</label>
        </rules>
    </decisions>
    <description>02/11/2018 -&gt; Roberto email to owner manager optional when manual assigment
04/07/2018 -&gt; Richard added email to owner in case of Manual assignment through ETM
22/05/2018 -&gt; Richard added checks regarding automatical assignment of owner</description>
    <formulas>
        <name>Label_EmailTitle</name>
        <dataType>String</dataType>
        <expression>{!$Label.x_sbu_Opportunity_Assigned}</expression>
    </formulas>
    <formulas>
        <name>Label_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Label.x_sbu_Opportunity_Assigned}</expression>
    </formulas>
    <formulas>
        <name>runningUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <interviewLabel>OpportunityPartners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OppOwner&amp;Partners</label>
    <loops>
        <name>DealersLoop</name>
        <label>DealersLoop</label>
        <locationX>318</locationX>
        <locationY>276</locationY>
        <assignNextValueToReference>OneDealer</assignNextValueToReference>
        <collectionReference>DealersList</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>PartnerUp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OppOwner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>PartnerUp</name>
        <label>PartnerUp</label>
        <locationX>314</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>DealersLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountToId</field>
            <value>
                <elementReference>OneDealer.Dealer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <elementReference>OneDealer.Default_dealer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OppoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Dealer</stringValue>
            </value>
        </inputAssignments>
        <object>Partner</object>
    </recordCreates>
    <recordLookups>
        <name>CheckManualOpp</name>
        <label>CheckManualOpp</label>
        <locationX>806</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppoId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>LookupOpp.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LookupOpp.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LookupOpp.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LookupOpp.Product_Line_Interested_In__c</assignToReference>
            <field>Product_Line_Interested_In__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupManager</name>
        <label>LookupManager</label>
        <locationX>1283</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_manager_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>runningUser.ManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>managerEmailAdd</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRunningUser</name>
        <label>LookupRunningUser</label>
        <locationX>1127</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manager_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>runningUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>runningUser.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>runningUser.ManagerId</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Qidlook</name>
        <label>Qidlook</label>
        <locationX>587</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PartnerAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Qid</elementReference>
            </value>
        </filters>
        <object>Questionnaire_Setup__c</object>
        <outputReference>QFields</outputReference>
        <queriedFields>Partner_Assignment__c</queriedFields>
        <queriedFields>Owner_Of_Opportunity__c</queriedFields>
        <queriedFields>Default_User__c</queriedFields>
        <queriedFields>No_manager_email_at_assignament__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WhichOne</name>
        <label>WhichOne</label>
        <locationX>316</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DealersLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Preferred_dealer_item__c</object>
        <outputReference>DealersList</outputReference>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Dealer__c</queriedFields>
        <queriedFields>Default_dealer__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>DefauluserOpp</name>
        <label>DefauluserOpp</label>
        <locationX>771</locationX>
        <locationY>438</locationY>
        <connector>
            <targetReference>Email_to_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assign_Owner_Automatically__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QFields.Default_User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Qidlook</startElementReference>
    <status>Active</status>
    <subflows>
        <name>UpdOwner</name>
        <label>UpdOwner</label>
        <locationX>804</locationX>
        <locationY>222</locationY>
        <flowName>NewProspect</flowName>
        <inputAssignments>
            <name>Acc2Id</name>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp2Id</name>
            <value>
                <elementReference>OppoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUser</name>
            <value>
                <elementReference>QFields.Default_User__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UpdOwner_0</name>
        <label>UpdOwner</label>
        <locationX>545</locationX>
        <locationY>447</locationY>
        <flowName>NewProspect</flowName>
        <inputAssignments>
            <name>Acc2Id</name>
            <value>
                <elementReference>OneDealer.Dealer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp2Id</name>
            <value>
                <elementReference>OppoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUser</name>
            <value>
                <elementReference>QFields.Default_User__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Label_EmailTitle}

Name: {!LookupOpp.Name}
Account Name: {!LookupOpp.Account.Name}
Product Line Interested In:{!LookupOpp.Product_Line_Interested_In__c}
Opportunity Link:   https://dentsplysirona.my.salesforce.com/{!OppoId}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Label_Subject}: {!LookupOpp.Account.Name}</text>
    </textTemplates>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Auto_assignment_owner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DealersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preferred_dealer_item__c</objectType>
    </variables>
    <variables>
        <name>DefaultUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Emai_addresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LookupOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>managerEmailAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OneDealer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preferred_dealer_item__c</objectType>
    </variables>
    <variables>
        <name>OppoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Questionnaire_Setup__c</objectType>
    </variables>
    <variables>
        <description>Questionnaire Id</description>
        <name>Qid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>runningUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
