src/flows/Order_Update_allowed_discount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_null_payment_type_discount</name>
        <label>Assign null payment type discount</label>
        <locationX>813</locationX>
        <locationY>99</locationY>
        <assignmentItems>
            <assignToReference>Order.Payment_type_discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_order_spec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Payment_type_added</name>
        <label>Payment type added?</label>
        <locationX>576</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Assign_null_payment_type_discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Payment_type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_payment_type_discount_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Order: Update allowed discount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order: Update allowed discount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_discount_model</name>
        <label>Find discount model</label>
        <locationX>231</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_rows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Pricebook2Id</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>Var_discount_model</assignToReference>
            <field>Discount_Model__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_payment_type_discount_2</name>
        <label>Find payment type discount</label>
        <locationX>667</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_order_spec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Discount_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_discount_model</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount_lever__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment type</stringValue>
            </value>
        </filters>
        <filters>
            <field>Equals__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Payment_type__c</elementReference>
            </value>
        </filters>
        <object>Discount_row__c</object>
        <outputAssignments>
            <assignToReference>Order.Payment_type_discount__c</assignToReference>
            <field>Allowed_discount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_rows</name>
        <label>Find rows</label>
        <locationX>403</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_type_added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Discount_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_discount_model</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount_lever__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revenue: materials</stringValue>
            </value>
        </filters>
        <filters>
            <field>Max__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Order.Order_amount_without_discounts__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Min__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Order.Order_amount_without_discounts__c</elementReference>
            </value>
        </filters>
        <object>Discount_row__c</object>
        <outputAssignments>
            <assignToReference>Order.Allowed_discount__c</assignToReference>
            <field>Allowed_discount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Order.Allowed_payment_terms_months__c</assignToReference>
            <field>Payment_terms_months__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_order</name>
        <label>Lookup order</label>
        <locationX>53</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_discount_model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_order</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order_amount_before_disc_globa__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>total_discount_on_the_order_c__c</queriedFields>
        <queriedFields>TotalAmount</queriedFields>
        <queriedFields>Payment_terms_months__c</queriedFields>
        <queriedFields>Payment_type__c</queriedFields>
        <queriedFields>Order_amount_without_discounts__c</queriedFields>
        <queriedFields>Order_Amount_global__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_order_spec</name>
        <label>Update order spec</label>
        <locationX>1075</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allowed_discount__c</field>
            <value>
                <elementReference>Order.Allowed_discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allowed_payment_terms_months__c</field>
            <value>
                <elementReference>Order.Allowed_payment_terms_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_type_discount__c</field>
            <value>
                <elementReference>Order.Payment_type_discount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Discount_payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Discount_row__c</objectType>
    </variables>
    <variables>
        <name>Discount_row</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Discount_row__c</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Pricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>Var_discount_model</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
