src/flows/OrderAddShippingAddress.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_To_Order</name>
        <label>Go To Order</label>
        <locationX>460</locationX>
        <locationY>651</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetOrderDetails.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_New_Shipping_Adress</name>
        <label>Assign New Shipping Adress</label>
        <locationX>1201</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>GetOrderDetails.ShippingAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectShippingAddress1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AddressesToSelect</name>
        <label>Addresses to Select</label>
        <locationX>973</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>Show_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoAddresses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoAddressesToSelect</targetReference>
            </connector>
            <label>NoAddresses</label>
        </rules>
        <rules>
            <name>AddressesToPick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowCurrentShippingAddress</targetReference>
            </connector>
            <label>AddressesToPick</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AddressesToChoose</name>
        <collectionReference>getAddresses</collectionReference>
        <dataType>String</dataType>
        <displayField>CombinedFieldsOrder__c</displayField>
        <object>Address__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaLabelOrderAddShippingAddressFlow</name>
        <dataType>String</dataType>
        <expression>{!$Label.OrderAddShippingAddressFlow}</expression>
    </formulas>
    <formulas>
        <name>FormulaNoAddressAvailable</name>
        <dataType>String</dataType>
        <expression>{!$Label.OrderAddShippingAddressFlowNoAddress}</expression>
    </formulas>
    <interviewLabel>Order: Add Shipping Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order: Add Shipping Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Source_Record_Details</name>
        <label>get Source Record Details</label>
        <locationX>969</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAddresses</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOrderDetails.SourceRecord__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Source_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAddresses</name>
        <label>getAddresses</label>
        <locationX>1042</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddressesToSelect</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOrderDetails.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Source_Record_Details.Customer_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompanyCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Source_Record_Details.Company_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stopped__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address__c</object>
        <sortField>CombinedFieldsOrder__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderDetails</name>
        <label>Get Order Details</label>
        <locationX>778</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Source_Record_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>753</locationX>
        <locationY>690</locationY>
        <connector>
            <targetReference>Go_To_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <inputReference>GetOrderDetails</inputReference>
    </recordUpdates>
    <screens>
        <name>NoAddressesToSelect</name>
        <label>NoAddressesToSelect</label>
        <locationX>880</locationX>
        <locationY>554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoAddress</name>
            <fieldText>&lt;p&gt;{!FormulaNoAddressAvailable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectShippingAddres1</name>
        <label>SelectShippingAddres1</label>
        <locationX>1200</locationX>
        <locationY>592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Shipping_Adress</targetReference>
        </connector>
        <fields>
            <name>SelectShippingAddress1</name>
            <choiceReferences>AddressesToChoose</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Shipping Address</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>472</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowCurrentShippingAddress</name>
        <label>Show Current Shipping Address</label>
        <locationX>1200</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectShippingAddres1</targetReference>
        </connector>
        <fields>
            <name>CurrentAddress</name>
            <fieldText>&lt;p&gt;{!formulaLabelOrderAddShippingAddressFlow}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!GetOrderDetails.ShippingAddress__r.CombinedFieldsOrder__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetOrderDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
