src/flows/Order_India.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_default_pricebooks</name>
        <label>Assign default pricebooks</label>
        <locationX>1200</locationX>
        <locationY>11</locationY>
        <assignmentItems>
            <assignToReference>No_of_default_pricebooks</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_used_in_loop_defaults.Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_default_pricebooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Scrub Contact value, so that Order is created without Contact.</description>
        <name>assignEmptyContact</name>
        <label>assignEmptyContact</label>
        <locationX>563</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>Var_contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_pricebooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_pricebooks_assign</name>
        <label>Count pricebooks assign</label>
        <locationX>767</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>No_of_pricebooks</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_used_in_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_pricebooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pricebook_null</name>
        <label>Pricebook null</label>
        <locationX>1514</locationX>
        <locationY>95</locationY>
        <assignmentItems>
            <assignToReference>PricebookID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_campaign</name>
        <label>Check campaign</label>
        <locationX>2024</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contains_campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_campaign</targetReference>
            </connector>
            <label>Contains campaign</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether `Contact.AccountId` Equals `AccountId`. If not, create Order without Contact.</description>
        <name>decisionContactAccountId</name>
        <label>decisionContactAccountId</label>
        <locationX>336</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>assignEmptyContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionContactAccountIdFalse</defaultConnectorLabel>
        <rules>
            <name>decisionContactAccountIdTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getContact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_pricebooks</targetReference>
            </connector>
            <label>decisionContactAccountIdTrue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if a Contact is passed as an input variable</description>
        <name>decisionVarContact</name>
        <label>decisionVarContact</label>
        <locationX>266</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>getContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>decisionVarContactEmptyFalse</defaultConnectorLabel>
        <rules>
            <name>decisionVarContactEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_pricebooks</targetReference>
            </connector>
            <label>decisionVarContactEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>National_admin_check</name>
        <label>National admin?</label>
        <locationX>1014</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Pricebook_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&quot;National Admin&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_default_pricebooks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_decision</name>
        <label>Pricebook decision</label>
        <locationX>1514</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>Pricebook_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Equal_to_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_of_pricebooks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_order</targetReference>
            </connector>
            <label>Equal to one</label>
        </rules>
    </decisions>
    <description>With pricebookID
200128 (kdoruibin@salesforce.com): Added check on `Contact.AccountId` Equals `AccountId`. This is needed due to the lookup filter on `Order.Contact__c` where Contact needs to have the same Account as the Order.</description>
    <formulas>
        <name>Pricebook_ID_calc</name>
        <dataType>String</dataType>
        <expression>LEFT({!Var_used_in_loop.Id}, 15)</expression>
    </formulas>
    <formulas>
        <name>User_ID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>User_type</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.User_Type__c})</expression>
    </formulas>
    <interviewLabel>Order_India {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Global order creation</label>
    <loops>
        <name>Count_default_pricebooks</name>
        <label>Count_default_pricebooks</label>
        <locationX>1188</locationX>
        <locationY>124</locationY>
        <assignNextValueToReference>Var_used_in_loop_defaults</assignNextValueToReference>
        <collectionReference>Default_pricebooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_default_pricebooks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pricebook_decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Count_pricebooks</name>
        <label>Count pricebooks</label>
        <locationX>663</locationX>
        <locationY>251</locationY>
        <assignNextValueToReference>Var_used_in_loop</assignNextValueToReference>
        <collectionReference>Pricebooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_pricebooks_assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>National_admin_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_order</name>
        <label>Create order</label>
        <locationX>1705</locationX>
        <locationY>251</locationY>
        <assignRecordIdToReference>Var_Order</assignRecordIdToReference>
        <connector>
            <targetReference>Update_pricebook</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_for_Sample_in_AX__c</field>
            <value>
                <elementReference>Var_sample_account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Var_contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Var_UserCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Var_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_of_Charge_Order__c</field>
            <value>
                <elementReference>Var_order_foc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Var_record_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <description>Get Contact record so that `Contact.Account` can be verified.</description>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>345</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionContactAccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_account</name>
        <label>Lookup account</label>
        <locationX>204</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionVarContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_account</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_default_pricebooks</name>
        <label>Lookup default pricebooks</label>
        <locationX>1030</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_default_pricebooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </filters>
        <object>Default_price_book__c</object>
        <outputReference>Default_pricebooks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Price_Book__c</queriedFields>
        <queriedFields>User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Pricebook_lookup</name>
        <label>Pricebook lookup</label>
        <locationX>50</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>Pricebooks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_campaign</name>
        <label>Update campaign</label>
        <locationX>2025</locationX>
        <locationY>129</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Order</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Var_Campaign</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_pricebook</name>
        <label>Update pricebook</label>
        <locationX>1868</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Check_campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Order</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PricebookID</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>66</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Pricebook_lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Default_pricebooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Default_price_book__c</objectType>
    </variables>
    <variables>
        <name>Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>No_of_default_pricebooks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>No_of_pricebooks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PricebookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pricebooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>SObject_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Var_account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Activity ID to store on order</description>
        <name>Var_activity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>INR</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_discount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_Distributor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_order_foc</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_preferred_dealer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_record_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_sample_account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_used_in_loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>Var_used_in_loop_defaults</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Default_price_book__c</objectType>
    </variables>
    <variables>
        <name>Var_UserCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
