src/flows/Product_Profiling_Create_Product_Profiling_from_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_product_profiling_record</name>
        <label>Add product profiling record</label>
        <locationX>1102</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ProductProfilingRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProfilingToAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_product_profiling_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_profiling</name>
        <label>Assign profiling</label>
        <locationX>834</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>ProfilingToAdd.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProfilingToAdd.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProfilingToAdd.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_product_profiling_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountProducts</name>
        <label>Count products</label>
        <locationX>714</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>prodLength</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ProductProfilingHierarchy.currentSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductProfilingRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyPPcollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProfilingToAdd</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductProfilingHierarchy.currentSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductProfilingBundleList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductProfilingHierarchy.currentSelectedRowWrapper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Products_assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Error_Message</name>
        <label>Get Error Message</label>
        <locationX>1180</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Error_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ContactDecision</name>
        <label>Contact?</label>
        <locationX>390</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Product_selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactRelated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Products_assigned</name>
        <label>Products assigned?</label>
        <locationX>795</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Product_selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductsToUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prodLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_product_profiling_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>V6 - Refreshing the PP Component instead of reloading the whole page upon the creation of PP records (TFD-000000349)
V5 - Adding Try Catch and display full error message (TFUS-000005889)</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountIdFormula</name>
        <dataType>String</dataType>
        <expression>IF({!ContactCheck}, {!Get_Contact.AccountId}, {!recordId})</expression>
    </formulas>
    <formulas>
        <name>ContactCheck</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!recordId}, &quot;003&quot;)</expression>
    </formulas>
    <interviewLabel>Product Profiling: Create Product Profiling from Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Profiling: Create Product Profiling from Contact</label>
    <loops>
        <name>Create_product_profiling_records</name>
        <label>Create product profiling records</label>
        <locationX>985</locationX>
        <locationY>331</locationY>
        <assignNextValueToReference>LoopProduct</assignNextValueToReference>
        <collectionReference>ProductProfilingHierarchy.currentSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_profiling</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_product_profiling_details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateProfilingRecords</name>
        <label>CreateProfilingRecords</label>
        <locationX>1453</locationX>
        <locationY>474</locationY>
        <faultConnector>
            <targetReference>Get_Error_Message</targetReference>
        </faultConnector>
        <inputReference>ProductProfilingRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>398</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Contact_Type__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assign_product_profiling_details</name>
        <label>Assign product profiling details</label>
        <locationX>1259</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateProfilingRecords</targetReference>
        </connector>
        <fields>
            <name>ProductProfilingHeader2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Create Product Profiling&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductProfilingDetails</name>
            <extensionName>c:ProductProfilingDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedProducts</name>
                <value>
                    <elementReference>ProductProfilingRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProductsWrapper</name>
                <value>
                    <elementReference>ProductProfilingBundleList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ProductProfilingRecords</assignToReference>
                <name>selectedProducts</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ProductProfilingBundleList</assignToReference>
                <name>selectedProductsWrapper</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>1106</locationX>
        <locationY>796</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Occurred</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>An unhandled fault has occurred in this flow</stringValue>
            </defaultValue>
            <fieldText>Error Occurred</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Display_Error_Message_Screen</name>
            <fieldText>&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_selection</name>
        <label>Product selection</label>
        <locationX>568</locationX>
        <locationY>342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CountProducts</targetReference>
        </connector>
        <fields>
            <name>ProductProfilingHeader1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Create Product Profiling&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductProfilingHierarchy</name>
            <extensionName>c:ProductProfilingHierarchy</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentSelectedRows</name>
                <value>
                    <elementReference>SelectedProducts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>6</locationX>
        <locationY>324</locationY>
        <connector>
            <targetReference>ContactDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmptyPPcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Profiling__c</objectType>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Non_ERP_Products__c</objectType>
    </variables>
    <variables>
        <name>prodLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProductProfilingBundleList</name>
        <apexClass>ProductProfilingBundle</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductProfilingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Profiling__c</objectType>
    </variables>
    <variables>
        <name>ProfilingToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Profiling__c</objectType>
    </variables>
    <variables>
        <name>ProfilingToLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Profiling__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Non_ERP_Products__c</objectType>
    </variables>
</Flow>
