src/flows/Product_After_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>AX047 Pricebook Entry Assignment for EURO currency</description>
        <name>AX047_EURO_Assignment</name>
        <label>AX047 EURO Assignment</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryEURO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Record assignment for GBP currency</description>
        <name>AX047_GBP_Assignment</name>
        <label>AX047 GBP Assignment</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryGBP.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryGBP.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryGBP.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryGBP.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryGBP.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryGBP.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryGBP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AX047_EURO_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AX091 Price book Entry variable assignment for CHF Assignment</description>
        <name>AX091_CHF_Assignment</name>
        <label>AX091 CHF Assignment</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryCHF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AX134 Price book entry assignment TWD</description>
        <name>AX134_TWD_Assignment</name>
        <label>AX134 TWD Assignment</label>
        <locationX>5330</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TWD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AX135 Price book Entry assignment for KRW currency</description>
        <name>AX135_KRW_Assignment</name>
        <label>AX135 KRW Assignment</label>
        <locationX>4802</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KRW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Price book Entry variable assignment for INR Currency</description>
        <name>AX140_INR_Assignment</name>
        <label>AX140 INR Assignment</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AX141 Price book Entry variable assignment for HKD Currency</description>
        <name>AX141_HKD_Assignment</name>
        <label>AX141 HKD Assignment</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HKD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>ASX143 Pricebook Entry Assignment for THB Currency</description>
        <name>AX143_THB_Assignment</name>
        <label>AX143 THB Assignment</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>THB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Pricebook Entry assignment for CHF Currency</description>
        <name>AX155_CHF_Assignment</name>
        <label>AX155 CHF Assignment</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCHF.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AX155_PLN_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AX 155 Variable assignment for EURO Currency</description>
        <name>AX155_EURO_Assignment</name>
        <label>AX155 EURO Assignment</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryEURO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AX155_CHF_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Variable assignment for PLN Currency</description>
        <name>AX155_PLN_Assignment</name>
        <label>AX155 PLN Assignment</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryPLN.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryPLN.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryPLN.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryPLN.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PLN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryPLN.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryPLN.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryPLN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Price book entry variable assignment for JPY assignment</description>
        <name>AX178_JPY_Assignment</name>
        <label>AX178 JPY Assignment</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JPY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AX181 Price book Entry assignment for SGD currency</description>
        <name>AX181_SGD_Assignment</name>
        <label>AX181 SGD Assignment</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SGD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AX394 and RUSSIRONA-MANUAL Pricebook Entry Assignment for RUB currency</description>
        <name>AX394_And_RUSSIRONA_RUB_Assignment</name>
        <label>AX394 And RUSSIRONA RUB Assignment</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RUB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AX467 Price book Entry variable assignment for VND currency</description>
        <name>AX467_VND_Assignment</name>
        <label>AX467 VND Assignment</label>
        <locationX>5594</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VND</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AX613 Pricebook Entry Assignment for AUD Currency</description>
        <name>AX613_AUD_Assignment</name>
        <label>AX613 AUD Assignment</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AUD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AX614 Price book variable assignemnt</description>
        <name>AX614_NZD_Assignment</name>
        <label>AX614 NZD Assignment</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NZD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Pricebook Entry assignment for BRL Currency</description>
        <name>BRL_Currency_Assignment</name>
        <label>BRL Currency Assignment</label>
        <locationX>5858</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BRL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>CAD Price book Entry for Standard Price book</description>
        <name>CAD_Price_book_Entry</name>
        <label>CAD Price book Entry</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryCAD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set EURO Pricebook Entry for Standard Price book</description>
        <name>EURO_Pricebook_Entry</name>
        <label>EURO Pricebook Entry</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryEURO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>M3EU Assignment for DKK currency</description>
        <name>M3EU_DKK_Assignment</name>
        <label>M3EU DKK Assignment</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryDKK.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryDKK.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryDKK.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryDKK.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DKK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryDKK.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryDKK.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryDKK</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>M3EU_NOK_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Value assignment for M3EU Pricebook Entry for EURO Currency</description>
        <name>M3EU_Euro_Assignment</name>
        <label>M3EU Euro Assignment</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryEURO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>M3EU_SEK_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>M3EU variable assignment for NOK currency</description>
        <name>M3EU_NOK_Assignment</name>
        <label>M3EU NOK Assignment</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryNOK.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryNOK.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryNOK.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryNOK.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NOK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryNOK.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryNOK.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryNOK</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to create the M3EU Price book Entry for the SEK currency</description>
        <name>M3EU_SEK_Assignment</name>
        <label>M3EU SEK Assignment</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntrySEK.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntrySEK.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntrySEK.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntrySEK.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SEK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntrySEK.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntrySEK.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntrySEK</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>M3EU_DKK_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>M3US variable assignment for CAD Currency</description>
        <name>M3US_CAD_Assignment</name>
        <label>M3US CAD Assignment</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryCAD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>M3US variable assignment for USD currency</description>
        <name>M3US_USD_Assignment</name>
        <label>M3US USD Assignment</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>M3US_CAD_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>RSA-MANUAL Price book Entry assignment for RSA Currency</description>
        <name>RSAMANUAL_ZAR_Assignment</name>
        <label>RSAMANUAL ZAR Assignment</label>
        <locationX>5066</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZAR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Price book entry variable assignment for CAD Currency</description>
        <name>SAP_Bensheim_CAD_Assignment</name>
        <label>SAP Bensheim CAD Assignment</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CAD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryCAD.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryCAD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Pricebook Entry assignment for EURO Currency</description>
        <name>SAP_Bensheim_EURO_Assignment</name>
        <label>SAP Bensheim EURO Assignment</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryEURO.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryEURO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SAP_Bensheim_USD_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Pricebook Entry variable assignment for USD Currency</description>
        <name>SAP_Bensheim_USD_Assignment</name>
        <label>SAP Bensheim USD Assignment</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SAP_Bensheim_CAD_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>TUR-MANUAL Pricebook Entry assignment for TRY Currency</description>
        <name>TURMANUAL_TRY_Assignment</name>
        <label>TURMANUAL TRY Assignment</label>
        <locationX>4538</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryToInsert.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>USD Pricebook Entry for Standard Price book</description>
        <name>USD_Pricebook_Entry</name>
        <label>USD Pricebook Entry</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntryUSD.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricebookEntriesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookEntryUSD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Category Product RecordTypeId</description>
        <name>CategoryProductRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0126M000000R5KXQA0</stringValue>
        </value>
    </constants>
    <constants>
        <description>Local SKU Record Type</description>
        <name>LocalSKURecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120J000000cmdJQAQ</stringValue>
        </value>
    </constants>
    <constants>
        <description>Standard Pricebook Id</description>
        <name>StandardPricebookId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s20000000DHebAAG</stringValue>
        </value>
    </constants>
    <decisions>
        <description>This Decision will check the DEP Unique Key field to create the correct Price book Entry</description>
        <name>Check_DEP_KEY</name>
        <label>Check DEP KEY</label>
        <locationX>3086</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Currency_EURO_only</name>
            <conditionLogic>1 AND 10 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_150</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_174</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_550</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_116</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_095</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_131</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>SAPH</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_511</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EURO_Pricebook_Entry</targetReference>
            </connector>
            <label>Currency EURO only</label>
        </rules>
        <rules>
            <name>Currency_USD_Only</name>
            <conditionLogic>1 AND 5 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_270</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_044</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_057</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>USD_Pricebook_Entry</targetReference>
            </connector>
            <label>Currency USD Only</label>
        </rules>
        <rules>
            <name>Currency_CAD_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_101</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAD_Price_book_Entry</targetReference>
            </connector>
            <label>Currency CAD Only</label>
        </rules>
        <rules>
            <name>M3EU_DEP_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>M3EU</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>M3EU_Euro_Assignment</targetReference>
            </connector>
            <label>M3EU DEP Code</label>
        </rules>
        <rules>
            <name>M3US_DEP_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>M3US</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>M3US_USD_Assignment</targetReference>
            </connector>
            <label>M3US DEP Code</label>
        </rules>
        <rules>
            <name>AX155_DEP_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_155</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX155_EURO_Assignment</targetReference>
            </connector>
            <label>AX155 DEP Code</label>
        </rules>
        <rules>
            <name>AX047_GBP_and_EUR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_047</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX047_GBP_Assignment</targetReference>
            </connector>
            <label>AX047 - GBP and EUR</label>
        </rules>
        <rules>
            <name>SAP_Bensheim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>SAPB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAP_Bensheim_EURO_Assignment</targetReference>
            </connector>
            <label>SAP Bensheim</label>
        </rules>
        <rules>
            <name>Currency_AUD_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_613</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX613_AUD_Assignment</targetReference>
            </connector>
            <label>Currency AUD Only</label>
        </rules>
        <rules>
            <name>Currency_NZD_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_614</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX614_NZD_Assignment</targetReference>
            </connector>
            <label>Currency NZD Only</label>
        </rules>
        <rules>
            <name>Currency_JPY_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_178</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX178_JPY_Assignment</targetReference>
            </connector>
            <label>Currency JPY Only</label>
        </rules>
        <rules>
            <name>Currency_INR_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_140</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX140_INR_Assignment</targetReference>
            </connector>
            <label>Currency INR Only</label>
        </rules>
        <rules>
            <name>Currency_CHF_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_091</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX091_CHF_Assignment</targetReference>
            </connector>
            <label>Currency CHF Only</label>
        </rules>
        <rules>
            <name>Currency_HKD_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_141</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX141_HKD_Assignment</targetReference>
            </connector>
            <label>Currency HKD Only</label>
        </rules>
        <rules>
            <name>Currency_RUB_Only</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_394</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>RUSSIRONA_MANUAL</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX394_And_RUSSIRONA_RUB_Assignment</targetReference>
            </connector>
            <label>Currency RUB Only</label>
        </rules>
        <rules>
            <name>Currency_SGD_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_181</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX181_SGD_Assignment</targetReference>
            </connector>
            <label>Currency SGD Only</label>
        </rules>
        <rules>
            <name>Currency_THB_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_143</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX143_THB_Assignment</targetReference>
            </connector>
            <label>Currency THB Only</label>
        </rules>
        <rules>
            <name>Currency_TRY_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>TUR_MANUAL</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TURMANUAL_TRY_Assignment</targetReference>
            </connector>
            <label>Currency TRY Only</label>
        </rules>
        <rules>
            <name>Currency_KRW_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_135</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX135_KRW_Assignment</targetReference>
            </connector>
            <label>Currency KRW Only</label>
        </rules>
        <rules>
            <name>Currency_ZAR_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>RSA_MANUAL</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RSAMANUAL_ZAR_Assignment</targetReference>
            </connector>
            <label>Currency ZAR Only</label>
        </rules>
        <rules>
            <name>Currency_TWD_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_134</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX134_TWD_Assignment</targetReference>
            </connector>
            <label>Currency TWD Only</label>
        </rules>
        <rules>
            <name>Currencly_VND_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LocalSKURecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DEPUniqueKey__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>AX_467</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AX467_VND_Assignment</targetReference>
            </connector>
            <label>Currencly VND Only</label>
        </rules>
        <rules>
            <name>Currency_BRL_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CategoryProductRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BRL_Currency_Assignment</targetReference>
            </connector>
            <label>Currency BRL Only</label>
        </rules>
    </decisions>
    <description>TFUS-000006248</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to check if the record is new</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Product: After Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product: After Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Action to insert</description>
        <name>Create_Price_Book_Entries</name>
        <label>Create Price Book Entries</label>
        <locationX>3086</locationX>
        <locationY>947</locationY>
        <inputReference>PricebookEntriesToInsert</inputReference>
    </recordCreates>
    <start>
        <locationX>2960</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_DEP_KEY</targetReference>
        </connector>
        <filterFormula>{!$Setup.GlobalBypassProcessesSettings__c.RunFlows__c}</filterFormula>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>AX_044 Dep Prefix</description>
        <name>AX_044</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_044</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_047 DEP Prefix</description>
        <name>AX_047</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_047</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_057 DEP Prefix</description>
        <name>AX_057</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_057</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_091 DEP Prefix</description>
        <name>AX_091</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_091</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_095 DEP Prefix</description>
        <name>AX_095</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_095</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_101 DEP Prefix</description>
        <name>AX_101</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_101</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_116 DEP Prefix</description>
        <name>AX_116</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_116</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_131 DEP Prefix</description>
        <name>AX_131</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_131</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_134 DEP Prefix</description>
        <name>AX_134</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_134</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_135 DEP Prefix</description>
        <name>AX_135</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_135</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_140 DEP Prefix</description>
        <name>AX_140</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_140</stringValue>
        </value>
    </variables>
    <variables>
        <name>AX_141</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_141</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_143 DEP Prefix</description>
        <name>AX_143</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_143</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_150 DEP Prefix</description>
        <name>AX_150</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_150</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_155 DEP Prefix</description>
        <name>AX_155</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_155</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_174 DEP Prefix</description>
        <name>AX_174</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_174</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_178 DEP Prefix</description>
        <name>AX_178</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_178</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_181 DEP Prefix</description>
        <name>AX_181</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_181</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_270 DEP Prefix</description>
        <name>AX_270</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_270</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_394 DEP Prefix</description>
        <name>AX_394</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_394</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_467 DEP Prefix</description>
        <name>AX_467</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_467</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_511 DEP Prefix</description>
        <name>AX_511</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_511</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_550 DEP prefix</description>
        <name>AX_550</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_550</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_613 DEP Prefix</description>
        <name>AX_613</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_613</stringValue>
        </value>
    </variables>
    <variables>
        <description>AX_614 DEP  Prefix</description>
        <name>AX_614</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AX_614</stringValue>
        </value>
    </variables>
    <variables>
        <description>M3EU DEP Prefix</description>
        <name>M3EU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>M3EU</stringValue>
        </value>
    </variables>
    <variables>
        <description>M3US DEP Prefix</description>
        <name>M3US</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>M3US</stringValue>
        </value>
    </variables>
    <variables>
        <name>PricebookEntriesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Pricebook Entry with CAD curency</description>
        <name>PricebookEntryCAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Pricebook Entry assignment for CHF currency</description>
        <name>PricebookEntryCHF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Pricebook Entry for DKK currency</description>
        <name>PricebookEntryDKK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Record to create Price book Entry for EURO Currency</description>
        <name>PricebookEntryEURO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Price book entry for GBP currency</description>
        <name>PricebookEntryGBP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>PricebookEntry for NOK currency</description>
        <name>PricebookEntryNOK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>PricebookEntry for PLN currency</description>
        <name>PricebookEntryPLN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Record variable for Pricebook Entry with SEK Currency</description>
        <name>PricebookEntrySEK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Generic Price book entry to insert in the Standard Price book</description>
        <name>PricebookEntryToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Pricebook Entry for USD currency</description>
        <name>PricebookEntryUSD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>RSA-MANUAL DEP Prefix</description>
        <name>RSA_MANUAL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RSA-MANUAL</stringValue>
        </value>
    </variables>
    <variables>
        <description>RUSSIRONA-MANUAL Dep Prefix</description>
        <name>RUSSIRONA_MANUAL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RUSSIRONA-MANUAL</stringValue>
        </value>
    </variables>
    <variables>
        <description>SAPB DEP Prefix</description>
        <name>SAPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SAPB</stringValue>
        </value>
    </variables>
    <variables>
        <description>SAPH DEP Prefix</description>
        <name>SAPH</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SAPH</stringValue>
        </value>
    </variables>
    <variables>
        <description>TUR-MANUAL DEP Prefix</description>
        <name>TUR_MANUAL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TUR-MANUAL</stringValue>
        </value>
    </variables>
</Flow>
