src/flows/SalesCloud_ScrFlow_to_Create_Case_From_Account_or_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>actNavToCase</name>
        <label>NavToCase</label>
        <locationX>314</locationX>
        <locationY>1718</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>scrOnError_actNavToCase</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Case.Id</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>asrSetCaseFields</name>
        <label>SetCaseFields</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Team Member Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01220000000AvOOAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SBU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrOnAccount_ProductGroupLine.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrOnAccount_ProductGroupLine.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>grAssignedQueue.AssignedQueue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrOnAccount_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scrOnAccount_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.FlowCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>crCreateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Users who will use this flow, must have the Service Cloud Permission Set  &quot;Light Service Cloud&quot; on their user record</description>
        <name>decAuthorizedUsr</name>
        <label>Authorized User?</label>
        <locationX>1062</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>scrBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decAuthorizedUsr_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.CreateCases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrInitialMessage</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>From which object the flow was initiated</description>
        <name>decStartingObject</name>
        <label>Starting Object</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>grAccountFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>decStartingObject_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grContactFields</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <description>+Hotfix for the default case type/category</description>
    <dynamicChoiceSets>
        <description>To display related contacts as picklist</description>
        <name>rcsContact_List</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varSelectContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>To decide which AccountId to use</description>
        <name>forAccountId</name>
        <dataType>String</dataType>
        <expression>If({!varObjectName}=&apos;Contact&apos;,{!grContactFields.AccountId},{!varRecordId})</expression>
    </formulas>
    <formulas>
        <description>To decide the Contact Id based on the case source</description>
        <name>forContactId</name>
        <dataType>String</dataType>
        <expression>If({!varObjectName}=&apos;Contact&apos;,{!varRecordId},{!varSelectContactId})</expression>
    </formulas>
    <interviewLabel>Sales Cloud: ScrFlow to Create Case From Account or Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Cloud: ScrFlow to Create Case From Account or Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>crCreateCase</name>
        <label>CreateCase</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>actNavToCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrOnError_crCreateCase</targetReference>
        </faultConnector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>grAccountFields</name>
        <label>GetAccountFields</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>grAssignedQueue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrOnError_grAccountFields</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the correct assigned queue based on the Account County, Product Group and Line</description>
        <name>grAssignedQueue</name>
        <label>GetAssignedQueue</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asrSetCaseFields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrOnError_grAssignedQueue</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 5) AND (3 OR 4)</filterLogic>
        <filters>
            <field>AccountCountry__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>grAccountFields.Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductGroup__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>scrOnAccount_ProductGroupLine.topValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductLine__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>scrOnAccount_ProductGroupLine.middleValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductLine__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductGroup__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceCloudAssignmentRules__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To bring some account fields from the Contact.AccountId</description>
        <name>grContactFields</name>
        <label>GetContactFields</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>grAccountFields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrOnError_grContactFields</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>The User fields pulled natively doesn&apos;t include Multiselect fields, so we have to do query it.</description>
        <name>grUserRecord</name>
        <label>User Record</label>
        <locationX>1062</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decAuthorizedUsr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>blank screen for users without access</description>
        <name>scrBlank</name>
        <label>scrBlank</label>
        <locationX>1810</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Initial Screen to guide the user through the process</description>
        <name>scrInitialMessage</name>
        <label>Initial Message</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrOnAccount</targetReference>
        </connector>
        <fields>
            <name>scrInitialMessage_Title</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>$Label.scrOnAccount_Title</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrInitialMessage_Info</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.scrInitialMessage_Info}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>To create Case from Account</description>
        <name>scrOnAccount</name>
        <label>On Account</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decStartingObject</targetReference>
        </connector>
        <fields>
            <name>scrOnAccountt_Title</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>$Label.scrOnAccount_Title</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrOnAccount_SelectContact</name>
            <choiceReferences>rcsContact_List</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.scrOnAccount_SelectContact}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varObjectName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Account</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrOnAccount_Subject</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.scrMainCaseFields_Subject}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrOnAccount_Description</name>
            <fieldText>{!$Label.scrMainCaseFields_Description}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrOnAccount_ProductGroupLine</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>SBU__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Product_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>scrOnAccount_ProductGroupLine.topValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>scrOnAccount_ProductGroupLine.middleValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows error message</description>
        <name>scrOnError_actNavToCase</name>
        <label>scrOnError_actNavToCase</label>
        <locationX>754</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>actNavToCase_scrOnError_Title</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>$Label.scrOnError_Title</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows error message</description>
        <name>scrOnError_crCreateCase</name>
        <label>scrOnError_crCreateCase</label>
        <locationX>1018</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>crCreateCase_scrOnError_Title</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>$Label.scrOnError_Title</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows error message</description>
        <name>scrOnError_grAccountFields</name>
        <label>scrOnError_grAccountFields</label>
        <locationX>1546</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>grAccountFields_scrOnError_Title</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>$Label.scrOnError_Title</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows error message</description>
        <name>scrOnError_grAssignedQueue</name>
        <label>scrOnError_grAssignedQueue</label>
        <locationX>1282</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>grAssignedQueue_scrOnError_Title</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>$Label.scrOnError_Title</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows error message</description>
        <name>scrOnError_grContactFields</name>
        <label>scrOnError_grContactFields</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scrOnError_Title</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>$Label.scrOnError_Title</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>936</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>grUserRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>External variable that pass the object name</description>
        <name>varObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>External variable that will pass the recordid where the flow started</description>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store ContactId value</description>
        <name>varSelectContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
