src/flows/ServiceCloud_CreateCase_ver2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavToCase</name>
        <label>NavToCase</label>
        <locationX>3989</locationX>
        <locationY>369</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Case.Id</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NavToChat</name>
        <label>NavToChat</label>
        <locationX>4185</locationX>
        <locationY>765</locationY>
        <actionName>c:ServiceCloud_Nav2SObj</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_case_basics</name>
        <label>Assign case basics</label>
        <locationX>1447</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Describe_case_stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Calculated_case_contactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01220000000AvOOAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_calculated_AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.User_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.User_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Complaint_Category__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Subject</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Description</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SBU__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Product_Line__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Order_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Credit_Order_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Original_Order_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Rebill_Order_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Complaint_Reason2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.CaseType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Area_Sales_Director__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Rep__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Manager__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Source_Record__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Exchange_Order_Value__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Exchange_Order_Ship_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Digital_Product__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Support_Keyword__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Source_Record_Info__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Credit_Order_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Approval_Routing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Invoice_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AddressCombinedFields__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Address__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.FlowCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AssetId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ResponsibleFunction__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Complaint__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Article_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Tracking_number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Case_description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_case_origin</name>
        <label>Assign case origin</label>
        <locationX>1445</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>CaseOrigin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Live Chat</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_case_basics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_credit_rebill_info</name>
        <label>Assign credit/rebill info</label>
        <locationX>2629</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>Case.Credit_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_order_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Original_Order_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Rebill_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rebill_order_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Credit_Order_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Order_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Approvers_only_for_US_CA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Describe_Step</name>
        <label>Assign Describe Step</label>
        <locationX>1663</locationX>
        <locationY>955</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Describe_case_stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.User_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.User_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.FlowCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseOrigin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Origin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_description</name>
        <label>Assign description</label>
        <locationX>1663</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_info_stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ResponsibleFunction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponsibleFunctionField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complaint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Call_Resolution</name>
        <label>Assign First_Call_Resolution</label>
        <locationX>3611</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>Case.First_call_resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Call_Resolution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_next_step_stage</name>
        <label>Assign next step stage</label>
        <locationX>2073</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseOrignValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forPriority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_Productlines_OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Invoice_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_Productlines_InvoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Tracking_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_Productlines_TrackingNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Article_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scr_ProductLine_ArticleNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Config_Attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_type</name>
        <label>Assign record type</label>
        <locationX>1021</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Whos_calling_stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_return_info</name>
        <label>Assign return info</label>
        <locationX>2485</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Authorized</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Exchange_Order_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exchange_Order_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Exchange_Order_Ship_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exchange_Order_Ship_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Number_Exchange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Approvers_only_for_US_CA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_service_complaint_info</name>
        <label>Assign service complaint info</label>
        <locationX>2378</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNextStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNextStep</name>
        <label>AssignNextStep</label>
        <locationX>2927</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_step_stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TF_NewOwnerEmail</name>
        <label>TF_NewOwnerEmail</label>
        <locationX>3440</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>Case.TF_NewOwnerNotification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SendNotification</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_update_case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assign_case_sel</name>
        <choiceText>Assign Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign_case_sel</stringValue>
        </value>
    </choices>
    <choices>
        <name>CaseOrigin_DirectCustomerEmail</name>
        <choiceText>Direct Customer Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Customer Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>CaseOrigin_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>CaseOrigin_Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>CaseOrigin_TeamMemberEmail</name>
        <choiceText>Team Member Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Team Member Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Close_case_sel</name>
        <choiceText>Close Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close_case_sel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complaint_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complaint_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_case_sel</name>
        <choiceText>Create or Update Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create_case_sel</stringValue>
        </value>
    </choices>
    <choices>
        <name>CurrentAddress</name>
        <choiceText>{!Case.AddressCombinedFields__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Case.Address__c</elementReference>
        </value>
    </choices>
    <choices>
        <description>When you edit an existing case this will retain the current value for the source record on that case</description>
        <name>CurrentSourceRecordValue</name>
        <choiceText>{!Case.Source_Record_Info__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Case.Source_Record__c</elementReference>
        </value>
    </choices>
    <choices>
        <description>Case.Priority picklist value</description>
        <name>Priority_CustomerCritical</name>
        <choiceText>Customer Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Critical</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case.Priority picklist value</description>
        <name>Priority_Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case.Priority picklist value</description>
        <name>Priority_Normal</name>
        <choiceText>Normal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_case_type</name>
        <label>Check case type</label>
        <locationX>2364</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>Assign_service_complaint_info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.CaseType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Complaint_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Exchange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flow_Config_Attributes.ReturnProcess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_return_info</targetReference>
            </connector>
            <label>Return-return</label>
        </rules>
        <rules>
            <name>Credit_rebill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.CaseType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit/rebill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flow_Config_Attributes.CreditProcess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_rebill_screen</targetReference>
            </connector>
            <label>Credit/rebill</label>
        </rules>
        <rules>
            <name>Return_Exchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.CaseType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Complaint_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exchange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flow_Config_Attributes.ReturnProcess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exchange_Initial_Fields</targetReference>
            </connector>
            <label>Return-Exchange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_or_account</name>
        <label>Launch from object?</label>
        <locationX>855</locationX>
        <locationY>586</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_recordIDPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_contact_account</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_recordIDPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_type</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Transcript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_recordIDPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transcript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_transcript</targetReference>
            </connector>
            <label>Transcript</label>
        </rules>
        <rules>
            <name>Case_obj</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_recordIDPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_existing_case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_update_case</name>
        <label>Create or update case?</label>
        <locationX>3603</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Create_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_recordIDPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_existing_case</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check if the country needs approvers to be set manually</description>
        <name>Display_Approvers_only_for_US_CA</name>
        <label>Display Approvers only for US/CA</label>
        <locationX>2744</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Get_Approvers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Manual_Approvers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Config_Attributes.ManualApprovalSelection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNextStep</targetReference>
            </connector>
            <label>No Manual Approvers</label>
        </rules>
    </decisions>
    <decisions>
        <description>To prevent non service cloud users from using the flow/quickactions</description>
        <name>DoesTheUserHaveTheRightPermissions</name>
        <label>DoesTheUserHaveTheRightPermissions</label>
        <locationX>638</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>No_Access_to_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasThePermissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunningUser.UserPermissionsSupportUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_or_account</targetReference>
            </connector>
            <label>HasThePermissions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_step_action</name>
        <label>Next step action</label>
        <locationX>3370</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Create_or_update_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Close_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Close_case_sel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_case</targetReference>
            </connector>
            <label>Close case</label>
        </rules>
        <rules>
            <name>Assign_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_step_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_case_sel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_case_screen_0</targetReference>
            </connector>
            <label>Assign case</label>
        </rules>
    </decisions>
    <decisions>
        <description>- Check if the case has the correct record type 
- limited to DE users, they can&apos;t edit a case unless they assign the case to themselves first.</description>
        <name>Second_Security_Check</name>
        <label>Second Security Check</label>
        <locationX>1187</locationX>
        <locationY>957</locationY>
        <defaultConnector>
            <targetReference>Assign_Describe_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_I_own_it</name>
            <conditionLogic>1 AND 2 AND 5 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>RunningUser.User_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RunningUser.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accept_Case2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accept_Case2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CanEditWithoutOwning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_Case</targetReference>
            </connector>
            <label>Do I own it?</label>
        </rules>
        <rules>
            <name>Incorrect_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01220000000AvOOAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordType_Error</targetReference>
            </connector>
            <label>Incorrect RecordType</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transcript_check</name>
        <label>Transcript check</label>
        <locationX>3982</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>NavToCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>updateTranscript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_recordIDPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transcript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTranscriptWithCase</targetReference>
            </connector>
            <label>Transcript</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_category_reason</name>
        <label>Validate category &amp; reason</label>
        <locationX>1658</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Assign_description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Missing_Case_Type_Category</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 6) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Case.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Azento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATL Suprastructures</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Simplant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SureSmile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Digital_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primesolution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignReason</targetReference>
            </connector>
            <label>Missing Case Type &amp; Category &amp; Digital Product</label>
        </rules>
    </decisions>
    <description>TFUS-000004872 + TFUS-000004847</description>
    <dynamicChoiceSets>
        <name>Addresses</name>
        <dataType>String</dataType>
        <displayField>CombinedFields__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_calculated_AccountID</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputAssignments>
            <assignToReference>Case.Address__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>PracticeId__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Query the assets related to the Account</description>
        <name>AssetsList</name>
        <dataType>String</dataType>
        <displayField>CombinedFields__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.AccountId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FirstCallResolutionPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>First_call_resolution__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Picklist values for Case priority</description>
        <name>PriorityList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResponsibleFunction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ResponsibleFunction__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceRecords</name>
        <dataType>String</dataType>
        <displayField>Combined_Fields__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CIM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Source_Record__c</object>
        <outputAssignments>
            <assignToReference>Case.Source_Record__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceRecordsSureSmile</name>
        <dataType>String</dataType>
        <displayField>CombinedFieldsSureSmile__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CIM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PracticeSiteId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Source_Record__c</object>
        <outputAssignments>
            <assignToReference>Case.Source_Record__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Assign case to yourself to start editing the case.</description>
        <name>AcceptCase</name>
        <dataType>String</dataType>
        <expression>{!$Label.Assign_Case}</expression>
    </formulas>
    <formulas>
        <name>Article_number</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_article_number}) = true, &quot;&quot;, BR() &amp; &quot;Article number: &quot; &amp; {!var_article_number})</expression>
    </formulas>
    <formulas>
        <name>Assign_to_script</name>
        <dataType>String</dataType>
        <expression>{!$Label.Assign_to_script}</expression>
    </formulas>
    <formulas>
        <name>CanEditWithoutOwning</name>
        <dataType>Boolean</dataType>
        <expression>Includes({!RunningUser.Service_Cloud_Special_Permissions__c},&quot;Edit Case as Manager&quot;)</expression>
    </formulas>
    <formulas>
        <name>Case_subject</name>
        <dataType>String</dataType>
        <expression>
			IF({!Subject} == &apos;&apos;,
			TEXT({!Case.CaseType__c}) +If(TEXT({!Case.Complaint_Reason2__c})!=&apos;&apos;, &apos; : &apos; + TEXT({!Case.Complaint_Reason2__c}),&apos;&apos;),
			{!Subject})</expression>
    </formulas>
    <formulas>
        <name>CaseOrignValue</name>
        <dataType>String</dataType>
        <expression>IF({!CaseOriginPL2}=&apos;&apos;,{!CaseOrigin},{!CaseOriginPL2})</expression>
    </formulas>
    <formulas>
        <name>Formula_calculated_AccountID</name>
        <dataType>String</dataType>
        <expression>Case ({!formula_recordIDPrefix},&apos;Transcript&apos;,{!varTranscript.AccountId},&apos;Contact&apos;,{!Contacts.AccountId},&apos;Case&apos;,{!Case.AccountId},{!recordId})</expression>
    </formulas>
    <formulas>
        <name>Formula_Calculated_case_contactID</name>
        <dataType>String</dataType>
        <expression>
			IF({!var_selected_contactId} !=null,
			{!var_selected_contactId},
			IF({!varTranscript.ContactId} != null,
			{!varTranscript.ContactId},
			IF({!formula_recordIDPrefix}=&apos;Account&apos;,
			null,
			{!recordId})))</expression>
    </formulas>
    <formulas>
        <name>formula_recordIDPrefix</name>
        <dataType>String</dataType>
        <expression>			IF(LEFT({!recordId},3) = &apos;001&apos;,
			&apos;Account&apos;,
			IF(LEFT({!recordId},3) = &apos;003&apos;,
			&apos;Contact&apos;,
			IF(LEFT({!recordId},3) = &apos;570&apos;,
			&apos;Transcript&apos;,
			IF(LEFT({!recordId},3) = &apos;500&apos;,
			&apos;Case&apos;,
			null))))</expression>
    </formulas>
    <formulas>
        <name>forPriority</name>
        <dataType>String</dataType>
        <expression>If ({!Case_Priority}=&apos;&apos;,{!GetSLAPriority.Priority__c},{!Case_Priority})</expression>
    </formulas>
    <formulas>
        <name>Next_step_script</name>
        <dataType>String</dataType>
        <expression>{!$Label.Next_step_script}</expression>
    </formulas>
    <formulas>
        <name>Script1_label</name>
        <dataType>String</dataType>
        <expression>{!$Label.Customer_help}</expression>
    </formulas>
    <formulas>
        <name>Send_survey_label</name>
        <dataType>String</dataType>
        <expression>{!$Label.Send_survey_label}</expression>
    </formulas>
    <formulas>
        <description>To determine if we should request address or source record for SureSmile cases</description>
        <name>SourceRecordOrAddress</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!getAccount.Country__c}),&quot;US&quot;,&quot;Source&quot;,&quot;CA&quot;,&quot;Source&quot;,&quot;AU&quot;,&quot;Source&quot;,&quot;NZ&quot;,&quot;Source&quot;,&quot;HK&quot;,&quot;Source&quot;,&quot;ID&quot;,&quot;Source&quot;,&quot;SG&quot;,&quot;Source&quot;,&quot;TH&quot;,&quot;Source&quot;,&quot;Address&quot;)</expression>
    </formulas>
    <formulas>
        <name>Survey_script</name>
        <dataType>String</dataType>
        <expression>{!$Label.Send_survey_script}</expression>
    </formulas>
    <formulas>
        <name>Welcome_script_label</name>
        <dataType>String</dataType>
        <expression>{!$Label.Welcome_script}</expression>
    </formulas>
    <interviewLabel>Case: Create Case ver2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Create Case ver2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_case</name>
        <label>Create case</label>
        <locationX>3610</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Transcript_check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errorscreen4</targetReference>
        </faultConnector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_for_contact_account</name>
        <label>Check for related account</label>
        <locationX>1234</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_case_basics</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errorscreen4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contacts</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Contact_s_Account_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Flow_Config_Attributes</name>
        <label>Flow Config Attributes</label>
        <locationX>2230</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_case_type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_service_complaint_info</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountCountry__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getAccount.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceCloudCaseFlowConfig__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the Associated Account record</description>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>1878</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_line_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errorscreen4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_calculated_AccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Update case with the relevant priority based on SLA definitions</description>
        <name>GetSLAPriority</name>
        <label>GetSLAPriority</label>
        <locationX>2075</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_next_step_stage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errorscreen4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.CaseType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Complaint_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Complaint_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getAccount.Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBU__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Case.SBU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceCloudSLAPriorityMapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_existing_case</name>
        <label>Lookup existing case</label>
        <locationX>861</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Second_Security_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errorscreen4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Approval_Routing__c</queriedFields>
        <queriedFields>Area_Sales_Director__c</queriedFields>
        <queriedFields>Article_Number__c</queriedFields>
        <queriedFields>Case_Definition__c</queriedFields>
        <queriedFields>Case_Initiated_By__c</queriedFields>
        <queriedFields>Case_Stage__c</queriedFields>
        <queriedFields>Case_Subtype__c</queriedFields>
        <queriedFields>Complaint_Category__c</queriedFields>
        <queriedFields>Complaint_Reason2__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Credit_Order_Amount__c</queriedFields>
        <queriedFields>Credit_Order_Number__c</queriedFields>
        <queriedFields>Credit_Order_Total__c</queriedFields>
        <queriedFields>Denial_Order_Tracking_Number__c</queriedFields>
        <queriedFields>Denial_Ship_Date__c</queriedFields>
        <queriedFields>Digital_Product__c</queriedFields>
        <queriedFields>Exchange_Order_Ship_Date__c</queriedFields>
        <queriedFields>Exchange_Order_Value__c</queriedFields>
        <queriedFields>First_call_resolution__c</queriedFields>
        <queriedFields>Invoice_Number__c</queriedFields>
        <queriedFields>Last_CSat__c</queriedFields>
        <queriedFields>Last_Csat_Value__c</queriedFields>
        <queriedFields>Last_NPS__c</queriedFields>
        <queriedFields>Last_Survey_Update__c</queriedFields>
        <queriedFields>Lot_Number__c</queriedFields>
        <queriedFields>Manager__c</queriedFields>
        <queriedFields>Objects_missing__c</queriedFields>
        <queriedFields>Order_Details__c</queriedFields>
        <queriedFields>Order_Origin__c</queriedFields>
        <queriedFields>Order_Number__c</queriedFields>
        <queriedFields>Order_System__c</queriedFields>
        <queriedFields>Original_Order_Date__c</queriedFields>
        <queriedFields>PO_Number__c</queriedFields>
        <queriedFields>Previous_Case_Owner__c</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>Queue_assigned__c</queriedFields>
        <queriedFields>Rebill_Order_Amount__c</queriedFields>
        <queriedFields>Rep__c</queriedFields>
        <queriedFields>Return_Tracking_Number__c</queriedFields>
        <queriedFields>Returned_Product_Received_Date__c</queriedFields>
        <queriedFields>SBU__c</queriedFields>
        <queriedFields>Send_Survey__c</queriedFields>
        <queriedFields>Tracking_number__c</queriedFields>
        <queriedFields>TrackWise_ID__c</queriedFields>
        <queriedFields>User_Country__c</queriedFields>
        <queriedFields>Transaction_Type__c</queriedFields>
        <queriedFields>Account_Country__c</queriedFields>
        <queriedFields>CaseType__c</queriedFields>
        <queriedFields>Rebill_Order_Number__c</queriedFields>
        <queriedFields>Support_Keyword__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Source_Record_Info__c</queriedFields>
        <queriedFields>Source_Record__c</queriedFields>
        <queriedFields>AddressCombinedFields__c</queriedFields>
        <queriedFields>Address__c</queriedFields>
        <queriedFields>FlowCase__c</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>ResponsibleFunction__c</queriedFields>
        <queriedFields>Complaint__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_transcript</name>
        <label>Lookup transcript</label>
        <locationX>1028</locationX>
        <locationY>781</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_case_origin</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errorscreen4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputReference>varTranscript</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>Auto_Matched__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>The standard $User resources doesn&apos;t support UserPermissionsSupportUser therefore we use GET</description>
        <name>WhoIsRunningTheFlow</name>
        <label>WhoIsRunningTheFlow</label>
        <locationX>449</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesTheUserHaveTheRightPermissions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Access_to_Flow</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>RunningUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>User_Country__c</queriedFields>
        <queriedFields>Service_Cloud_Special_Permissions__c</queriedFields>
        <queriedFields>UserPermissionsInteractionUser</queriedFields>
        <queriedFields>UserPermissionsSupportUser</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_case</name>
        <label>Update existing case</label>
        <locationX>3788</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>NavToCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errorscreen4</targetReference>
        </faultConnector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTranscriptWithCase</name>
        <label>UpdateTranscriptWithCase</label>
        <locationX>3988</locationX>
        <locationY>765</locationY>
        <connector>
            <targetReference>NavToChat</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Errorscreen4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_assigned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <screens>
        <name>Accept_Case</name>
        <label>Accept Case</label>
        <locationX>1061</locationX>
        <locationY>1177</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Second_Security_Check</targetReference>
        </connector>
        <fields>
            <name>Script3A</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <elementReference>AcceptCase</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Accept_Case2</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, assign the case to me.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Assign_case_screen_0</name>
        <label>Assign case</label>
        <locationX>3380</locationX>
        <locationY>492</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TF_NewOwnerEmail</targetReference>
        </connector>
        <fields>
            <name>Stage11_0</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assignto_script_comp_0</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <elementReference>Assign_to_script</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contacts.Description</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Assign_to_PL_0</name>
            <extensionName>c:ServioceCloud_DependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>User_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>depField</name>
                <value>
                    <stringValue>Assign_To__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Case.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultVal</name>
                <value>
                    <elementReference>$User.User_Country__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field2req</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1req</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field3req</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field4req</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled2</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled3</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled4</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Assign_To__c</assignToReference>
                <name>depresId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Select_assigned</name>
            <extensionName>flowcomponents:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Full_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select ownership manually</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.OwnerId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SendNotification</name>
            <dataType>Boolean</dataType>
            <fieldText>Send Email Notification</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Assign_contact</name>
        <label>Assign contact</label>
        <locationX>1447</locationX>
        <locationY>364</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_case_basics</targetReference>
        </connector>
        <fields>
            <name>Stage_indicator1</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Script1</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <elementReference>Welcome_script_label</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contacts.Description</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scrAssignContact_PickContact</name>
            <extensionName>c:flow_recordVisualPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>visibleRows</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <stringValue>SELECT Id, Full_Name__c, FirstName, LastName, Email, Title  FROM Contact WHERE AccountId =: recordId AND Primary_Contact__c = false ORDER BY Full_Name__c ASC NULLS LAST</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>JSONInput</name>
                <value>
                    <stringValue>Salutation,FirstName,LastName,Email,Mobile,Phone,Profession__c,Preferred_Language__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Formula_calculated_AccountID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldOne</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subFieldTwo</name>
                <value>
                    <stringValue>Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleField</name>
                <value>
                    <stringValue>Full_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredCreateFields</name>
                <value>
                    <stringValue>FirstName,LastName,Profession__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_selected_contactId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AssignReason</name>
        <label>AssignReason</label>
        <locationX>1889</locationX>
        <locationY>356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AssignReasonScript</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Missing Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_spam</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AddCaseType</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Case Type and Category are required, also Digital Product is required for few Product Lines. please click the &quot;Previous&quot; button and populate them.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_description</name>
        <label>Describe</label>
        <locationX>1665</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_category_reason</targetReference>
        </connector>
        <fields>
            <name>ProgressIndicator_Step3</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Script3</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <elementReference>Script1_label</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!Case.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_description_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_description_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewCaseClassfication</name>
                    <extensionName>c:ServioceCloud_DependentPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objType</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldN</name>
                        <value>
                            <stringValue>CaseType__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>depField</name>
                        <value>
                            <stringValue>Complaint_Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>depField2</name>
                        <value>
                            <stringValue>Complaint_Reason2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field1req</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field3req</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Case.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultVal</name>
                        <value>
                            <elementReference>Case.CaseType__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultDepValue</name>
                        <value>
                            <elementReference>Case.Complaint_Category__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultSecondDepValue</name>
                        <value>
                            <elementReference>Case.Complaint_Reason2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldDisabled2</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldDisabled3</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field2req</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Case.Complaint_Category__c</assignToReference>
                        <name>depresId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.CaseType__c</assignToReference>
                        <name>resId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.Complaint_Reason2__c</assignToReference>
                        <name>depresId2</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.Complaint_Category__c</assignToReference>
                        <name>defaultDepValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.CaseType__c</assignToReference>
                        <name>defaultVal</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.Complaint_Reason2__c</assignToReference>
                        <name>defaultSecondDepValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Complaint</name>
                    <choiceReferences>Complaint_No</choiceReferences>
                    <choiceReferences>Complaint_Yes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Case.Complaint__c</elementReference>
                    </defaultValue>
                    <fieldText>Complaint?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_description_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SBUProductDigitalKeyword</name>
                    <extensionName>c:ServioceCloud_DependentPicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultDepValue</name>
                        <value>
                            <elementReference>Case.Product_Line__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultVal</name>
                        <value>
                            <elementReference>Case.SBU__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultSecondDepValue</name>
                        <value>
                            <elementReference>Case.Digital_Product__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultThirdDepValue</name>
                        <value>
                            <elementReference>Case.Support_Keyword__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>depField</name>
                        <value>
                            <stringValue>Product_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field2req</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldN</name>
                        <value>
                            <stringValue>SBU__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field1req</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objType</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Case.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>depField2</name>
                        <value>
                            <stringValue>Digital_Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field3req</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>depField3</name>
                        <value>
                            <stringValue>Support_Keyword__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>field4req</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldDisabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldDisabled3</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldDisabled2</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldDisabled4</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Case.Product_Line__c</assignToReference>
                        <name>defaultDepValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.SBU__c</assignToReference>
                        <name>defaultVal</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.Digital_Product__c</assignToReference>
                        <name>defaultSecondDepValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.Support_Keyword__c</assignToReference>
                        <name>defaultThirdDepValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.Product_Line__c</assignToReference>
                        <name>depresId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.SBU__c</assignToReference>
                        <name>resId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.Digital_Product__c</assignToReference>
                        <name>depresId2</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Case.Support_Keyword__c</assignToReference>
                        <name>depresId3</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Asset</name>
                    <choiceReferences>AssetsList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Case.AssetId</elementReference>
                    </defaultValue>
                    <fieldText>Asset</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Case.SBU__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CDCM</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Case.SBU__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TRCE</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Case.SBU__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>INST</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Case.SBU__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>IMAG</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ResponsibleFunctionField</name>
                    <choiceReferences>ResponsibleFunction</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Case.ResponsibleFunction__c</elementReference>
                    </defaultValue>
                    <fieldText>Responsible Function</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_rebill_screen</name>
        <label>Credit rebill screen</label>
        <locationX>2625</locationX>
        <locationY>546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_credit_rebill_info</targetReference>
        </connector>
        <fields>
            <name>Stage_CreditRebill</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Script_CreditRebill</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please add the credit &amp; rebill information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Script_output</assignToReference>
                <name>scriptText</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Order_number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Order_Number__c</elementReference>
            </defaultValue>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Order_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Case.Original_Order_Date__c</elementReference>
            </defaultValue>
            <fieldText>Order Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Credit_order_number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Credit_Order_Number__c</elementReference>
            </defaultValue>
            <fieldText>Credit Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rebill_order_number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Rebill_Order_Number__c</elementReference>
            </defaultValue>
            <fieldText>Rebill Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Credit_Order_Amount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Case.Credit_Order_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Credit Order Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ShowAccountCurrencyIsoCode</name>
            <fieldText>&lt;p&gt;Currency: {!getAccount.CurrencyIsoCode}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovalRoutingDep</name>
            <extensionName>c:ServioceCloud_DependentPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultVal</name>
                <value>
                    <elementReference>$User.User_Country__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>depField</name>
                <value>
                    <stringValue>Approval_Routing__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldN</name>
                <value>
                    <stringValue>User_Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Case.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field1req</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultDepValue</name>
                <value>
                    <elementReference>Case.Approval_Routing__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field3req</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field4req</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled2</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field2req</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled3</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldDisabled4</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Approval_Routing__c</assignToReference>
                <name>depresId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_case</name>
        <label>End case</label>
        <locationX>3376</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_First_Call_Resolution</targetReference>
        </connector>
        <fields>
            <name>Stage10</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Script10</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <elementReference>Survey_script</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contacts.Description</assignToReference>
                <name>callscript</name>
            </outputParameters>
        </fields>
        <fields>
            <name>First_Call_Resolution</name>
            <choiceReferences>FirstCallResolutionPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>First Call Resolution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InternalComment</name>
            <fieldText>Internal Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Send_survey_toggle</name>
            <extensionName>c:ServiceCloud_FlowToggleComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>toggle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Send_survey_label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultToggle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Send_Survey__c</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Errorscreen4</name>
        <label>Errorscreen4</label>
        <locationX>3716</locationX>
        <locationY>1063</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorscript3</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Something went wrong! This might be due to lack of permission, a required field is not populated, or invalid value. Please click on Previous button (if available) and see if you can fix it, meanwhile the error was sent to the admin. </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>error5</name>
            <defaultValue>
                <stringValue>{!$Flow.FaultMessage}</stringValue>
            </defaultValue>
            <fieldText>This error message is technical, but it might give you a hint what went wrong</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exchange_Initial_Fields</name>
        <label>Exchange Initial Fields</label>
        <locationX>2262</locationX>
        <locationY>794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_return_info</targetReference>
        </connector>
        <fields>
            <name>Exchangestage</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Exchange</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Please add more information about the exchange order</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_Number_Exchange</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Order_Number__c</elementReference>
            </defaultValue>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Exchange_Order_Ship_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Case.Exchange_Order_Ship_Date__c</elementReference>
            </defaultValue>
            <fieldText>Exchange Order Ship Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Exchange_Order_Value</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Case.Exchange_Order_Value__c</elementReference>
            </defaultValue>
            <fieldText>Exchange Order Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Account_Currency</name>
            <fieldText>&lt;p&gt;Currency: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!getAccount.CurrencyIsoCode}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Approvers</name>
        <label>Get Approvers</label>
        <locationX>3112</locationX>
        <locationY>786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignNextStep</targetReference>
        </connector>
        <fields>
            <name>ApprovalStage</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AssignApprovers</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>We could&apos;t assign the approvers automatically, please add them manually</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Script_output</assignToReference>
                <name>scriptText</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SelectRep</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Rep__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Sales Rep</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Rep__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Rep__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Flow_Config_Attributes.SalesRepApproval__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectManager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Manager__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Manager__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Flow_Config_Attributes.ManagerApproval__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AreaManager</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Area_Sales_Director__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Sales Area Director</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Case.Area_Sales_Director__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Case.Area_Sales_Director__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Flow_Config_Attributes.DirectorApproval__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Next_step</name>
        <label>Next step</label>
        <locationX>3185</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Next_step_action</targetReference>
        </connector>
        <fields>
            <name>Stage9</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Script9</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <elementReference>Next_step_script</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_step_choice</name>
            <choiceReferences>Create_case_sel</choiceReferences>
            <choiceReferences>Assign_case_sel</choiceReferences>
            <choiceReferences>Close_case_sel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How would you like to proceed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Test</name>
            <fieldText>{!Next_step_choice}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Access_to_Flow</name>
        <label>No Access to Flow</label>
        <locationX>563</locationX>
        <locationY>405</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAccess2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;OOPS! IT SEEMS YOU DONT HAVE ACCESS TO THIS YET&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please contact your CRM Analyst to grant you the right access (Service Cloud User)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_line_screen</name>
        <label>Product line screen</label>
        <locationX>2075</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetSLAPriority</targetReference>
        </connector>
        <fields>
            <name>Stage_ProductLine</name>
            <extensionName>c:ServiceCloud_FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>flowName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Script_ProductLine</name>
            <extensionName>c:ServiceCloud_FlowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <stringValue>Add more information about this case..</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Script_output</assignToReference>
                <name>scriptText</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CaseOriginNoEdit</name>
            <fieldText>&lt;p&gt;Case Origin:&lt;b&gt; {!CaseOrigin}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CaseOrigin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Live Chat</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseOrigin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Support email</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseOrigin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>By Web</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CaseOriginPL2</name>
            <choiceReferences>CaseOrigin_Phone</choiceReferences>
            <choiceReferences>CaseOrigin_DirectCustomerEmail</choiceReferences>
            <choiceReferences>CaseOrigin_TeamMemberEmail</choiceReferences>
            <choiceReferences>CaseOrigin_Other</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseOrigin</elementReference>
            </defaultValue>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseOrigin</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Live Chat</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseOrigin</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Support email</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseOrigin</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>By Web</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SourceRecordNotRequired</name>
            <choiceReferences>SourceRecords</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentSourceRecordValue</elementReference>
            </defaultValue>
            <fieldText>Source Record</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Link this Case to the Source Record. List is displayed in (ERP | ERP Number | Account Name) &lt;span style=&quot;color: rgb(205, 16, 16);&quot;&gt;Not required for non-CIM countries&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 AND 5 AND 6 )OR ( 1 AND (2 OR 7) AND (3 OR 4))</conditionLogic>
                <conditions>
                    <leftValueReference>Case.Product_Line__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>SureSmile</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>General</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAccount.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>US</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAccount.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CA</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAccount.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>US</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAccount.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>CA</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Product Support</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SourceRecordRequired</name>
            <choiceReferences>SourceRecords</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentSourceRecordValue</elementReference>
            </defaultValue>
            <fieldText>Source Record</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
                <conditions>
                    <leftValueReference>getAccount.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>US</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAccount.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CA</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Case.Product_Line__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>SureSmile</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>General</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Product Support</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Source_RecordSureSmile</name>
            <choiceReferences>SourceRecordsSureSmile</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentSourceRecordValue</elementReference>
            </defaultValue>
            <fieldText>Source Record</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Case.Product_Line__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SureSmile</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SourceRecordOrAddress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Source</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SureSmile_Address</name>
            <choiceReferences>Addresses</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentAddress</elementReference>
            </defaultValue>
            <fieldText>SureSmile Address</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Case.Product_Line__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SureSmile</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SourceRecordOrAddress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Address</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Case_Priority</name>
            <choiceReferences>Priority_Low</choiceReferences>
            <choiceReferences>Priority_Normal</choiceReferences>
            <choiceReferences>Priority_CustomerCritical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>getAccount.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AU</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAccount.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NZ</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_Productlines_OrderNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Order_Number__c</elementReference>
            </defaultValue>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Order &amp; Invoicing</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Shipping &amp; Delivery</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_Productlines_InvoiceNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Invoice_Number__c</elementReference>
            </defaultValue>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Order &amp; Invoicing</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Shipping &amp; Delivery</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_ProductLine_ArticleNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Article_Number__c</elementReference>
            </defaultValue>
            <fieldText>Article Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Order &amp; Invoicing</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Shipping &amp; Delivery</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scr_Productlines_TrackingNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Case.Tracking_number__c</elementReference>
            </defaultValue>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Case.CaseType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Shipping &amp; Delivery</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordType_Error</name>
        <label>RecordType Error</label>
        <locationX>1314</locationX>
        <locationY>1177</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAccess2_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;OOPS! THIS FLOW DOES NOT SUPPORT THIS CASE TYPE&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This flow is available only for Service Complaint cases.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Additional_info_stage</name>
        <isActive>true</isActive>
        <label>Additional information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Describe_case_stage</name>
        <isActive>true</isActive>
        <label>Describe case</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Next_step_stage</name>
        <isActive>true</isActive>
        <label>Next step</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Whos_calling_stage</name>
        <isActive>true</isActive>
        <label>Who&apos;s calling?</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>55</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>WhoIsRunningTheFlow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Description_text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Comment:

			Order number: {!Case.Order_Number__c} {!Article_number}
			Tracking number:
			Carrier: {!var_carrier}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case transferred to you.</text>
    </textTemplates>
    <textTemplates>
        <name>NewOwnerEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case#{!Case.CaseNumber} has been assigned to you. Please click on the link below to view the record.
https://dentsplysirona.my.salesforce.com/{!Case.Id}</text>
    </textTemplates>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RunningUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Script_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_article_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_carrier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_selected_contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_spam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
</Flow>
