src/flows/ServiceCloud_ScrFlow_CreateCase_FromAccountOrContact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <choices>
        <description>As the default value for picklist fields</description>
        <name>chNone</name>
        <choiceText>{!$Label.chNone}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check if all information for the new contact is populated</description>
        <name>decMissingContactInfo</name>
        <label>Missing Contact Info?</label>
        <locationX>180</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>crNewContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>decMissingContactInfo_True</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>scrSelectContact_InsertMarketingConsentCollected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrSelectContact_WhenCollected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrSelectContact_HowCollected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chNone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TempScr1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the user creating a new contact or has selected an existing one</description>
        <name>decNewContact</name>
        <label>New Contact?</label>
        <locationX>325</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>scrMainCaseFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>decNewContact_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrSelectContact_NewContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decMissingContactInfo</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>From which object the flow was initiated</description>
        <name>decStartingObject</name>
        <label>Starting Object</label>
        <locationX>613</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decStartingObject_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrMainCaseFields</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>decStartingObject_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrSelectContact</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>decStartingObject_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <label>Chat</label>
        </rules>
        <rules>
            <name>decStartingObject_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <label>SMS</label>
        </rules>
    </decisions>
    <description>SureSmile Project</description>
    <dynamicChoiceSets>
        <description>To display picklist values for Case.Origin field</description>
        <name>pcsCase_Origin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Display picklist values for Contact.HowCollected__c</description>
        <name>pcsContact_HowCollected</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HowCollected__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Display the picklist values for Contact.InsertEmailMarketingConsentCollected__c</description>
        <name>pcsContact_InsertEmailMarketingConsentCollected</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InsertEmailMarketingConsentCollected__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>To display related contacts as picklist</description>
        <name>rcsContact_List</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Service Cloud: ScrFlow to Create Case From Account or Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Cloud: ScrFlow to Create Case From Account or Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create new contact based on the information collected in scrSelectContact</description>
        <name>crNewContact</name>
        <label>Create NewContact</label>
        <locationX>344</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>scrMainCaseFields</targetReference>
        </connector>
        <inputReference>varNewContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>grMetadataRecord</name>
        <label>Get Metadata Record</label>
        <locationX>850</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrRequiredFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Complaint_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scrMainCaseFields_TypeCategoryReason.middleValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>scrMainCaseFields_TypeCategoryReason.bottomValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceCloudReason__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Display main fields to create case</description>
        <name>scrMainCaseFields</name>
        <label>Main Case Fields</label>
        <locationX>627</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>grMetadataRecord</targetReference>
        </connector>
        <fields>
            <name>scrMainCaseFields_CallScript</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>$Label.scrMainCaseFields_CallScript</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrMainCaseFields_Subject</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.scrMainCaseFields_Subject}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrMainCaseFields_Description</name>
            <fieldText>{!$Label.scrMainCaseFields_Description}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>scrMainCaseFields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrMainCaseFields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>scrMainCaseFields_TypeCategoryReason</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>CaseType__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Complaint_Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomPicklistApiName</name>
                        <value>
                            <stringValue>Complaint_Reason2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>scrMainCaseFields_TypeCategoryReason.topValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>scrMainCaseFields_TypeCategoryReason.middleValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomValue</name>
                        <value>
                            <elementReference>scrMainCaseFields_TypeCategoryReason.bottomValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrMainCaseFields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>scrMainCaseFields_CaseOrigin</name>
                    <choiceReferences>chNone</choiceReferences>
                    <choiceReferences>pcsCase_Origin</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>chNone</defaultSelectedChoiceReference>
                    <fieldText>Case Origin</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>scrMainCaseFields_SBUProductLine</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>SBU__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Product_Line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>scrMainCaseFields_SBUProductLine.topValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>scrMainCaseFields_SBUProductLine.middleValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrRequiredFields</name>
        <label>RequiredFields</label>
        <locationX>1029</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TempScr2</targetReference>
        </connector>
        <fields>
            <name>scrRequiredFields_CallScript</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Based on this Case Category, please fill in these fields:</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrRequiredFields_OrderNumber</name>
            <dataType>String</dataType>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3) OR 4</conditionLogic>
                <conditions>
                    <leftValueReference>grMetadataRecord.Order_number__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>scrMainCaseFields_TypeCategoryReason.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Return</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>scrMainCaseFields_TypeCategoryReason.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Exchange</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>scrMainCaseFields_TypeCategoryReason.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit/rebill</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrRequiredFields_CreditRebill</name>
            <dataType>String</dataType>
            <fieldText>Credit/Rebill</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>grMetadataRecord.Credit_Rebill__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrRequiredFields_DigitalKeywrod</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Digital_Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Support_Keyword__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>scrRequiredFields_DigitalKeywrod.topValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>scrRequiredFields_DigitalKeywrod.middleValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>scrMainCaseFields_SBUProductLine.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Azento, SureSmile, Simplant</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>To Select existing Contact or create new contact</description>
        <name>scrSelectContact</name>
        <label>Select Contact</label>
        <locationX>334</locationX>
        <locationY>193</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decNewContact</targetReference>
        </connector>
        <fields>
            <name>scrSelectContact_CallScript</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>$Label.scrSelectContact_CallScript</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrSelectContact_SelectContact</name>
            <choiceReferences>chNone</choiceReferences>
            <choiceReferences>rcsContact_List</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chNone</defaultSelectedChoiceReference>
            <fieldText>{!$Label.scrSelectContact_SelectContact}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrSelectContact_NewContact</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.scrSelectContact_NewContact}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrSelectContact_SelectContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chNone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrSelectContact_ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.scrSelectContact_ContactName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewContact.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varNewContact.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrSelectContact_NewContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrSelectContact_ContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.scrSelectContact_ContactPhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewContact.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrSelectContact_NewContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrSelectContact_ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.scrSelectContact_ContactEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewContact.Email</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrSelectContact_NewContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrSelectContact_InsertMarketingConsentCollected</name>
            <choiceReferences>pcsContact_InsertEmailMarketingConsentCollected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.scrSelectContact_InsertMarketingConsentCollected}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;If you keep it &quot;No&quot; then Email Opt Out field on contact will be True&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrSelectContact_NewContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrSelectContact_WhenCollected</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>{!$Label.scrSelectContact_WhenCollected}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrSelectContact_InsertMarketingConsentCollected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrSelectContact_WhereCollected</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.scrSelectContact_WhereCollected}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrSelectContact_InsertMarketingConsentCollected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>scrSelectContact_HowCollected</name>
            <choiceReferences>chNone</choiceReferences>
            <choiceReferences>pcsContact_HowCollected</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chNone</defaultSelectedChoiceReference>
            <fieldText>{!$Label.scrSelectContact_HowCollected}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>scrSelectContact_InsertMarketingConsentCollected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TempScr1</name>
        <label>TempScr1</label>
        <locationX>51</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TempScr2</name>
        <label>TempScr2</label>
        <locationX>1028</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>495</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>decStartingObject</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varNewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>External variable that pass the object name</description>
        <name>varObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>External variable that will pass the record Id where the flow started</description>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
