src/flows/ServiceAppointmentCreatedUpdatedAfterSave.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AcceptedServiceAppointment1</name>
        <label>Accepted Service Appointment</label>
        <locationX>50</locationX>
        <locationY>3371</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>gr_CustomNotificationTypeId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_WorkOrderOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Service Appointment is Accepted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AcceptedServiceAppointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>act_SendCancellationNotification</name>
        <label>Send Cancellation Notification</label>
        <locationX>182</locationX>
        <locationY>2747</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>ur_StarterKitValue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>gr_CancelledNotificationId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_dispatcherId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.AppointmentNumber} was cancelled and removed from the technician schedule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.WorkType.Name} appointment for {!$Record.Account.Name}  on {!$Record__Prior.SchedStartTime} was cancelled or the technician was unassigned.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RcceptedServiceAppointment</name>
        <label>Rejected Service Appointment</label>
        <locationX>314</locationX>
        <locationY>3371</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>gr_CustomNotificationTypeId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_WorkOrderOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Service Appointment is Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RejectedServiceAppointment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ass_ServiceAppointmentDispatcherId</name>
        <label>Assign Service Appointment Dispatcher Id</label>
        <locationX>182</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>var_dispatcherId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>act_SendCancellationNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign WorkOrder Owner Id to a collection variable so it can be used in Send Custom Notification action</description>
        <name>ass_WorkOrderOwnerId</name>
        <label>Assign WorkOrder Owner Id</label>
        <locationX>314</locationX>
        <locationY>3155</locationY>
        <assignmentItems>
            <assignToReference>var_WorkOrderOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FSSK__FSK_Work_Order__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ServiceAppointmentAccepted</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_ActualStartReflectedonGantt</name>
        <label>Is Actual Start Reflected on Gantt</label>
        <locationX>314</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>dec_StatusTriggersActualEndTimeCapturing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_ActualStartReflectedonGantt_NotRefelcted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__Actual_Times_on_Gantt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__StartingStatus__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReflectActualStartOnGantt</targetReference>
            </connector>
            <label>Not Refelcted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Accepted or Rejected Service Appointments by the contractors</description>
        <name>dec_ServiceAppointmentAccepted</name>
        <label>Is Service Appointment Accepted?</label>
        <locationX>314</locationX>
        <locationY>3263</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_ServiceAppointmentAccepted_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcceptReject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcceptedServiceAppointment1</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>dec_ServiceAppointmentAccepted_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AcceptReject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RcceptedServiceAppointment</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ServiceAppointmentCancelled</name>
        <label>Service Appointment Cancelled</label>
        <locationX>314</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>gr_CustomNotificationTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>for_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gr_CancelledNotificationId</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ServiceAppointmentDispatched</name>
        <label>Is Service Appointment Dispatched?</label>
        <locationX>314</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>dec_StatusTriggersActualStartTimeCapturing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dispatched</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__Mobile_Canned_Custom_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__Dispatched_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__Emergency_Dispatched_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>for_DisptachedNotificationTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendCustomCannedNotification</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_SetGanttLabel</name>
        <label>Set Gantt Label</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>dec_ServiceAppointmentDispatched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Label Defined</defaultConnectorLabel>
        <rules>
            <name>dec_SetGanttLabel_SetLabelName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__Set_Gantt_Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCustomGanttLabel</targetReference>
            </connector>
            <label>Set Label Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_StatusTriggersActualEndTimeCapturing</name>
        <label>Is Status Triggers Actual End Time Capturing</label>
        <locationX>314</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>IsActualEndReflectedonGantt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_StatusTriggersActualEndTimeCapturing_SetActualEndTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__ActualTimes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__EndingStatus__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetActualEndTime</targetReference>
            </connector>
            <label>Set Actual End Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_StatusTriggersActualStartTimeCapturing</name>
        <label>Is Status Triggers Actual Start Time Capturing</label>
        <locationX>314</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>dec_ActualStartReflectedonGantt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_StatusTriggersActualStartTimeCapturing_SetActualTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__ActualTimes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__StartingStatus__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetActualStartTime</targetReference>
            </connector>
            <label>Set Actual Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_WOLookupPopulated</name>
        <label>Is WO Lookup Populated</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>dec_SetGanttLabel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>dec_WOLookupPopulated_NotPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__Populate_Work_Order_Lookup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>for_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_ServiceAppointmentRecord</targetReference>
            </connector>
            <label>Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActualEndReflectedonGantt</name>
        <label>Is Actual End Reflected on Gantt</label>
        <locationX>314</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>dec_ServiceAppointmentCancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsActualEndReflectedonGantt_NotReflected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__Actual_Times_on_Gantt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__EndingStatus__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReflectActualEndOnGantt</targetReference>
            </connector>
            <label>Not Reflected</label>
        </rules>
    </decisions>
    <description>Convert Service Appointment Process Builder to Flow + Send Notification on SA Cancellation (TFUS-000006543)</description>
    <environments>Default</environments>
    <formulas>
        <name>for_DisptachedNotificationTime</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.SchedStartTime}&lt; (NOW() + $Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__Hours_for_Dispatched_Notification__c /24)</expression>
    </formulas>
    <formulas>
        <name>for_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>for_MobileTimes</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISCHANGED({!$Record.FSSK__FSK_Mobile_Start_Time__c}), true, false)</expression>
    </formulas>
    <interviewLabel>Service Appointment: Created &amp; Updated (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment: Created &amp; Updated (After Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>gr_CancelledNotificationId</name>
        <label>Get Cancelled Notification Id</label>
        <locationX>182</locationX>
        <locationY>2531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_ServiceAppointmentDispatcherId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CancelledServiceAppointment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_CustomNotificationTypeId</name>
        <label>Get Custom Notification TypeId</label>
        <locationX>314</locationX>
        <locationY>3047</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass_WorkOrderOwnerId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AcceptedServiceAppointment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update FSSK__FSK_Work_Order__c field</description>
        <name>ur_ServiceAppointmentRecord</name>
        <label>Update Service Appointment Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>dec_SetGanttLabel</targetReference>
        </connector>
        <inputAssignments>
            <field>FSSK__FSK_Work_Order__c</field>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ur_StarterKitValue</name>
        <label>Update Stater Kit Value</label>
        <locationX>182</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>gr_CustomNotificationTypeId</targetReference>
        </connector>
        <inputAssignments>
            <field>ActualDuration</field>
        </inputAssignments>
        <inputAssignments>
            <field>ActualEndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>AssignedResources__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Mobile_End_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Mobile_Start_Time__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_WOLookupPopulated</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>ReflectActualEndOnGantt</name>
        <label>Reflect Actual End on Gantt</label>
        <locationX>182</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>dec_ServiceAppointmentCancelled</targetReference>
        </connector>
        <flowName>SFSReflectActualTimesonGantt</flowName>
        <inputAssignments>
            <name>IsStart</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MobileTimes</name>
            <value>
                <elementReference>for_MobileTimes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ReflectActualStartOnGantt</name>
        <label>Reflect Actual Start on Gantt</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>dec_StatusTriggersActualEndTimeCapturing</targetReference>
        </connector>
        <flowName>SFSReflectActualTimesonGantt</flowName>
        <inputAssignments>
            <name>IsStart</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MobileTimes</name>
            <value>
                <elementReference>for_MobileTimes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SendCustomCannedNotification</name>
        <label>Send Custom Canned Notification</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>dec_StatusTriggersActualStartTimeCapturing</targetReference>
        </connector>
        <flowName>SFSCannedNotificationDispatch</flowName>
        <inputAssignments>
            <name>IsEmergency</name>
            <value>
                <elementReference>$Record.FSL__Emergency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Notification_Type_Id</name>
            <value>
                <elementReference>$Setup.FSSK__FSK_FSL_Starter_Kit__c.FSSK__Custom_Notification_Type_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Service_Appointment_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Service_Appointment_Number</name>
            <value>
                <elementReference>$Record.AppointmentNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Service_Appointment_Subject</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SetActualEndTime</name>
        <label>Set Actual End Time</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>IsActualEndReflectedonGantt</targetReference>
        </connector>
        <flowName>SFSUpdateActualTimeFields</flowName>
        <inputAssignments>
            <name>IsStart</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SetActualStartTime</name>
        <label>Set Actual Start Time</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>dec_ActualStartReflectedonGantt</targetReference>
        </connector>
        <flowName>SFSUpdateActualTimeFields</flowName>
        <inputAssignments>
            <name>IsStart</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SetCustomGanttLabel</name>
        <label>Set Custom Gantt Label</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>dec_ServiceAppointmentDispatched</targetReference>
        </connector>
        <flowName>SFSSASetGanttLabel</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>AcceptedServiceAppointment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;nbsp;{!$Record.AppointmentNumber} is accepted by {!$Record.LastModifiedBy.Full_Name__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RejectedServiceAppointment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;{!$Record.AppointmentNumber} is rejected by {!$Record.LastModifiedBy.Full_Name__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_dispatcherId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_WorkOrderOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
