src/flows/SFSCannedNotificationDispatch.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dispatched_Notification</name>
        <label>Dispatched Notification</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Type_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Dispatched_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Dispatched_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recepients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Emergency_Notification</name>
        <label>Emergency Notification</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Type_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Emergency_Dispatched_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Emergency_Dispatched_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recepients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Recepients</name>
        <label>Set Notification Variables and Add Recepients</label>
        <locationX>314</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>Recepients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecepientIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dispatched_Notification_Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatchedNotificationTitleMergedFields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dispatched_Notification_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatchedNotificationBodyMergedFields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Dispatched_Notification_Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyNotificationTitleMergedFields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emergency_Dispatched_Notification_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyNotificationBodyMergedFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Dispatched_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RelatedRecordId</name>
        <label>assign_RelatedRecordId</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RecepientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iter_AssignedResources.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NumberofRecepients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iter_AssignedResources</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Dispatched_Type</name>
        <label>Check if Emergency Dispatch</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Emergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsEmergency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_NumberofRecepients</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emergency_Notification</targetReference>
            </connector>
            <label>Emergency</label>
        </rules>
        <rules>
            <name>NonEmergency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsEmergency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_NumberofRecepients</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispatched_Notification</targetReference>
            </connector>
            <label>Non Emergency</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ResourceType</name>
        <label>dec_ResourceType</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>assign_RelatedRecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resource</defaultConnectorLabel>
        <rules>
            <name>Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iter_AssignedResources.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iter_AssignedResources</targetReference>
            </connector>
            <label>Crew</label>
        </rules>
    </decisions>
    <description>Fix recipientId issue TFUS-000005047</description>
    <formulas>
        <name>DispatchedNotificationBodyMergedFields</name>
        <dataType>String</dataType>
        <expression>{!Service_Appointment_Number} &amp; &apos; has been assigned to you&apos;</expression>
    </formulas>
    <formulas>
        <name>DispatchedNotificationTitleMergedFields</name>
        <dataType>String</dataType>
        <expression>&quot;New Dispatched Service Appointment &quot;</expression>
    </formulas>
    <formulas>
        <name>EmergencyNotificationBodyMergedFields</name>
        <dataType>String</dataType>
        <expression>&apos;Attend to &apos; &amp; {!Service_Appointment_Number} &amp; &apos; ASAP&apos;</expression>
    </formulas>
    <formulas>
        <name>EmergencyNotificationTitleMergedFields</name>
        <dataType>String</dataType>
        <expression>&apos;* Emergency! *   Attention: &apos; &amp; {!Service_Appointment_Subject}</expression>
    </formulas>
    <interviewLabel>SFS: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS: Canned Notification Dispatch</label>
    <loops>
        <name>iter_AssignedResources</name>
        <label>iter_AssignedResources</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Assigned_Resource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_ResourceType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Recepients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iter_AssignedResources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <sortField>ServiceResourceId</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Limited to 750 characters</description>
        <name>Dispatched_Notification_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dispatched Notification Body</stringValue>
        </value>
    </variables>
    <variables>
        <description>Limited to 250 characters</description>
        <name>Dispatched_Notification_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dispatched Service Appointment</stringValue>
        </value>
    </variables>
    <variables>
        <description>Limited to 750 characters</description>
        <name>Emergency_Dispatched_Notification_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Run for your life</stringValue>
        </value>
    </variables>
    <variables>
        <description>Limited to 250 characters</description>
        <name>Emergency_Dispatched_Notification_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Leave Everything!!!</stringValue>
        </value>
    </variables>
    <variables>
        <name>IsEmergency</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notification_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecepientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recepients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Appointment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Appointment_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Appointment_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Resource_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Resource_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NumberofRecepients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
