src/flows/SFSPopulateCustomAssignedServiceResourceLookup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>act_SendEmailNotification</name>
        <label>Send Email Notification</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ServiceAppointmentDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>var_ResourceEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>gr_ServiceAppointment.AppointmentNumber</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>asg_AddingToCrewCounter</name>
        <label>Increase crew counter</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_CrewCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CrewResourceToPopulate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loo_CountRelatedResources.ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CrewName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loo_CountRelatedResources.ServiceResource.TF_ResourceName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loo_CountRelatedResources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asg_AddingToResourceCounter</name>
        <label>Increase Resource counter</label>
        <locationX>930</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_ResourceCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResourceToPopulate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loo_CountRelatedResources.ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FinalCrewMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_ResourceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResourceEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loo_CountRelatedResources.ServiceResource.RelatedRecord.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IsContractor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loo_CountRelatedResources.ServiceResource.IsContractor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loo_CountRelatedResources</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_CheckType</name>
        <label>Check Type</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>loo_CountRelatedResources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_CheckType_Crew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loo_CountRelatedResources.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asg_AddingToCrewCounter</targetReference>
            </connector>
            <label>Is Crew</label>
        </rules>
        <rules>
            <name>dec_CheckType_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loo_CountRelatedResources.ServiceResource.ResourceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asg_AddingToResourceCounter</targetReference>
            </connector>
            <label>Is Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_HowToUpdate</name>
        <label>How to Update</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>ur_ResetFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_HowToUpdate_OnyCrew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CrewCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ResourceCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_SetOnlytheCrew</targetReference>
            </connector>
            <label>Only Crew</label>
        </rules>
        <rules>
            <name>dec_HowToUpdate_OneServiceResource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ResourceCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_CrewCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_SetOnly1Resource</targetReference>
            </connector>
            <label>Only One Service Resource</label>
        </rules>
        <rules>
            <name>dec_HowToUpdate_MoreThan1Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ResourceCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ur_SetCrewMembers</targetReference>
            </connector>
            <label>More Than 1 Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_IsContactor</name>
        <label>Is Contactor?</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dec_IsContactor_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsContractor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>act_SendEmailNotification</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Fixing the contractor Email and naming convention</description>
    <formulas>
        <name>for_ResourceName</name>
        <dataType>String</dataType>
        <expression>{!loo_CountRelatedResources.ServiceResource.TF_ResourceName__c}&amp;&quot; | &quot;</expression>
    </formulas>
    <interviewLabel>SFS: Populate Custom Assigned Service Resource Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS: Populate Custom Assigned Service Resource Lookup</label>
    <loops>
        <name>loo_CountRelatedResources</name>
        <label>Count Assigned Resources</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <collectionReference>gr_AllServiceResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dec_CheckType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dec_HowToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>gr_AllServiceResources</name>
        <label>Get All Assigned Resources</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loo_CountRelatedResources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gr_ServiceAppointment</name>
        <label>Get Service Appointment</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gr_AllServiceResources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ur_ResetFields</name>
        <label>Reset Fields</label>
        <locationX>1106</locationX>
        <locationY>1070</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssignedResources__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_SetCrewMembers</name>
        <label>Set Crew Members</label>
        <locationX>842</locationX>
        <locationY>1070</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssignedResources__c</field>
            <value>
                <elementReference>var_FinalCrewMembers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>var_CrewResourceToPopulate</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_SetOnly1Resource</name>
        <label>Set Only 1 Resource</label>
        <locationX>446</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>dec_IsContactor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssignedResources__c</field>
            <value>
                <elementReference>var_FinalCrewMembers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>var_ResourceToPopulate</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>ur_SetOnlytheCrew</name>
        <label>Set Only the Crew</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssignedResources__c</field>
            <value>
                <elementReference>var_CrewName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSSK__FSK_Assigned_Service_Resource__c</field>
            <value>
                <elementReference>var_CrewResourceToPopulate</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>gr_ServiceAppointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ServiceAppointmentDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px; font-family: Calibri, sans-serif; color: rgb(41, 128, 185);&quot;&gt;{!gr_ServiceAppointment.AppointmentNumber} is assigned to you!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Work Order Number: {!gr_ServiceAppointment.FSSK__FSK_Work_Order__r.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Subject: {!gr_ServiceAppointment.Subject}&lt;/p&gt;&lt;p&gt;Description: {!gr_ServiceAppointment.Description}&lt;/p&gt;&lt;p&gt;Due Date: {!gr_ServiceAppointment.DueDate}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>cvar_ResourcesTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CrewCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CrewName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CrewResourceToPopulate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FinalCrewMembers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsContractor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ResourceCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ResourceEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ResourceToPopulate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ResourceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
