src/flows/SFSServiceAppointmentStatusTransition.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Cannot_Complete_Reason_Waiting_Customer</name>
        <label>Cannot Complete Reason = Waiting Customer</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.CannotCompleteReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.CannotCompleteReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CannotCompleteReasonWaitingParts</name>
        <label>Cannot Complete Reason = Waiting Parts</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.CannotCompleteReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting Parts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.CannotCompleteReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting Parts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CannotCompleteReasonWaitingTachnicalHelp</name>
        <label>Cannot Complete Reason = Waiting Technical Help</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.CannotCompleteReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting Technical Help</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.CannotCompleteReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting Technical Help</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Complete</name>
        <label>Set Status Complete</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.WorkDone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Describe_what_has_been_done</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.ServiceNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.DescribeWhatHasBeenDone__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Describe_what_has_been_done</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.FSSK__FSK_Mobile_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.FSSK__FSK_Mobile_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.ActualDurationfromSA__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_ActualDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_In_Progress</name>
        <label>Set Status In Progress</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_WaitingCustomer</name>
        <choiceText>Waiting Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>st_WaitingCustomer</elementReference>
        </value>
    </choices>
    <choices>
        <name>ch_WaitingParts</name>
        <choiceText>Waiting Parts</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>st_WaitingParts</elementReference>
        </value>
    </choices>
    <choices>
        <name>ch_WaitingTechnicalHelp</name>
        <choiceText>&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Waiting Technical Help&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>st_WaitingTechnicalHelp</elementReference>
        </value>
    </choices>
    <choices>
        <name>chComplete</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>stComplet</elementReference>
        </value>
    </choices>
    <choices>
        <name>chEnRoute</name>
        <choiceText>{!stEnRoute}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En Route</stringValue>
        </value>
    </choices>
    <choices>
        <name>chIncomplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>stIncomplete</elementReference>
        </value>
    </choices>
    <choices>
        <name>chInProg</name>
        <choiceText>{!stInProg}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>chOnSite</name>
        <choiceText>On Site</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>stOnSite</elementReference>
        </value>
    </choices>
    <constants>
        <name>st_WaitingCustomer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting Customer</stringValue>
        </value>
    </constants>
    <constants>
        <name>st_WaitingParts</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting Parts</stringValue>
        </value>
    </constants>
    <constants>
        <name>st_WaitingTechnicalHelp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting Technical Help</stringValue>
        </value>
    </constants>
    <constants>
        <name>stComplet</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </constants>
    <constants>
        <name>stEnRoute</name>
        <dataType>String</dataType>
        <value>
            <stringValue>En Route</stringValue>
        </value>
    </constants>
    <constants>
        <name>stIncomplete</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete Job</stringValue>
        </value>
    </constants>
    <constants>
        <name>stInProg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </constants>
    <constants>
        <name>stOnSite</name>
        <dataType>String</dataType>
        <value>
            <stringValue>On</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Feature_is_Active</name>
        <label>Check Feature is Active</label>
        <locationX>1502</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Feature_Inactive_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferences.FSSK__Mobile_Status_Satiation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Preferences</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completion_Decision</name>
        <label>Completion Decision</label>
        <locationX>930</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobCompletionPL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chComplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_is_completed</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
        <rules>
            <name>Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobCompletionPL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chIncomplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incompleted_Job</targetReference>
            </connector>
            <label>Incomplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>IncompleteReason</name>
        <label>Incomplete Reason</label>
        <locationX>974</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Update_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting_Parts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CantCompleteReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_WaitingParts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CannotCompleteReasonWaitingParts</targetReference>
            </connector>
            <label>Waiting Parts</label>
        </rules>
        <rules>
            <name>WaitingTechnicalHelp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CantCompleteReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_WaitingTechnicalHelp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CannotCompleteReasonWaitingTachnicalHelp</targetReference>
            </connector>
            <label>Waiting Technical Help</label>
        </rules>
        <rules>
            <name>Waiting_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CantCompleteReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_WaitingCustomer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Complete_Reason_Waiting_Customer</targetReference>
            </connector>
            <label>Waiting Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Based_Decision</name>
        <label>Status Based Decision</label>
        <locationX>930</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Default_Debug</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stsDispatched</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_from_Dispatched</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Completion</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <description>Mobile users can update the status of their service appointments while adhering to the permitted status flow +TFUS-000004775 + Add Start Time and End Time + cannot Complete Reason on SA + Remove Time Type Reference + Update WO Status on Incompletion + Fix Actual Duration + Update ScheduledTime with Mobile Times</description>
    <dynamicChoiceSets>
        <name>CannotCompleteReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CannotCompleteReason__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeType__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>for_ActualDuration</name>
        <dataType>Number</dataType>
        <expression>({!EndTime}-{!StartTime})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>for_SchedEnd</name>
        <dataType>DateTime</dataType>
        <expression>{!StartTime} + (1/24)</expression>
    </formulas>
    <formulas>
        <description>deduct 1 min from the start time</description>
        <name>for_ScheduledTime</name>
        <dataType>DateTime</dataType>
        <expression>{!StartTime} - (1/1440)</expression>
    </formulas>
    <interviewLabel>SFS: Service Appointment Status Transition</interviewLabel>
    <label>SFS: Service Appointment Status Transition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Preferences</name>
        <label>Get Preferences</label>
        <locationX>1502</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Feature_is_Active</targetReference>
        </connector>
        <object>FSSK__FSK_FSL_Starter_Kit__c</object>
        <outputReference>Preferences</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSSK__StartingStatus__c</queriedFields>
        <queriedFields>FSSK__EndingStatus__c</queriedFields>
        <queriedFields>FSSK__Mobile_Status_Satiation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>930</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>Service_Appointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>FSSK__FSK_Mobile_Start_Time__c</queriedFields>
        <queriedFields>FSSK__FSK_Mobile_End_Time__c</queriedFields>
        <queriedFields>FSSK__FSK_Work_Order__c</queriedFields>
        <queriedFields>ActualDuration</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>WorkDone__c</queriedFields>
        <queriedFields>ServiceNote</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWO</name>
        <label>Get WO</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Based_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment.FSSK__FSK_Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CannotCompleteReason__c</queriedFields>
        <queriedFields>DescribeWhatHasBeenDone__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualDurationfromSA__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Values</name>
        <label>Update Values</label>
        <locationX>930</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>UpdateWO</targetReference>
        </connector>
        <inputReference>Service_Appointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWO</name>
        <label>Update WO</label>
        <locationX>930</locationX>
        <locationY>1766</locationY>
        <inputReference>WorkOrder</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Default_Debug</name>
        <label>Default Debug</label>
        <locationX>1810</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dsp2</name>
            <fieldText>&lt;p&gt;This action does not support this appointment status&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feature_Inactive_Screen</name>
        <label>Feature Inactive Screen</label>
        <locationX>2074</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dsp2_0</name>
            <fieldText>&lt;p&gt;This feature is not active.&lt;/p&gt;&lt;p&gt;Contact your System Administrator for more information about this Field Service Starter Kit feature.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incompleted_Job</name>
        <label>Incompleted Job</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IncompleteReason</targetReference>
        </connector>
        <fields>
            <name>CantCompleteReason</name>
            <choiceReferences>ch_WaitingParts</choiceReferences>
            <choiceReferences>ch_WaitingTechnicalHelp</choiceReferences>
            <choiceReferences>ch_WaitingCustomer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cannot Complete Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Completion</name>
        <label>Set Status from In Progress</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Completion_Decision</targetReference>
        </connector>
        <fields>
            <name>JobCompletionPL</name>
            <choiceReferences>chComplete</choiceReferences>
            <choiceReferences>chIncomplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the next Status Transition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_is_completed</name>
        <label>Job is completed</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Status_Complete</targetReference>
        </connector>
        <fields>
            <name>Describe_what_has_been_done</name>
            <fieldText>Describe what has been done</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ServiceNotes</name>
            <fieldText>Service Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StartTime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Service_Appointment.SchedStartTime</elementReference>
            </defaultValue>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Make Sure to have Start Time after Scheduled Start Time {!Service_Appointment.SchedStartTime}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EndTime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Service_Appointment.SchedEndTime</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Status_from_Dispatched</name>
        <label>Set Status from Dispatched</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Status_In_Progress</targetReference>
        </connector>
        <fields>
            <name>Transition_to_next_status_DSP</name>
            <choiceReferences>chInProg</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the next Status Transition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Preferences</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Current_Status_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Preferences</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSSK__FSK_FSL_Starter_Kit__c</objectType>
    </variables>
    <variables>
        <name>Service_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
