src/flows/Target_List_Assign_Target_List_Name.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>ByPass Process</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_ByPass Process</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>TRUE_ByPass Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>TRUE_Name Convention (CA, USA, AU, NZ)</label>
        <locationX>374</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>FALSE_Name Convention (CA or USA)</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_Name Convention (CA, USA, AU, NZ)</label>
        </rules>
    </decisions>
    <description>2024-07-23: TFUS-000006837 : Have the Target list name based on the country field.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_1_myRule_3_A1_9083168873</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.UserCountry__c} ) &amp; &quot; - &quot; &amp;   TEXT(YEAR({!$Record.Start_Date__c} )) &amp; &quot; - &quot; &amp;    {!$Record.Title__c}</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.GlobalBypassProcessesSettings__c.RunProcessBuilder__c}=false</expression>
    </formulas>
    <interviewLabel>Target List: Assign Target List Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Target List: Assign Target List Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_3_A1</name>
        <label>Update Name</label>
        <locationX>242</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_1_myRule_3_A1_9083168873</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Field_Sales_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
