src/flows/Teamforce_User_Story_Defect_Create_New.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_The_Defect_To_List</name>
        <label>Add The Defect To List</label>
        <locationX>818</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>ListOfDefectToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TeamforceDefect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Required_Felds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Teamforce_Defect_Values</name>
        <label>Set Teamforce Defect Values</label>
        <locationX>818</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>TeamforceDefect.TMFC_TeamForce_User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamforce_Test.TeamForce_User_Story__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamforceDefect.null__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamforce_Test.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamforceDefect.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teamforce_Test.TeamForce_User_Story__r.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamforceDefect.TMFC_Defect_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Teamforce_User_Story_Defect_Create_New</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>To successfully insert the Defect the Defect Assignee field has to be required (it&apos;s not possible to set the field as required and when it&apos;s empty an unhandled exception is thrown) a custom check  before the insert is needed.</description>
        <name>Validate_Required_Felds</name>
        <label>Validate Required Felds</label>
        <locationX>818</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefectAssigneeIsBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Defect</targetReference>
            </connector>
            <label>All Good</label>
        </rules>
        <rules>
            <name>Fields_are_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefectAssigneeIsBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Page</targetReference>
            </connector>
            <label>Fields are missing</label>
        </rules>
    </decisions>
    <description>Teamforce User Story Defect: Create New</description>
    <environments>Default</environments>
    <formulas>
        <name>DefectAssigneeIsBlank</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!TeamforceDefect.TMFC_Defect_Assignee__c}), true, false)</expression>
    </formulas>
    <formulas>
        <description>Formula to check if Defect Title is missing</description>
        <name>DefectTitleIsMissing</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!TeamforceDefect.TMFC_Defect_Title__c}), TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Teamforce User Story Defect: Create New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Teamforce User Story Defect: Create New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Defect</name>
        <label>Insert Defect</label>
        <locationX>831</locationX>
        <locationY>863</locationY>
        <inputReference>ListOfDefectToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Teamforce_Test</name>
        <label>Get Teamforce Test</label>
        <locationX>818</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Teamforce_Defect_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TeamForce_User_Story_Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen_Page</name>
        <label>Error Screen Page</label>
        <locationX>1132</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Screen</name>
            <fieldText>&lt;p&gt;Please, select the Defect Assignee before proceeding.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Teamforce_User_Story_Defect_Create_New</name>
        <label>Teamforce User Story Defect: Create New</label>
        <locationX>818</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_The_Defect_To_List</targetReference>
        </connector>
        <fields>
            <name>Information</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TeamforceDefect.TMFC_TeamForce_User_Story__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Defect_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TeamforceDefect.TMFC_Defect_Title__c</elementReference>
            </defaultValue>
            <fieldText>Defect Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please, insert a Defect Title&lt;/p&gt;</errorMessage>
                <formulaExpression>{!DefectTitleIsMissing}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Teamforce_User_Story_Defect_Create_New_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Teamforce_User_Story_Defect_Create_New_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TeamforceDefect.TMFC_Defect_Severity__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TeamforceDefect.Project__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TeamforceDefect.null__NotFound</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Teamforce_User_Story_Defect_Create_New_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TeamforceDefect.TMFC_Environment__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Defect_Status</name>
            <fieldText>Defect Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Defect_Status_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TeamforceDefect.TMFC_Defect_Status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Defect_Status_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TeamforceDefect.TMFC_Defect_Assignee__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Defect_Details</name>
            <fieldText>Defect Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Defect_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TeamforceDefect.null__NotFound</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Defect_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TeamforceDefect.Profile__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>692</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Teamforce_Test</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>ListOfDefectToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TMFC_TeamForce_Defect__c</objectType>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TeamforceDefect</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TMFC_TeamForce_Defect__c</objectType>
    </variables>
</Flow>
