src/flows/TeamForce_Populate_CRM_Analyst_field.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>MeetThis</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>MeetThis</label>
        </rules>
    </decisions>
    <description>ForceFlow to OrgFlow</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASESAFEID($user.Id) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0350056960</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$user.Id})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(
[Case].Creator_Country__c, &quot;Austria&quot;, &quot;a0z2000000Ab0Om&quot;, &quot;Australia&quot;, &quot;a0z2000000Ab0R7&quot;, 
&quot;Brazil&quot;,&quot;a0z2000000A3KWgAAN&quot;, &quot;Canada&quot;,&quot;a0z0J00000BCL6a&quot;,
&quot;France&quot;, &quot;a0z2000000A4ia7&quot;,&quot;Germany&quot;, &quot;a0z2000000AhkJo&quot;,&quot;Holland&quot;, &quot;a0z2000000A4iLu&quot;, &quot;Thailand&quot;, &quot;a0z2000000AhkO5&quot;, &quot;Hong Kong&quot;, &quot;a0z2000000A4O3s&quot;, &quot;Singapore&quot;, &quot;a0z2000000A3kLA&quot;, &quot;INDIA&quot;, &quot;a0z2000000A4hJN&quot;, &quot;Indonesia&quot;, &quot;a0z0J00000BN6Le&quot;, &quot;Vietnam&quot;, &quot;a0z2000000AhkLL&quot;, &quot;Italy&quot;, &quot;a0z2000000A4icr&quot;, &quot;Japan&quot;, &quot;a0z2000000A4q8z&quot;, &quot;Poland&quot;, &quot;a0z2000000A4Gx2&quot;, &quot;Russia&quot;, &quot;a0z2000000A47ie&quot;, &quot;Spain&quot;, &quot;a0z2000000AamKD&quot;, &quot;Sweden&quot;, &quot;a0z0J00000BbWjS&quot;, &quot;Taiwan&quot;, &quot;a0z2000000A4N3a&quot;, &quot;Turkey&quot;, &quot;a0z2000000A4HYD&quot;, &quot;UAE&quot;, &quot;a0z2000000A4hVO&quot;, &quot;UK&quot;, &quot;a0z2000000A4i6V&quot;, &quot;USA&quot;, &quot;a0z0J00000BB0t6&quot;, &quot;HQ: SE&quot;, &quot;a0z0J00000BBlBC&quot; ,&quot;HQ: DE&quot;, &quot;a0z0J00000BBlBC&quot; ,&quot;HQ: NL&quot;, &quot;a0z0J00000BBlBC&quot; , null)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_9984301514</name>
        <dataType>String</dataType>
        <expression>CASE(
{!myVariable_current.Creator_Country__c}, &quot;Austria&quot;, &quot;a0z2000000Ab0Om&quot;, &quot;Australia&quot;, &quot;a0z2000000Ab0R7&quot;, 
&quot;Brazil&quot;,&quot;a0z2000000A3KWgAAN&quot;, &quot;Canada&quot;,&quot;a0z0J00000BCL6a&quot;,
&quot;France&quot;, &quot;a0z2000000A4ia7&quot;,&quot;Germany&quot;, &quot;a0z2000000AhkJo&quot;,&quot;Holland&quot;, &quot;a0z2000000A4iLu&quot;, &quot;Thailand&quot;, &quot;a0z2000000AhkO5&quot;, &quot;Hong Kong&quot;, &quot;a0z2000000A4O3s&quot;, &quot;Singapore&quot;, &quot;a0z2000000A3kLA&quot;, &quot;INDIA&quot;, &quot;a0z2000000A4hJN&quot;, &quot;Indonesia&quot;, &quot;a0z0J00000BN6Le&quot;, &quot;Vietnam&quot;, &quot;a0z2000000AhkLL&quot;, &quot;Italy&quot;, &quot;a0z2000000A4icr&quot;, &quot;Japan&quot;, &quot;a0z2000000A4q8z&quot;, &quot;Poland&quot;, &quot;a0z2000000A4Gx2&quot;, &quot;Russia&quot;, &quot;a0z2000000A47ie&quot;, &quot;Spain&quot;, &quot;a0z2000000AamKD&quot;, &quot;Sweden&quot;, &quot;a0z0J00000BbWjS&quot;, &quot;Taiwan&quot;, &quot;a0z2000000A4N3a&quot;, &quot;Turkey&quot;, &quot;a0z2000000A4HYD&quot;, &quot;UAE&quot;, &quot;a0z2000000A4hVO&quot;, &quot;UK&quot;, &quot;a0z2000000A4i6V&quot;, &quot;USA&quot;, &quot;a0z0J00000BB0t6&quot;, &quot;HQ: SE&quot;, &quot;a0z0J00000BBlBC&quot; ,&quot;HQ: DE&quot;, &quot;a0z0J00000BBlBC&quot; ,&quot;HQ: NL&quot;, &quot;a0z0J00000BBlBC&quot; , null)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASESAFEID($user.Id) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_1947459751</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$user.Id})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(
[Case].Creator_Country__c, &quot;Austria&quot;, &quot;a0z2000000Ab0Om&quot;, &quot;Australia&quot;, &quot;a0z2000000Ab0R7&quot;,
&quot;Brazil&quot;,&quot;a0z2000000A3KWgAAN&quot;, &quot;Canada&quot;,&quot;a0z0J00000BCL6a&quot;,
&quot;France&quot;, &quot;a0z2000000A4ia7&quot;,&quot;Germany&quot;, &quot;a0z2000000AhkJo&quot;,&quot;Holland&quot;, &quot;a0z2000000A4iLu&quot;, &quot;Thailand&quot;, &quot;a0z2000000AhkO5&quot;, &quot;Hong Kong&quot;, &quot;a0z2000000A4O3s&quot;, &quot;Singapore&quot;, &quot;a0z2000000A3kLA&quot;, &quot;INDIA&quot;, &quot;a0z2000000A4hJN&quot;, &quot;Indonesia&quot;, &quot;a0z0J00000BN6Le&quot;, &quot;Vietnam&quot;, &quot;a0z2000000AhkLL&quot;, &quot;Italy&quot;, &quot;a0z2000000A4icr&quot;, &quot;Japan&quot;, &quot;a0z2000000A4q8z&quot;, &quot;Poland&quot;, &quot;a0z2000000A4Gx2&quot;, &quot;Russia&quot;, &quot;a0z2000000A47ie&quot;, &quot;Spain&quot;, &quot;a0z2000000AamKD&quot;, &quot;Sweden&quot;, &quot;a0z0J00000BbWjS&quot;, &quot;Taiwan&quot;, &quot;a0z2000000A4N3a&quot;, &quot;Turkey&quot;, &quot;a0z2000000A4HYD&quot;, &quot;UAE&quot;, &quot;a0z2000000A4hVO&quot;, &quot;UK&quot;, &quot;a0z2000000A4i6V&quot;, &quot;USA&quot;, &quot;a0z0J00000BB0t6&quot;, &quot;HQ: SE&quot;, &quot;a0z0J00000BBlBC&quot; ,&quot;HQ: DE&quot;, &quot;a0z0J00000BBlBC&quot; ,&quot;HQ: NL&quot;, &quot;a0z0J00000BBlBC&quot; , null)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_3377940902</name>
        <dataType>String</dataType>
        <expression>CASE(
{!myVariable_current.Creator_Country__c}, &quot;Austria&quot;, &quot;a0z2000000Ab0Om&quot;, &quot;Australia&quot;, &quot;a0z2000000Ab0R7&quot;,
&quot;Brazil&quot;,&quot;a0z2000000A3KWgAAN&quot;, &quot;Canada&quot;,&quot;a0z0J00000BCL6a&quot;,
&quot;France&quot;, &quot;a0z2000000A4ia7&quot;,&quot;Germany&quot;, &quot;a0z2000000AhkJo&quot;,&quot;Holland&quot;, &quot;a0z2000000A4iLu&quot;, &quot;Thailand&quot;, &quot;a0z2000000AhkO5&quot;, &quot;Hong Kong&quot;, &quot;a0z2000000A4O3s&quot;, &quot;Singapore&quot;, &quot;a0z2000000A3kLA&quot;, &quot;INDIA&quot;, &quot;a0z2000000A4hJN&quot;, &quot;Indonesia&quot;, &quot;a0z0J00000BN6Le&quot;, &quot;Vietnam&quot;, &quot;a0z2000000AhkLL&quot;, &quot;Italy&quot;, &quot;a0z2000000A4icr&quot;, &quot;Japan&quot;, &quot;a0z2000000A4q8z&quot;, &quot;Poland&quot;, &quot;a0z2000000A4Gx2&quot;, &quot;Russia&quot;, &quot;a0z2000000A47ie&quot;, &quot;Spain&quot;, &quot;a0z2000000AamKD&quot;, &quot;Sweden&quot;, &quot;a0z0J00000BbWjS&quot;, &quot;Taiwan&quot;, &quot;a0z2000000A4N3a&quot;, &quot;Turkey&quot;, &quot;a0z2000000A4HYD&quot;, &quot;UAE&quot;, &quot;a0z2000000A4hVO&quot;, &quot;UK&quot;, &quot;a0z2000000A4i6V&quot;, &quot;USA&quot;, &quot;a0z0J00000BB0t6&quot;, &quot;HQ: SE&quot;, &quot;a0z0J00000BBlBC&quot; ,&quot;HQ: DE&quot;, &quot;a0z0J00000BBlBC&quot; ,&quot;HQ: NL&quot;, &quot;a0z0J00000BBlBC&quot; , null)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS($Profile.Name , &apos;OrgFlow&apos;))

&amp;&amp;

[Case].RecordTypeId = &apos;0120J000000cmlWQAQ&apos;

&amp;&amp;

Isblank([Case].CRM_Analyst__c )

&amp;&amp;

(CONTAINS($Profile.Name , &apos;CRM Analyst&apos;) 
||
CONTAINS($Profile.Name , &apos;National Administrator&apos;) 
||
( LEFT(TEXT($User.User_Country__c), 3)= &quot;HQ:&quot;  &amp;&amp;  NOT(CONTAINS($Profile.Name , &apos;System Administrator&apos;)))
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS({!$Profile.Name} , &apos;OrgFlow&apos;))

&amp;&amp;

{!myVariable_current.RecordTypeId} = &apos;0120J000000cmlWQAQ&apos;

&amp;&amp;

Isblank({!myVariable_current.CRM_Analyst__c} )

&amp;&amp;

(CONTAINS({!$Profile.Name} , &apos;CRM Analyst&apos;) 
||
CONTAINS({!$Profile.Name} , &apos;National Administrator&apos;) 
||
( LEFT(TEXT({!$User.User_Country__c}), 3)= &quot;HQ:&quot;  &amp;&amp;  NOT(CONTAINS({!$Profile.Name} , &apos;System Administrator&apos;)))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(CONTAINS($Profile.Name , &apos;OrgFlow&apos;))

&amp;&amp;

[Case].RecordTypeId = &apos;0120J000000cmlWQAQ&apos;

&amp;&amp; 

[Case].CRM_Analyst__c &lt;&gt; &quot;&quot;

&amp;&amp;

(CONTAINS($Profile.Name , &apos;CRM Analyst&apos;) 
||
CONTAINS($Profile.Name , &apos;National Administrator&apos;) 
||
( LEFT(TEXT($User.User_Country__c), 3)= &quot;HQ:&quot;  &amp;&amp;  NOT(CONTAINS($Profile.Name , &apos;System Administrator&apos;)))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS({!$Profile.Name} , &apos;OrgFlow&apos;))

&amp;&amp;

{!myVariable_current.RecordTypeId} = &apos;0120J000000cmlWQAQ&apos;

&amp;&amp; 

{!myVariable_current.CRM_Analyst__c} &lt;&gt; &quot;&quot;

&amp;&amp;

(CONTAINS({!$Profile.Name} , &apos;CRM Analyst&apos;) 
||
CONTAINS({!$Profile.Name} , &apos;National Administrator&apos;) 
||
( LEFT(TEXT({!$User.User_Country__c}), 3)= &quot;HQ:&quot;  &amp;&amp;  NOT(CONTAINS({!$Profile.Name} , &apos;System Administrator&apos;)))
)</expression>
    </formulas>
    <interviewLabel>TeamForce_Populate_CRM_Analyst_field-33_InterviewLabel</interviewLabel>
    <label>TeamForce: Populate CRM Analyst field and related country</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>WhichAnalyst</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CRM Analyst</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CRM_Analyst__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0350056960</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related Country</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>related_Country__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_9984301514</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>WhichAnalyst</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CRM Analyst</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CRM_Analyst__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_1947459751</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related Country</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>related_Country__c</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_3377940902</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
