src/flows/Teamforce_User_Story_Create_Teamforce_User_Story_Test.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Teamforce_User_Story_Test_Assign_Value</name>
        <label>Teamforce User Story Test Assign Value</label>
        <locationX>1445</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>TeamforceUserStoryTestDraft.Test_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamforceUserStoryTestDraft.TeamForce_User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamforceUserStoryTestDraft.User_Story_Test_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Story_Detail.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamforceUserStoryTestDraft.TMFC_As__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Test_Script_Selected.TMFC_As__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamforceUserStoryTestDraft.TMFC_I_want_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Test_Script_Selected.TMFC_I_want_to__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamforceUserStoryTestDraft.TMFC_So_that__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Test_Script_Selected.TMFC_So_that__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamforceUserStoryTestDraft.TeamForce_Test_Script__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Test_Script_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamforceUserStoryTestDraft.Test_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Teamforce_User_Story_Test_List_Draft</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TeamforceUserStoryTestDraft</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Test_Script_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Teamforce_User_Story_Test_to_Insert_assignment</name>
        <label>Teamforce User Story Test to Insert assignment</label>
        <locationX>1216</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>TeamforceUserSToryTestToInsert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_User_Story_Test_Details_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_Teamforce_User_Story_Test_To_Ins</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TeamforceUserSToryTestToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Story_Test_Details_Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TeamforceTestScriptSelectionScreenFooter</name>
        <dataType>String</dataType>
        <value>
            <stringValue> NB: If none available, be sure records with &apos;Ready To Use &apos; Status and the Product needed exists in the System.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Help Text message to inquire the User to select which Test Script wants to copy</description>
        <name>TeamforceTestScriptSelectionScreenHelpTextHeader</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please, choose the Test Scripts you need for your User Story.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_User_Story_Product</name>
        <label>Check User Story Product</label>
        <locationX>690</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Story_Detail.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Teamforce_Test_Script</targetReference>
            </connector>
            <label>Product Filled</label>
        </rules>
        <rules>
            <name>Product_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Story_Detail.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Story_Product_Missing</targetReference>
            </connector>
            <label>Product Missing</label>
        </rules>
    </decisions>
    <description>Flow created</description>
    <environments>Default</environments>
    <interviewLabel>Teamforce User Story: Create Teamforce User Story Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Teamforce User Story: Create Teamforce User Story Test</label>
    <loops>
        <name>For_Each_Test_Script_Selected</name>
        <label>For Each Test Script Selected</label>
        <locationX>1135</locationX>
        <locationY>179</locationY>
        <collectionReference>TeamForce_Test_Scripts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Teamforce_User_Story_Test_Assign_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Story_Test_Details_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_User_Story_Test_Details_Loop</name>
        <label>Update User Story Test Details_Loop</label>
        <locationX>1070</locationX>
        <locationY>372</locationY>
        <collectionReference>Teamforce_User_Story_Test_List_Draft</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_User_Story_Test_Scenario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Teamforce_Test_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Teamforce_Test_records</name>
        <label>Create Teamforce Test records</label>
        <locationX>1038</locationX>
        <locationY>659</locationY>
        <inputReference>Final_Teamforce_User_Story_Test_To_Ins</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Teamforce_Test_Script</name>
        <label>Get Teamforce Test Script</label>
        <locationX>867</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Teamforce_Test_Script_Selection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Story_Detail.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TMFC_Test_Script_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Use</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TMFC_TeamForce_Test_Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get User Story Detail</description>
        <name>Get_User_Story_Detail</name>
        <label>Get User Story Detail</label>
        <locationX>439</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Story_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TMFC_TeamForce_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Teamforce_Test_Script_Selection_Screen</name>
        <label>Teamforce Test Script Selection Screen</label>
        <locationX>1005</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>For_Each_Test_Script_Selected</targetReference>
        </connector>
        <fields>
            <name>TeamforceUserStoryRecap</name>
            <fieldText>Teamforce User Story Recap</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TeamforceUserStoryRecap_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Teamforce_User_Story_Recap</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;User Story: &lt;/strong&gt;&lt;em style=&quot;font-size: 18px;&quot;&gt;{!Get_User_Story_Detail.TMFC_User_Story_Text__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>User_Story_Product</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;User Story Product: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_User_Story_Detail.Product__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Teamforce_Test_Script</name>
            <fieldText>Teamforce Test Script</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Teamforce_Test_Script_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Teamforce_Test_Script_Table_Header</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!TeamforceTestScriptSelectionScreenHelpTextHeader}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TeamForce_Test_Scripts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>TMFC_TeamForce_Test_Script__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>TeamForce Test Scripts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Teamforce_Test_Script</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;TMFC_Scenario__c&quot;,&quot;guid&quot;:&quot;column-f077&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Scenario&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;TMFC_Test_Description__c&quot;,&quot;guid&quot;:&quot;column-9f91&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Test Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product__c&quot;,&quot;guid&quot;:&quot;column-6df3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Product&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TMFC_Expected_Result__c&quot;,&quot;guid&quot;:&quot;column-c2cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Expected Result&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TMFC_Persona_c__c&quot;,&quot;guid&quot;:&quot;column-8151&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Persona&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Device__c&quot;,&quot;guid&quot;:&quot;column-c84e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Device&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Platform__c&quot;,&quot;guid&quot;:&quot;column-9214&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Platform&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Teamforce_Test_Script_Table_Footer</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;{!TeamforceTestScriptSelectionScreenFooter}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Teamforce_Test_Script_Selection_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Teamforce_Test_Script_Selection_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_User_Story_Test_Scenario</name>
        <label>Update User Story Test Scenario</label>
        <locationX>1216</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Teamforce_User_Story_Test_to_Insert_assignment</targetReference>
        </connector>
        <fields>
            <name>Update_User_Story_Test_Scenario_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_User_Story_Test_Scenario_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_User_Story_Header</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please, change the information accordingly your needs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Once you are done click finish to create your  User Story Tests.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_User_Story_Test_Scenario_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Test_Scenario</name>
            <fieldText>Test Scenario</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Test_Scenario_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Update_User_Story_Test_Details_Loop.TMFC_As__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Update_User_Story_Test_Details_Loop.TMFC_I_want_to__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Update_User_Story_Test_Details_Loop.TMFC_So_that__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Update_User_Story_Test_Scenario_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_User_Story_Test_Scenario_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Update_User_Story_Test_Details_Loop.Test_Priority__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_User_Story_Test_Scenario_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TestDetails</name>
            <fieldText>Test Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TestDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Update_User_Story_Test_Details_Loop.Test_Status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TestDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Update_User_Story_Test_Details_Loop.Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Update_User_Story_Test_Details_Loop.TeamForce_Test_Sandbox__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Test_Execution</name>
            <fieldText>Test Execution</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Test_Execution_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Update_User_Story_Test_Details_Loop.Tester__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Test_Execution_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Update_User_Story_Test_Scenario_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_User_Story_Test_Scenario_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Update_User_Story_Test_Details_Loop.UAT_Test_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_User_Story_Test_Scenario_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Update_User_Story_Test_Details_Loop.QA_Test_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Story_Product_Missing</name>
        <label>User Story Product  Missing</label>
        <locationX>696</locationX>
        <locationY>419</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingProductMessageDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!MissingProductMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>Get_User_Story_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Final_Teamforce_User_Story_Test_To_Ins</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TeamForce_User_Story_Test__c</objectType>
    </variables>
    <variables>
        <name>MissingProductMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The Product information is missing in your User Story, please fill this information before creating the UserStory Test records</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Teamforce_User_Story_Test_List_Draft</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TeamForce_User_Story_Test__c</objectType>
    </variables>
    <variables>
        <name>TeamforceUserStoryTestDraft</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TeamForce_User_Story_Test__c</objectType>
    </variables>
    <variables>
        <name>TeamforceUserSToryTestToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TeamForce_User_Story_Test__c</objectType>
    </variables>
</Flow>
