src/flows/User_Before_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>For_Each_Custom_Metadata_Record</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!$Label.Deactivate_User_Error_Message}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decision_1</name>
        <label>User is referenced in custom metadata</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_referenced_in_custom_metadata</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Custom_Metadata_Record.DefaultCampaignOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Custom_Metadata_Record.DefaultLeadOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Custom_Metadata_Record.DefaultProcedureTrackerOwnerId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Custom_Metadata_Record.DefaultCampaignOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>User_Id_15_Format</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Custom_Metadata_Record.DefaultLeadOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>User_Id_15_Format</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Custom_Metadata_Record.DefaultProcedureTrackerOwnerId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>User_Id_15_Format</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error_Message</targetReference>
            </connector>
            <label>User is referenced in custom metadata</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>User_Id_15_Format</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Id}, 15)</expression>
    </formulas>
    <interviewLabel>User: Before Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Before Handler</label>
    <loops>
        <name>For_Each_Custom_Metadata_Record</name>
        <label>For Each Custom Metadata Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Query_Lead_Opportunity_Custom_Metadata_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Lead_Opportunity_Custom_Metadata_Records</name>
        <label>Query Lead &amp; Opportunity Custom Metadata Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Custom_Metadata_Record</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeadOpportunitySetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Lead_Opportunity_Custom_Metadata_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
